{include file="common/head"/}
<div class="main-container" id="main-container">
    <link rel="stylesheet" href="__STATIC__/Css/nks/index.css"/>
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="se" style="display: none">
            <?php echo session('a_username'); ?>
        </div>
        <div class="main-content-inner">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="row maintop">
                        <form name="admin_list_sea" class="form-search" method="post" action="{:url('management')}">
                            <div class="col-xs-12 col-sm-6 btn-sespan">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-search"></i>
                                </span>
                                    <input type="text" value="{$whname}" name="val" id="val"
                                           class="form-control search-query admin_sea" placeholder="输入需查询的用户名"/>
                                    <span class="input-group-btn">
                                    <button type="submit" class="btn btn-xs btm-input btn-purple">
                                        搜索
                                    </button>
                                </span>
                                </div>
                            </div>
                            <div class="input-group-btn">
                                <a href="{:url('')}">
                                    <button type="button" class="btn btn-xs all-btn btn-purple">
                                        <span class="ace-icon fa fa-refresh icon-on-right bigger-110"></span>
                                        显示全部
                                    </button>
                                </a>
                            </div>
                            <div class="input-group-btn">
                                <a href="excelorder">
                                    <button type="button" class="btn btn-xs all-btn btn-purple">
                                        <span></span>
                                        导出订单
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table id="simple-table"
                                               class="table table-striped table-bordered table-hover center">
                                            <thead>
                                            <tr>
                                                <th class="center">类型</th>
                                                <th class="center">用户名</th>
                                                <th class="center">服务类别</th>
                                                <th class="center">数量</th>
                                                <th class="center">单价</th>
                                                <th class="center">金额</th>
                                                <th class="center">订单状态</th>
                                                <th class="center">订单日期</th>
                                                <th class="center">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {volist name="$data" id="v"}
                                            <tr>
                                                <td>{if condition='$v.type eq 1'}个人{else /}企业{/if}</td>
                                                <td>{$v.username}</td>
                                                <td>{$v.typename}</td>
                                                <td>{$v.number}</td>
                                                <td>{$v.money}</td>
                                                <td>{$v.money}</td>
                                                <td>{if condition='$v.ordertype eq 1'}已下单{else /}订单异常{/if}</td>
                                                <td>{$v.ordertime}</td>
                                                <td>
                                                    <div class="action-buttons">
                                                        <!--<a class="blue" href="javascript:;" onclick="return del({$v.id},this);" title="详情">-->
                                                        <a class="blue" href="javascript:;"
                                                           onclick="return details({$v.orid})"
                                                           title="详情">
                                                            <i class="ace-icon fa fa-list-alt bigger-130"></i> </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {/volist}
                                            <tr>
                                                 
                                                <td colspan="16"  align="center">&nbsp;{$page}
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                        <div id="details" style="display: none;">
                                            <table class="messages" style="width: 600px;margin: 0 auto;">
                                                <tr style="border: 1px solid #ccc">
                                                    <td colspan="4" width="150"
                                                        style="text-align: center;height: 35px;font-size: 22px">订单
                                                    </td>
                                                </tr>
                                                <tr style="border: 1px solid #ccc">
                                                    <td width="150" style="text-align: right;height: 35px">类型：</td>
                                                    <td class="type" width="60"
                                                        style="text-align: left;border-right: 1px solid #ccc">
                                                    </td>
                                                    <td width="60" style="text-align: right">用户：</td>
                                                    <td class="names" width="150" style="text-align: left"></td>
                                                </tr>
                                                <tr style="border: 1px solid #ccc">
                                                    <td style="text-align: right;height: 35px">服务类别：</td>
                                                    <td class="ftype"
                                                        style="text-align: left;border-right: 1px solid #ccc"></td>
                                                    <td style="text-align: right">数量：</td>
                                                    <td class="numb" style="text-align: left"></td>
                                                </tr>
                                                <tr style="border: 1px solid #ccc">
                                                    <td style="text-align: right;height: 35px">单价：</td>
                                                    <td class="onemoney"
                                                        style="text-align: left;border-right: 1px solid #ccc"></td>
                                                    <td style="text-align: right">金额：</td>
                                                    <td class="money" style="text-align: left"></td>
                                                </tr>
                                                <tr style="border: 1px solid #ccc">
                                                    <td style="text-align: right;height: 35px">订单状态：</td>
                                                    <td class="dtype"
                                                        style="text-align: left;border-right: 1px solid #ccc"></td>
                                                    <td style="text-align: right">订单日期：</td>
                                                    <td class="times" style="text-align: left"></td>
                                                </tr>
                                                <tr class="tr" style="border: 1px solid #ccc">
                                                    <td colspan="4" width="150"
                                                        style="text-align: center;height: 35px;font-size: 22px">留言
                                                    </td>
                                                </tr>
                                                <table style="width: 600px;margin: 0 auto;">
                                                    <tr>
                                                        <td colspan="4" width="150" style="text-align: left;height: 35px;">
                                                        <textarea class="test"
                                                                style="max-width:600px;margin-top: 5px;min-width: 390px"
                                                                placeholder="此处发送消息"></textarea>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" width="150" style="text-align: right;height: 35px;">
                                                            <div>
                                                                <button onclick="message()"
                                                                        class="btn btn-minier"
                                                                        style="background: #82AF6F !important;border-color:#82AF6F ">
                                                                    发送
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </table>

                                        </div>


                                    </div>
                                </div><!-- /.span -->
                            </div><!-- /.row -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->

            </div>
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
</body>
<script type="text/javascript">
    function starttype(id) {
        $.post('{:url("starttype")}', {'id': id}, function (data) {

                if (data == 0) {
                    var val = '<button class="btn btn-minier btn-danger">禁用</button>'
                    $('.statype').html(val);
                    return false
                }

                if (data == 1) {
                    var val = '<button class="btn btn-minier btn-yellow">开启</button>'
                    $('.statype').html(val);
                    return false
                }
            }
        )
    }

    function details(id) {
        layer.open({
            title: '订单详情',
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['650px', ''], //宽高
            content: $('#details'),
            cancel: function (index, layero) {
                $(".type").html('--')
                $(".names").html('--')
                $(".ftype").html('--')
                $(".numb").html('--')
                $(".onemoney").html('--')
                $(".money").html('--')
                $(".times").html('--')
                $(".dtype").html('--')
                $(".messages tr:gt(5)").remove();
            }
        });

        $.post('{:url("details")}', {'id': id}, function (data) {

                console.log(data);
                window.winid = data['orid']
                if (data['type'] == 1) {
                    $(".type").html('个人')
                } else {
                    $(".type").html('企业')
                }
                $(".names").html(data['username'])
                $(".ftype").html(data['name'])
                $(".numb").html(data['number'])
                $(".onemoney").html(data['money'])
                $(".money").html(data['money'])
                $(".times").html(data['ordertime'])
                if (data['ordertype'] == 1) {
                    $(".dtype").html('已下单')
                } else {
                    $(".dtype").html('订单异常')
                }
                var message = data['message'];
                var trHtml='';
                $.each(message,function (k,v) {
                    trHtml+="<tr style='border: 1px solid #ccc'>" +
                        "<td colspan='4' width='150' style='text-align: left;height: 35px;'>" +
                        '&nbsp;&nbsp;&nbsp;&nbsp;'+
                        message[k].name+
                        ':' +
                        message[k].message_content+
                        "</td>" +
                        "</tr>";
                })
            $(".tr").after(trHtml);
            }
        )

    }

    function message() {

        var text = $('.test').val();
        var session = $('.se').html().trim();
        $.post('{:url("message")}', {'id': winid,'value':text,'name':session}, function (data) {
            var data = JSON.parse(data)
            console.log(data)
            if (data['code']==1){
                $('.test').val('');
                $(".messages tr:gt(5)").remove();
                $.post('{:url("details")}', {'id': winid}, function (data) {
                    // window.winid = data['orid']
                    var message = data['message'];
                    var trHtml='';
                    $.each(message,function (k,v) {
                        trHtml+="<tr style='border: 1px solid #ccc'>" +
                            "<td colspan='4' width='150' style='text-align: left;height: 35px;'>" +
                            '&nbsp;&nbsp;&nbsp;&nbsp;'+
                            message[k].name+
                            ':' +
                            message[k].message_content+
                            "</td>" +
                            "</tr>";
                    })
                    $(".tr").after(trHtml);
                })

            }

            }
        )
    }
</script>
</html>


