{include file="common/head"/}
<div class="main-container" id="main-container">
    <link rel="stylesheet" href="__STATIC__/Css/nks/index.css"/>
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="row maintop">
                        <form name="admin_list_sea" class="form-search" method="post" action="{:url('userdetails')}">
                            <div class="col-xs-12 col-sm-6 btn-sespan">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-search"></i>
                                </span>
                                    <input type="text" value="{$whname}" name="val" id="val" class="form-control search-query admin_sea" placeholder="输入需查询的用户名"/>
                                    <span class="input-group-btn">
                                    <button type="submit" class="btn btn-xs btm-input btn-purple">
                                        搜索
                                    </button>
                                </span>
                                </div>
                            </div>
                            <!--<div class="input-group-btn">-->
                                <!--<a href="{:url('adminList')}">-->
                                    <!--<button type="button" class="btn btn-xs all-btn btn-purple">-->
                                        <!--<span class="ace-icon fa fa-refresh icon-on-right bigger-110"></span>-->
                                        <!--显示全部-->
                                    <!--</button>-->
                                <!--</a>-->
                            <!--</div>-->
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table id="simple-table" class="table table-striped table-bordered table-hover center">
                                                <tr>
                                                    <!--<th class="center">类型</th>-->
                                                    <th class="center">用户名</th>
                                                    <th class="center">性别</th>
                                                    <th class="center">手机号</th>
                                                    <!--<th class="center">省市区</th>-->
                                                    <!--<th class="center">详细地址</th>-->
                                                    <!--<th class="center">企业名称</th>-->
                                                    <!--<th class="center">行业</th>-->
                                                    <!--<th class="center">社会信用代码</th>-->
                                                    <!--<th class="center">法人</th>-->
                                                    <!--<th class="center">注册资本</th>-->
                                                    <!--<th class="center">营业执照</th>-->
                                                    <!--<th class="center">注册时间</th>-->
                                                    <!--<th class="center">营业状态</th>-->
                                                    <!--<th class="center">备注</th>-->
                                                    <th class="center" style="border-right:1px solid #ddd; ">操作</th>
                                                </tr>

                                            {volist name="$data" id="v"}

                                            <tr>
                                                <!--<td>{if condition='$v.type eq 1'}个人{else /}企业{/if}</td>-->
                                                <td>{$v.name}</td>
                                                <td>{if condition='$v.sex eq 1'}男{elseif condition='$v.sex eq 2'/}女{else/}保密{/if}</td>
                                                <td>{$v.iphone}</td>
                                                <!--<td>{$v.pcd}</td>-->
                                                <!--<td>{$v.address}</td>-->
                                                <!--<td>{$v.companyname}</td>-->
                                                <!--<td>{$v.industry}</td>-->
                                                <!--<td>{$v.social_credit_code}</td>-->
                                                <!--<td>{$v.legal_person}</td>-->
                                                <!--<td>{$v.registered_capital}万元</td>-->
                                                <!--<td>-->
                                                    <!--<img src="http://pic3.newssc.org/upload/0028000000000/news/20200302/1583130802018.png" style="height: 20px;">-->
                                                <!--</td>-->
                                                <!--<td>{$v.registration_date}</td>-->
                                                <!--<td>{$v.status}</td>-->
                                                <!--<td>{$v.note}</td>-->
                                                <td>
                                                    {if condition='$v.yesno eq 1'}
                                                    <a class="red" href="javascript:;" onclick="return starttype({$v.id},this)" title="已开启">
                                                        <div class="statype">
                                                            <button class="btn btn-minier btn-yellow">开启</button>
                                                        </div>
                                                    </a>
                                                    {else/}
                                                    <a class="red" href="javascript:;" onclick="return starttype({$v.id},this)" title="已禁用">
                                                        <div class="statype">
                                                            <button class="btn btn-minier btn-danger">禁用</button>
                                                        </div>
                                                    </a>
                                                    {/if}
                                                </td>
                                            </tr>

                                            {/volist}
                                            <tr>
                                                <td colspan="16" align="center">
                                                {$page}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div><!-- /.span -->
                            </div><!-- /.row -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->

            </div>
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
</body>
<script type="text/javascript">
    function starttype(id,that) {
        $.post('{:url("starttype")}', {'id':id}, function (data) {

            if(data==0){
                var val = '<button class="btn btn-minier btn-danger">禁用</button>'
                $(that).html(val);
                return false
            }

            if (data==1){
                var val = '<button class="btn btn-minier btn-yellow">开启</button>'
                $(that).html(val);
                return false
            }
            }
        )
    }
</script>
</html>


