{include file="common/head"/}
<div class="main-container" id="main-container">
    <link rel="stylesheet" href="__STATIC__/Css/nks/index.css"/>
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="row maintop">
                        <div class="col-xs-12 col-sm-2">
                            <a href="{:url('typeAdd')}">
                                <button class="btn btn-xs btn-danger">
                                    <i class="ace-icon fa fa-plus bigger-110"></i>
                                    添加资讯分类
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table id="simple-table" class="table table-striped table-bordered table-hover center">
                                            <thead>
                                                <tr>
                                                    <th class="center">id</th>
                                                    <th class="center visible-lg visible-md">分类名称</th>
                                                    <th class="center">显示状态</th>
                                                    <th class="center" style="border-right:1px solid #ddd; ">操作</th>
                                                </tr>
                                            </thead>

                                            {volist name="data" id="v" key="key"}

                                            <tbody>
                                                <tr>
                                                    <td class="center">{$key}</td>
                                                    <td class="center visible-lg visible-md">{$v.name}</td>
                                                    <td>
                                                        {if condition="$v.str" eq 1}
                                                        <a class="red" href="javascript:;" title="已开启" onclick="return stateyes({$v.id},{$v.str});">
                                                            <div id="zt{$v.id}">
                                                                <button class="btn btn-minier btn-yellow">状态开启</button>
                                                            </div>
                                                        </a>
                                                        {else/}
                                                        <a class="red" href="javascript:;" title="已禁用" onclick="return stateyes({$v.id},{$v.str});">
                                                            <div id="zt{$v.id}">
                                                                <button class="btn btn-minier btn-danger">状态禁用</button>
                                                            </div>
                                                        </a>
                                                        {/if}
                                                    </td>
                                                    <td class="center" style="border-right:1px solid #ddd; ">
                                                        <div class="action-buttons">
                                                            <a class="green" href="{:url('typeEdit',['id'=>$v.id])}" title="修改">
                                                                <i class="ace-icon fa fa-pencil bigger-130"></i> </a>
                                                            <a class="red" href="javascript:;" onclick="return del({$v.id});" title="删除">
                                                                <i class="ace-icon fa fa-trash-o bigger-130"></i> </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            {/volist}
                                        </table>
                                    </div>
                                </div><!-- /.span -->
                            </div><!-- /.row -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->

            </div>
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
</body>
</html>
<!--让背景变成蓝色-->
<script type="text/javascript">
    function stateyes(id,str) {

        $.post('{:url("isiclasstype")}',{'id':id},function (data) {
            if (data==1){
                layer.confirm('禁用后当前分类下的产品将被隐藏', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    $.post('{:url("iclasstype")}',{'id':id,'str': str},function (data) {
                        console.log(data)
                        // document.location.reload()
                        if (data.status==1) {
                            if (data.info == '状态禁止') {
                                var a = '<button class="btn btn-minier btn-danger">状态禁用</button>'
                                $('#zt' + id).html(a);
                                layer.closeAll('dialog');
                                return false;
                            } else {
                                var b = '<button class="btn btn-minier btn-yellow">状态开启</button>'
                                $('#zt' + id).html(b);
                                layer.closeAll('dialog');
                                return false;
                            }
                        }else{
                            layer.alert(data.info, {icon: 4});

                            return false;
                        }
                    });
                    return false;
                }, function(){

                });
            }else {
                $.post('{:url("iclasstype")}',{'id':id,'str': str},function (data) {
                    console.log(data)
                    // document.location.reload()
                    if (data.status==1) {
                        if (data.info == '状态禁止') {
                            var a = '<button class="btn btn-minier btn-danger">状态禁用</button>'
                            $('#zt' + id).html(a);
                            return false;
                        } else {
                            var b = '<button class="btn btn-minier btn-yellow">状态开启</button>'
                            $('#zt' + id).html(b);
                            return false;
                        }
                    }else{
                        layer.alert(data.info, {icon: 4});
                        return false;
                    }
                });
                return false;
            }

        });

    }
    //删除type
    function del(id){






        $.post('{:url("isiclasstype")}',{'id':id},function (data) {
            if (data==1){
                layer.alert('当前分类下有有未删除的产品，无法删除')

            }else {
                layer.confirm('确定要删除吗？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    $.post('{:url("type_del")}',{'id':id},function (data) {
                        if(data.status==1){
                            layer.alert("删除成功!");
                            window.location.reload();
                        }else{
                            layer.alert(data.info);
                        }
                    })
                }, function(){

                });
            }

        });


    }
</script>

