{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <!-- 图片上传样式 -->
    <style>
        #imgPreview {
            width: 160px;
            height: 160px;
            /*margin: 10px auto 0px auto;*/
            border: 1px solid rgb(213,213,213);
            text-align: center;
            display: flex;
            flex-direction: row;
        }
        #prompt3 {
            width: 100%;
            height: 180px;
            text-align: center;
            position: relative;
        }
        #imgSpan {
            position: absolute;
            top: 70px;
            left: 40px;
        }
        .filepath {
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        #img3 {
            height: auto;
            width: 100%;
            display: none;
        }
        #del{
            display: none;
            margin-left: -15px;
            top: 5px;
        }
        #del img{
            width: 16px;
            height: 16px;
        }
    </style>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- include file="common/header_nav" -->
            <div class="page-header">
                <h1>
                    您当前操作
                    <small>
                        <a href="{:url('index')}">产品列表</a>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        修改产品
                    </small>
                </h1>
            </div><!-- /.page-header -->
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" name="goodsInsert" id="goodsInsert" method="post"
                              action="{:url('goodsEditSave')}">
                              <input type="hidden" name="id" value="{$goodsInfo.id}" />
                              <div class="form-group">
                                  <label class="col-sm-2 control-label no-padding-right" for="name">产品名称</label>
                                  <div class="col-sm-10 col-xs-12">
                                      <input type="text" name="name" value="{$goodsInfo.name}" id="name" placeholder="请输入产品名称"
                                             class="col-xs-12 col-md-4"/>
                                      <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                  </div>
                              </div>
                              <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="type_id">产品分类{$Think.session.a_id}</label>
                                <div class="col-sm-10 col-xs-12">
                                    <select name="type_id" id="type_id" class="col-select col-xs-12 col-sm-4">
                                        <option value="">请选择产品所属分类</option>
                                        {foreach name="catelist" id="v"}
                                        <option value="{$v.typeId}" {if condition="$v.typeId eq $goodsInfo.type_id"}selected{/if} >{$v.typeName}</option>
                                        {/foreach}
                                    </select>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="sort">产品排序</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="number" name="sort" value="{$goodsInfo.sort}" id="sort" placeholder="排序方式为升序"
                                           class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="price">产品价格</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="number" name="price" value="{$goodsInfo.price}" id="price" placeholder="请输入产品价格"
                                           class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <!-- <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="price_old">原价格</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="number" name="price_old" value="{$goodsInfo.price_old}" id="price_old" placeholder="请输入原价格"
                                           class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div> -->

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="introduce">产品简介</label>
                                <div class="col-sm-10 col-xs-12">
                                    <textarea rows="3" cols="40" name="introduce" id="introduce">{$goodsInfo.introduce}</textarea>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>最多250个字符</span>
                                </div>
                            </div>
                            <div class="space-4"></div>



                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="image">产品图</label>
                                <div class="col-sm-10 col-xs-12">
                                    <div id="imgPreview">
                                        <div id="prompt3">
                                             <span id="imgSpan">
                                             点击上传+
                                             </span>
                                            <input type="file" id="image" class="filepath" name="image" onchange="changepic(this)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                                            <!--当vaule值改变时执行changepic函数，规定上传的文件只能是图片-->
                                        </div>
                                        <img src="/uploadinformimg/{$goodsInfo.image}" id="img3" />
                                        <div id="del" onclick="delimg()">
                                            <img src="__STATIC__/img/del.png" />
                                            <input value="{$goodsInfo.image}" type="hidden" name="img"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">原相关协议</label>
                                <div class="col-sm-10 col-xs-12">
                                    <a href="/uploadinformimg/{$goodsInfo.word}" target="_blank">{$goodsInfo.wordname}</a>
                                    <input type="hidden" name="word" value="{$goodsInfo.word}" />
                                    <input type="hidden" name="wordname" value="{$goodsInfo.wordname}" />
                                    <!--<span class="lbl">&nbsp;&nbsp;<span class="red">*</span>支持格式：doc、xls、pdf、txt</span>-->
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="introduce">相关协议</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="file" name="agreement" />
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>支持格式：doc、xls、pdf、txt</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            
                            <!-- 产品详细信息 -->
                            <ul id="goodsContent" class="nav nav-tabs">
                                <li class="active">
                                    <a href="#introduction_nav" data-toggle="tab">
                                         产品介绍
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#process_nav" data-toggle="tab">
                                        产品流程介绍
                                    </a>
                                </li> -->
                            </ul>
                            <div id="introduction_nav">
                                <!-- 产品介绍 -->
                                <script type="text/plain" name="introduction" id="myEditor-introduction" style="width:100%;height:240px;">
                                    {$goodsInfo.introduction}
                                </script>
                            </div>
                            <ul id="goodsContent" class="nav nav-tabs" style="margin-top: 50px;">
                                <li class="active">
                                    <a href="#process_nav" data-toggle="tab">
                                        产品流程介绍
                                    </a>
                                </li>
                            </ul>
                            <div id="process_nav">
                                <!-- 产品流程介绍 -->
                                <script type="text/plain" name="process" id="myEditor-process" style="width:100%;height:240px;">
                                    {$goodsInfo.process}
                                </script>
                            </div>

                            <div class="space-4"></div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!-- 多文件上传 -->
            
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>

<link type="text/css" href="__STATIC__/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script type="text/javascript" src="__STATIC__/ztree/js/jquery.ztree.core.js"></script>


</body>
<script type="text/javascript">
    $(function () {
        $('#goodsInsert').ajaxForm({
            beforeSubmit: checkForm, //此方法主要是提交前执行的方法，根据需要设置
            success: complete, //这是提交后的方法
            dataType: 'json'
        });

        function checkForm() {
            if ('' == $.trim($('#name').val())) {
                layer.alert('请输入产品名!', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#name').focus();
                });
                return false;
            }
            if ('' == $.trim($('#type_id').val())) {
                layer.alert('产品类别不能为空!', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#type_id').focus();
                });
                return false;
            }

            // var username = $.trim($('input[name="username"]').val()); //获取INPUT值
            // // var myReg = /^[\u4e00-\u9fa5]+$/;//验证中文
            // if (username.indexOf(" ") >= 0) {
            //     layer.alert('登录用户名包含了空格，请重新输入!', {icon: 5}, function (index) {
            //         layer.close(index);
            //         $('#username').focus();
            //     });
            //     return false;
            // }

            // if (myReg.test(username)) {
            //     layer.alert('用户名必须是字母，数字，符号', {icon: 5}, function (index) {
            //         layer.close(index);
            //         $('#username').focus();
            //     });
            //     return false;
            // }
            
            if ('' == $.trim($('#sort').val())) {
                layer.alert('请输入正确的排序', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#sort').focus();
                });
                return false;
            }
            if ('' == $.trim($('#price').val())) {
                layer.alert('请输入正确的价格', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#price').focus();
                });
                return false;
            }
            // if ('' == $.trim($('#price_old').val())) {
            //     layer.alert('请输入正确的价格', {icon: 5}, function (index) {
            //         layer.close(index);
            //         $('#price_old').focus();
            //     });
            //     return false;
            // }
            // if ('' == $.trim($('#introduce').val())) {
            //     layer.alert('产品简介不能为空', {icon: 5}, function (index) {
            //         layer.close(index);
            //         $('#introduce').focus();
            //     });
            //     return false;
            // }
            // if ('' == $.trim($('#introduction').val())) {
            //     layer.alert('产品介绍不能为空', {icon: 5}, function (index) {
            //         layer.close(index);
            //         $('#introduction').focus();
            //     });
            //     return false;
            // }

            // if ('' == $.trim($('#process').val())) {
            //     console.log($.trim($('#process').val()))
            //     layer.alert('产品服务流程不能为空', {icon: 5}, function (index) {
            //         layer.close(index);
            //         $('#process').focus();
            //     });
            //     return false;
            // }
        }

        function complete(data) {
            if (data.status == 1) {
                layer.alert(data.info, {icon: 1}, function (index) {
                    layer.close(index);
                    window.location.href = data.url;
                });
            } else {
                layer.alert(data.info, {icon: 5}, function (index) {
                    layer.close(index);
                });
                return false;
            }
        }
    });

</script>
<!--  富文本JS -->
<script type="text/javascript" src="/Baidu/umeditor.config.js" charset="utf-8" ></script>
<script type="text/javascript" src="/Baidu/umeditor.min.js" charset="utf-8" ></script>
<script type="text/javascript" src="/Baidu/lang/zh-cn/zh-cn.js"></script>
<!-- 富文本编辑器——myEditor-introduction -->
<script type="text/javascript">
var img3 = document.getElementById('img3').src
    if(img3){
        $("#img3").css("display", "block");
        $("#del").css("display", "block");
        $("#prompt3").css("display", "none");

    }
    //实例化编辑器
    var um = UM.getEditor('myEditor-introduction');
    var umProcess = UM.getEditor('myEditor-process');
    
    um.addListener('blur',function(){
        
    });
    um.addListener('focus',function(){
        $('#focush2').html('')
    });
    //按钮的操作
    function insertHtml() {
        var value = prompt('插入html代码', '');
        um.execCommand('insertHtml', value)
        umProcess.execCommand('insertHtml', value)
    }
    function isFocus(){
        alert(um.isFocus())
    }
    function doBlur(){
        um.blur()
    }
    function createEditor() {
        enableBtn();
        um = UM.getEditor('myEditor-introduction');
        umProcess = UM.getEditor('myEditor-process');
    }
    function getAllHtml() {
        alert(UM.getEditor('myEditor-introduction').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UM.getEditor('myEditor-introduction').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UM.getEditor('myEditor-introduction').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用umeditor')方法可以设置编辑器的内容");
        UM.getEditor('myEditor-introduction').setContent('欢迎使用umeditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UM.getEditor('myEditor-introduction').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UM.getEditor('myEditor-introduction').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UM.getEditor('myEditor-introduction').selection.getRange();
        range.select();
        var txt = UM.getEditor('myEditor-introduction').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UM.getEditor('myEditor-introduction').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UM.getEditor('myEditor-introduction').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UM.getEditor('myEditor-introduction').focus();
    }
    function deleteEditor() {
        disableBtn();
        UM.getEditor('myEditor-introduction').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

</script>
<!-- 图片编辑器  -->
<script type="text/javascript">
    function changepic() {
        $("#prompt3").css("display", "none");
        var reads = new FileReader();
        f = document.getElementById('image').files[0];
        reads.readAsDataURL(f);
        reads.onload = function(e) {
            document.getElementById('img3').src = this.result;
            $("#img3").css("display", "block");
            $("#del").css("display", "block");
        };
    };
    function delimg() {
        $("#image").val('');
        $("#prompt3").css("display", "block");
        $("#img3").css("display", "none");
        $("#del").css("display", "none");
    }
</script>


</html>