{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <style>
        /* 超出显示 点 */
        .text-overflow{
            overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
        }
    </style>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- include file="common/header_nav" -->
            <div class="page-content">
                <div class="row maintop">
                    <div class="col-xs-12 col-sm-2">
                        <a href="{:url('goodsAdd')}">
                            <button class="btn btn-xs btn-danger">
                                <!-- <button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#AddGoods"> -->
                                <i class="ace-icon fa fa-plus bigger-110"></i>
                                添加产品
                            </button>
                        </a>
                    </div>
                    <form name="admin_list_sea" class="form-search form-inline" method="post" action="{:url('index')}">
                        <div class="col-xs-12 col-sm-6 btn-sespan">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-search"></i>
                                </span> 
                                <input style="width:300px;min-width: 200px;" name="valuewhere" class="form-control" value="{$valuewhere}" placeholder="产品名/简介" />
                            </div>
                            <div class="input-group">
                                <select name="type" class="form-control">
                                    <option {if condition="'' eq $type" } selected="selected" value="">产品类型</option>
                                    {volist name="$catelist" id="v"}
                                        <option {if condition="$v['typeId'] eq $type" } selected="selected" {/if} value="{$v.typeId}">{$v.typeName}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="input-group">
                                <select name="status" class="form-control">
                                    <option {if condition="'' eq $status" } selected="selected" {/if} value="">产品状态</option>
                                    {volist name="$statuslist" id="v"}
                                        <option {if condition="$v['statusId'] eq $status" } selected="selected" {/if} value="{$v.statusId}">{$v.statusName}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="input-group-btn">
                            <!-- <a href="{:url('index')}"> -->
                                <button type="submit" class="btn btn-xs btm-input btn-purple">
                                    搜索
                                </button>
                            <!-- </a> -->
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                <table id="simple-table" class="table table-striped table-bordered table-hover center">
                                    <thead>
                                    <tr>
                                        <th class="center">序号</th>
                                        <th class="center">产品名</th>
                                        <th class="center">服务类别</th>
                                        <th class="center">服务主图</th>
                                        <th class="center">服务简介</th>
                                        <th class="center">服务价格</th>
                                        <!-- <th class="center">原价格</th> -->
                                        <th class="center">排序</th>
                                        <th class="center">状态</th>
                                        <th class="center">添加人</th>
                                        <th class="center" style="width: 200px;">添加时间</th>
                                        <th class="center" style="border-right:1px solid #ddd; ">操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {volist name="$goodslist" id="v"}
                                    <tr>
                                        <td style="width: 50px;">{$v.id}</td>
                                        <td style="max-width: 200px;">{$v.name}</td>
                                        <td>{$v.typename}</td>
                                        <td><img class="imageqrcode" src="/uploadinformimg/{$v.image}" height="20px" /></td>
                                        <td title="{$v.introduce}" style="max-width: 250px;" class="text-overflow">{$v.introduce}</td>
                                        <td>{$v.price}</td>
                                        <!-- <td>{$v.price_old}</td> -->
                                        <td>{$v.sort}</td>
                                        <td>
                                            {if condition="$v.str eq 1"}
                                            <div class="btn btn-minier" style="background: #90EE90 !important;border-color:#90EE90;cursor: initial">
                                                显示
                                            </div>
                                            {else/}
                                            <div class="btn btn-minier btn-danger" style="cursor: initial">
                                                隐藏
                                            </div>
                                            {/if}
                                        </td>

                                        <!--<td><span class="label {$statuslist[$v.status]['statusColor']}">{$statuslist[$v.status]['statusName']|default="&#45;&#45;"}</span></td>-->
                                        <td>{$v.creater}</td>
                                        <td>{$v.create_time|default="--"}</td>
                                        <td>
                                            <div class="action-buttons">
                                                <a class="green" href="{:url('goodsEdit',['id'=>$v['id']])}" title="修改">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i> </a>
                                                <a class="red" href="javascript:;" onclick="return del({$v.id});" title="删除">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                    <tr>
                                        <td colspan="11" align="center">&nbsp;{$page}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div><!-- /.span -->
                        </div><!-- /.row -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

        </div>
        <!-- 增加模态框（Modal） -->
        <div class="modal fade" id="AddGoods" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 1000px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            增加商品
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="AddForm">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">产品基本信息</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="goodsName" class="col-sm-2 control-label">产品名称</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="goodsName" placeholder="请输入产品名称">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="goodsType">产品类别</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" id="" placeholder="请输入">
                                          </div>
                                          <!-- <select class="form-control" style="width: 500px;">
                                              volist name="$statuslist" id="v"}
                                              <option value="$v.statusId}">$v.statusName}</option>
                                              {/volist}
                                          </select> -->
                                      </div>
                                      <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">产品主图</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="" placeholder="请输入">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="goodsIntroduce" class="col-sm-2 control-label">产品简介</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="goodsIntroduce" placeholder="请输入茶品简介">
                                        </div>
                                      </div>
                                </div>
                            </div>
                        
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">产品详细信息</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                      <label for="" class="col-sm-2 control-label"></label>
                                      <div class="col-sm-10">
                                        <input type="text" class="form-control" id="" placeholder="请输入">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="" class="col-sm-2 control-label"></label>
                                      <div class="col-sm-10">
                                        <input type="text" class="form-control" id="" placeholder="请输入">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox">请记住我
                                  </label>
                                </div>
                              </div>
                            </div> -->
                            <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">登录</button>
                              </div>
                            </div>

                        </div>
                    </form>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-small" data-dismiss="modal">关闭
                        </button>
                    </div> -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 图片模态款 -->
        <div id="im" style="display: none;">
            <img style="background-size: cover;" src="" />
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
</body>
</html>

<script>
  
    //删除列表
    function del(id){
      layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
            $.post('{:url("goods_del")}',{'id':id},function (data) {
            if(data.status==1){
                layer.alert("删除成功!");
                window.location.reload();
            }else{
                layer.alert(data.info);
            }
        })
      });
        
    }
    // 图片显示
    $('.imageqrcode').click(function () {
        //获得屏幕宽高比 a
        //获得图片宽高比 b
        //如果a>b 定高 高为图片高
        //如果a<b 定宽 宽为图片宽
        var qrimage = this.src;
        var imgSrc = this.src;
        let DocumentWidth = $(document).width()-10;//10为了留边距
        let DocumentHeight=$(document).height()-10;
        $("#im>img").prop("src", qrimage);
        getImageWidth(imgSrc,function(w,h){
            if( DocumentWidth/DocumentHeight > (w/(h+50)) ){
                //这里多加 50 是为了算上模态框的头部高度
                $("#im>img").css('height',DocumentHeight-50);//这里多减 50 是为了 让图片高度小一点，这样可以不出竖直滚条
                layer.open({
                    title:'图片详情',
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area:[w,DocumentHeight] , //宽高
                    content: $("#im")
                });
            }else{
                $("#im>img").css('width',DocumentWidth-50);//这里多减 50 是为了 让图片宽度小一点，这样可以不出水平滚条
                layer.open({
                    title:'图片详情',
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area:[DocumentWidth,h] , //宽高
                    content: $("#im")
                });
            }

        });
    })
    // 返回图片宽
    function getImageWidth(url,callback){
        var img = new Image();
        img.src = url;

        // 如果图片被缓存，则直接返回缓存数据
        if(img.complete){
            callback(img.width, img.height);
        }else{
            // 完全加载完毕的事件
            img.onload = function(){
                callback(img.width, img.height);
            }
        }

    }
</script>