{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        您当前操作
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            添加产品类别
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" name="typeInsert" id="typeInsert" method="post" action="{:url('typeInsert')}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">资讯类别：</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input id="titles" name="titles" type="text" placeholder="输入资讯类别" class="col-xs-12 col-md-4"/>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="status"> 是否启用： </label>
                                <div class="col-sm-10 col-xs-12" style="padding-top:5px;">
                                    <label>
                                        <input name="status" id="status" value="0" class="ace ace-switch ace-switch-5" type="checkbox">
                                        <span class="lbl">&nbsp;&nbsp;默认关闭</span>
                                    </label>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
<script>
    $(function () {
        $('#typeInsert').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });
        function checkForm() {
            if ('' == $.trim($('#titles').val())) {
                layer.alert('资讯类别不能为空', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#titles').focus();
                });
                return false;
            }

        }

        function complete(data) {
            if (data.status == 1) {
                layer.alert('添加成功', {icon: 6}, function (index) {
                    layer.close(index);
                    window.location.href = data.url;
                });
            } else {
                alert(data.info);
                return false;
            }
        }
    });
    $('#status').change(function () {
        var a = $('#status').val();
        if (a==0) {
            $('#status').val('1');
        }else {
            $('#status').val('0');
        }
    })
</script>
</body>
</html>