<template>
  <div class="goods_style">
    <van-sticky>
      <van-dropdown-menu>
        <van-dropdown-item v-model="value" :options="option" @change="onClosed" />
      </van-dropdown-menu>
      <van-search
        v-model="searchValue"
        show-action
        shape="round"
        placeholder="请输入服务关键词"
        @search="onSearch"
        @cancel="onCancel"
      />
    </van-sticky>
    <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
      <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
        <van-card
          :price="item.price"
          :desc="item.introduce"
          :title="item.name"
          :thumb="item.image"
          v-for="(item, index) in goodsList"
          :key="index"
          @click="goodsInfo(item)"
        >
<!--          <template #tags>-->
<!--            <van-tag plain type="danger">new</van-tag>-->
<!--            <van-tag plain type="danger">hot</van-tag>-->
<!--          </template>-->
          <template #bottom>
            <div style="text-align: right">
              <van-button size="small" type="info" :round="false" @click="goodsInfo(item)">详情</van-button>
              <van-button size="small" type="info" :round="false" @click="goodsInfo(item)">下单</van-button>
            </div>
          </template>
        </van-card>
      </van-list>
    </van-pull-refresh>

    <van-empty
      v-show="goodsList.length === 0"
      class="custom-image"
      image="https://img.yzcdn.cn/vant/custom-empty-image.png"
      description="啥也没有~"
    />
    <!-- <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=635455412&site=qq&menu=yes"></a> -->
    <tabbar></tabbar>
  </div>
</template>

<script>
import tabbar from "@/mobile/tabbar/Tabbar.vue";
import { DropdownMenu, DropdownItem, Dialog  } from "vant";
export default {
  name: "Goods",
  data() {
    return {
      // 类型条件
      value: "",
      switch1: false,
      switch2: false,
      option: [
        { text: "全部", value: 0 },
        { text: "新闻", value: 1 },
        { text: "体育", value: 2 }
      ],
      // 输入条件
      searchValue: "",
      // 商品列表
      goodsList: [],
      pageNum: 0,
      pageSize: 5,
      // 列表状态
      loading: false,
      finished: false,
      refreshing: false
    };
  },
  methods: {
    goodsBuy(item){
      if( localStorage.getItem("MobileIsLogin") && localStorage.getItem("MobileIsLogin") === 'true' ){
        let userInfo = JSON.parse(localStorage.getItem("userInfo"))
        let bodyFormData = new FormData();
        bodyFormData.set('goods_id',item.id);
        bodyFormData.set('user_id',userInfo.id)
        this.http.apiPost('Browsinghistory/index',bodyFormData).then(res => {
          Dialog({ message: '下单成功' });
        })
      }else{
        Dialog.alert({
          title: '未登录',
          message: '暂未登录,请先登录再进行下单',
        }).then(() => {
          this.$router.push({ path: "/LoginMobile" });
        });
      }
    },
    goodsInfo(item){
      // this.$router.push({path:'/Goodsinfo',query: {goods:item}})
      this.$router.push({
        name:"Goodsinfo",
        params:{
          name:'item',
          goods:item
        }
      });
    },
    // 下拉 关闭
    onClosed() {
      this.goodsList = [];
      this.pageNum = 0;
      this.onRefresh();
    },
    // 下拉 确定
    onConfirm() {
      this.$refs.item.toggle();
    },
    // 查询
    onSearch() {
      this.goodsList = [];
      this.pageNum = 0;
      this.onRefresh();
    },
    onCancel() {},
    // 获取 列表
    async getList() {
      let type = this.value,
        value = this.searchValue;
      let paramData = {
        page: this.pageNum, //获取页码
        number: this.pageSize
      };
      value ? (paramData["value"] = value) : "";
      type ? (paramData["type"] = type) : "";
      let goodslist = [];
      await this.http.apiGet("servilist/index", paramData).then(result => {
        goodslist = result.data;
      });
      return goodslist;
    },
    // 获取 分类列表
    async getCateList() {
      await this.http.apiGet("servilist/getCateList", {}).then(result => {
        let cateList = result.data.data;
        cateList.unshift({ text: "点击筛选类型", value: 0, remark: "点击筛选类型" });
        this.option = cateList;
        this.value = cateList[0].value; //默认全部
      });
    },
    onLoad() {
      setTimeout(() => {
        if (this.refreshing) {
          this.pageNum = 0
          this.goodsList = [];
          this.refreshing = false;
        }

        // 上拉加载
        this.pageNum++
        this.getList().then(relist => {
          this.goodsList = this.goodsList.concat(relist.data);
          this.loading = false;
          if (relist.data.length == 0) {
            this.finished = true;
          }
        });
      }, 1000);
    },
    // 下拉刷新——真正的数据请求
    onRefresh() {
      // 清空列表数据
      this.finished = false;

      // 重新加载数据
      // 将 loading 设置为 true，表示处于加载状态
      this.loading = true;
      this.onLoad();
    }
  },
  async created() {
    await this.getCateList();
  },
  components: {
    tabbar: tabbar,
  }
};
</script>

<style scoped>
.custom-image {
  margin: 50px auto;
}
.goods_style >>> .van-search__content{
  /* border:1px solid #0b96e5; */
}
.goods_style >>> .van-dropdown-menu__item{
  /*border:1px solid #0b96e5;*/
  background: rgb(189, 227, 248);
  /* border-radius: 15px; */
  /* box-shadow: 0 0 5px #0b96e5; */
}
.goods_style >>> .van-search{
  /* border:1px solid #0b96e5; */
  background: rgb(189, 227, 248);
  /*box-shadow: 0 0 5px #0b96e5;*/
}
.goods_style >>> .van-card{
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  width: 95%;
  margin: 15px auto;
  /*box-shadow: 0px 0px 5px #0b96e5*/
  box-shadow: 0 2px 12px 0 rgba(226,226,226,0.3);
}
.goods_style >>> .van-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods_style >>> .van-image__img{
  width: 100%;
  height: auto;
}
.goods_style >>> .van-card__price{
  color: red;
  font-weight: 700;
}
.goods_style >>> .van-card__title{
  line-height: 22px;
  font-size: 18px;
  height: 28px;
}
.goods_style >>> .van-card__price-currency{
  font-size: 20px;
}



/* 渐变 */
.gradient{
    background: #0b96e5;
    background: -moz-linear-gradient(top,  #0b96e5 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b96e5), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #0b96e5 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #0b96e5 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #0b96e5 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #0b96e5 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b96e5', endColorstr='#ffffff',GradientType=0 );
}
:root .gradient{filter:none;}
</style>
