<template>
  <div class="goodsinfo_style" style="background: #F5F5F5">
    <van-nav-bar title="服务详情" :fixed="false" left-text="返回" left-arrow @click-left="onClickLeft()" />
    <div>
      <van-image
        cover
        style="margin:0 auto;width: 100%;height: 250px"
        :src="goodsInfo.image"
      />
    </div>
    <div style="background: #fff;margin-top: 15px;padding: 10px">
      <div style="color: red;font-size: 18px;font-weight: bolder;">￥{{goodsInfo.price}}</div>
      <div style="margin-top: 10px">{{goodsInfo.name}}</div>
    </div>
    <div class="card_style" style="background: #fff;margin-top: 15px;">
      <div class="card_title">服务简述</div>
      <p class="card_main" v-html="goodsInfo.introduce"></p>
      <!-- <p class="card_main">服务价格 : ￥{{goodsInfo.price}}</p> -->
    </div>
    <div class="card_style" style="background: #fff;margin-top: 15px;">
      <div class="card_title">产品详情</div>
      <p class="card_main" v-html="goodsInfo.introduction"></p>
    </div>
    <div class="card_style" style="background: #fff;margin-top: 15px;">
      <div class="card_title">服务流程</div>
      <p class="card_main" style="" v-html="goodsInfo.process"></p>
    </div>
    <div class="card_style" style="background: #fff;margin: 15px 0 120px;">
      <div class="card_title">服务协议</div>
      <div class="card_main" style="color:#0b96e5;text-decoration:underline" @click="downLoadWord(goodsInfo)">{{goodsInfo.wordname}}</div>
    </div>
    <div class="ljgm" @click="goodsBuy(goodsInfo)">立即购买</div>
<!--    <div style="width:92%;margin:0 auto 90px;">-->

<!--      <div class="card_style">-->
<!--        <div class="card_title">服务信息</div>-->
<!--        <h2 class="textCenter">{{goodsInfo.name}}</h2>-->
<!--        <spam class="card_main" style="font-size:20px;padding:0 10px;">服务价格 : ￥{{goodsInfo.price}}</spam>-->
<!--        <p class="card_main" style="color:#ccc;padding:0 10px;text-decoration: line-through;">原价格 : ￥{{goodsInfo.price_old}}</p>-->
<!--      </div>-->
<!--      <div class="card_style">-->
<!--        <div class="card_title">服务主图</div>-->
<!--        <van-image-->
<!--          cover-->
<!--          style="margin:0 auto;"-->
<!--          :src="goodsInfo.image"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="card_style">-->
<!--        <div class="card_title">服务简述</div>-->
<!--        <p class="card_main" v-html="goodsInfo.introduce"></p>-->
<!--        &lt;!&ndash; <p class="card_main">服务价格 : ￥{{goodsInfo.price}}</p> &ndash;&gt;-->
<!--      </div>-->
<!--      <div class="card_style">-->
<!--        <div class="card_title">产品详情</div>-->
<!--        <p class="card_main" v-html="goodsInfo.introduction"></p>-->
<!--      </div>-->
<!--      <div class="card_style">-->
<!--        <div class="card_title">服务流程</div>-->
<!--        <p class="card_main" style="" v-html="goodsInfo.process"></p>-->
<!--      </div>-->
<!--      <div class="card_style">-->
<!--        <div class="card_title">服务协议</div>-->
<!--        <div class="card_main" style="color:#0b96e5;text-decoration:underline" @click="downLoadWord(goodsInfo)">{{goodsInfo.wordname}}</div>-->
<!--      </div>-->
<!--    </div>-->
    <tabbar></tabbar>
  </div>
</template>

<script>
import tabbar from "@/mobile/tabbar/Tabbar.vue";
import { DropdownMenu, DropdownItem, Dialog  } from "vant";
export default {
  name: "Goodsinfo",
  data() {
    return {
      goodsInfo:{}
    };
  },
  methods: {
    goodsBuy(item){
      if( localStorage.getItem("MobileIsLogin") && localStorage.getItem("MobileIsLogin") === 'true' ){
        let userInfo = JSON.parse(localStorage.getItem("userInfo"))
        let bodyFormData = new FormData();
        bodyFormData.set('goods_id',item.id);
        bodyFormData.set('user_id',userInfo.id)
        this.http.apiPost('Browsinghistory/index',bodyFormData).then(res => {
          Dialog({ message: '下单成功' });
        })
      }else{
        Dialog.alert({
          title: '未登录',
          message: '暂未登录,请先登录再进行下单',
        }).then(() => {
          this.$router.push({ path: "/LoginMobile",query:{url:1} });
        });
      }
    },
    downLoadWord(item){
      // window.open('https://www.baidu.com')
      window.open(item.word)
    },
    onClickLeft() {
      this.$router.go(-1);
    }
  },
  created() {
    setTimeout(() => {
      if(this.$route.params.goods){
        localStorage.setItem('goodsInfo',JSON.stringify(this.$route.params.goods))
        this.goodsInfo = this.$route.params.goods;
      }else{
        let goods = JSON.parse(localStorage.getItem('goodsInfo'))
        this.goodsInfo = goods;
      }
    }, 300);
  },
  components: {
    tabbar: tabbar,
  }
};
</script>

<style scoped>
.card_main{
  padding:10px;margin:5px 0;
}
.card_title{
  font-size:16px;padding:10px;
  border-bottom:1px solid #e2e2e2
}
.card_style{
  width:100%;height:auto;
  margin-top:20px;
  /*border:1px solid #0b96e5;*/
  /*box-shadow: 0 0 5px #0b96e5;*/
}
.custom-image {
  margin: 50px auto;
}
.textCenter{
  text-align: center;
}
  .ljgm{
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    background: DarkOrange;
    position: fixed;
    bottom: 50px;
  }
</style>
