<template>
    <div class="bottom">
      <div class="big-bottom">
        <a href="http://www.beian.miit.gov.cn/">
          <span>鲁ICP备19054281号</span>
        </a>
      </div>
    </div>
</template>

<script>
    export default {
        name: "Bootm"
    }
</script>

<style scoped>
  .bottom{
    background-color: #3A91F7;
    height: 60px;
    width: 100%;
    color: white;
    font-size: 14px;
    text-align: center;
    clear: both;
    line-height: 60px;
  }
  .big-bottom a{
    color: #FFFFFF;
  }
</style>
