<template>
    <div style="background: #3A91F7">
      <div class="line"></div>
      <el-menu
        :default-active="name"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#3A91F7"
        text-color="#000"
        active-text-color="#fff"
        active-background-color="4FA7DE"
      >
        <el-menu-item index="/Windex">首页</el-menu-item>
        <el-menu-item index="/Information">资讯中心</el-menu-item>
        <el-menu-item index="/Goods">服务列表</el-menu-item>
        <el-menu-item index="/About">联系我们</el-menu-item>
        <el-menu-item index="/Introduction">平台介绍</el-menu-item>
        <el-menu-item index="login" v-if="!WebLoginStr">登录/注册</el-menu-item>
        <el-menu-item index="tuichu" v-if="WebLoginStr" style="float: right">退出登录</el-menu-item>
      </el-menu>
    </div>

</template>

<script>
    export default {
        name: "Head",
      data() {

        var validatePass = (rule, value, callback) => {
          const phoneReg = /^1[3|4|5|7|6|8|9][0-9]\d{8}$/
          const telReg1 = /^(0\d{2,3})?\d{7,8}$/
          const telReg2 = /^(0\d{2,3}-|\s)?\d{7,8}$/
          if (phoneReg.test(value)) {
            callback()
          } else if (telReg1.test(value)) {
            callback()
          } else if (telReg2.test(value)) {
            callback()
          } else {
            return callback(new Error('请输入正确的电话号码'))
          }
        };
        var validatePass2 = (rule, value, callback) => {
          if (value === '') {
            callback(new Error('请再次输入密码'));
          } else if (value !== this.ruleForm.pass) {
            callback(new Error('两次输入密码不一致!'));
          } else {
            callback();
          }
        };
        return {
          activeIndex: '1',
          activeIndex2: '1',
          dialogVisible:false,
          WebLoginStr : localStorage.getItem("WebLoginStr"),
          ruleForm: {
            pass: '',
            checkPass: '',
            age: ''
          },
          rules: {
            phone: [
              { validator: validatePass, trigger: ['blur','change'] }
            ],
            checkPass: [
              { validator: validatePass2, trigger: 'blur' }
            ],
          }
        };
      },
      props:{
        name:String
      },
      methods: {
        handleSelect(key, keyPath) {
          if(key == 'login'){
            this.$router.push({path:'/Login'});
            return
          }else if(key == 'tuichu'){
            localStorage.setItem("WebLoginStr",'');
            this.$router.go(0)
            return
          }else{
            this.$router.push({path:key});
          }
        },
        handleClose(){

        }
      }
    }
</script>

<style scoped>
  .el-menu-demo{
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
</style>
