<template>
  <div class="demo-image">
    <div class="block" v-for="fit in url" @mouseover="changeMask(fit.images)" @mouseout="changeMask()">
      <el-image
        style="width: 72px; height: 72px"
        :src="fit.images"
        ></el-image>
    </div>
    <div v-if="xs" class="xs">
      <el-image
        style="width: 400px; height: 400px"
        :src="xs"
      ></el-image>
    </div>
    <div class="float_right">
      <div class="block">
        <el-tooltip class="item" effect="dark" content="Call: 134 2564 1853" placement="left">
          <el-image
            style="width: 72px; height: 72px"
            :src="imgUrl"
          ></el-image>
        </el-tooltip>
        <p style="font-size: 12px;margin: 0 auto;text-align: center">联系电话</p>
        <el-divider></el-divider>
      </div>
      <div class="block">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=635455412&site=qq&menu=yes">
          <el-image
            style="width: 72px; height: 72px"
            :src="imgUrls"
          ></el-image>
        </a>
        <p style="font-size: 12px;margin: 0 auto;text-align: center">客服QQ</p>
      </div>
    </div>
  </div>

</template>

<script>
    export default {
        name: "Leftwechat",
        data() {
          return {
            fits: ['fill', 'contain', 'cover', 'none', 'scale-down'],
            url: [],
            ip:'http://yigiao.cn/static/uploads/',
            xs:'',
            imgUrl:require("../assets/Phone.png"),
            imgUrls:require("../assets/QQ.png"),
          }
        },
      mounted(){
        this.qrcode()
      },
      methods:{
        //首页轮播
        qrcode(){
          let url = 'image/qrcode'
          this.http.apiGet(url, '').then(res => {
            this.url = res.data.data
          }).catch(error => {

          })
        },
        //鼠标经过
        changeMask(url){
          this.xs = url
        }
      }
    }
</script>

<style scoped>
  .demo-image{
    position: fixed;
    left: 0;
    top: 300px;
    z-index: 999;
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
  }
  .float_right{
    position: fixed;
    right: 0;
    top: 300px;
    z-index: 999;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
  }
  .block{
    margin-top: 10px;
  }
  .xs{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: #e2e2e2;
    background-color: rgba(226,226,226,0.8);
    z-index: -11;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .el-divider--horizontal{
    margin: 12px 0 !important;
  }
</style>
