<template>
    <div class="zxbox">
      <el-row>
        <el-col :span="24" :lg="24" :md="24" :sm="24" :xs="24"class="box">
          <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-col :span="8" :lg="8" :md="8" :sm="12" :xs="12">
              <el-form-item label="称呼" prop="name">
                <el-input v-model="ruleForm.name" placeholder="请输入您的名称"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8" :lg="8" :md="8" :sm="12" :xs="12">
              <el-form-item label="手机号" prop="phone">
                <el-input v-model="ruleForm.phone" placeholder="请输入您的手机号"></el-input>
              </el-form-item>
            </el-col>
<!--            <el-col :span="8" :lg="8" :md="12" :sm="12" :xs="12">-->
<!--              <el-form-item label="资讯类别" prop="region">-->
<!--                <el-select v-model="ruleForm.region" placeholder="请选择资讯类别">-->
<!--                  <el-option :label="item.name" :value="item.name" v-for="(item,key) in items"></el-option>-->
<!--                </el-select>-->
<!--              </el-form-item>-->
<!--            </el-col>-->
            <el-col :span="16" :lg="16" :md="12" :sm="12" :xs="12">
              <el-form-item label="简要说明" prop="desc">
                <el-input type="textarea" v-model="ruleForm.desc"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6" :lg="6" :md="8" :sm="8" :xs="12">
              <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">立即咨询</el-button>
              </el-form-item>
            </el-col>
          </el-form>
        </el-col>
      </el-row>
    </div>
</template>

<script>
    export default {
      name: "Zxfw",

      data() {

        const phoneNumber = (rule, value, callback) => {
          const phoneReg = /^1[3|4|5|7|6|8|9][0-9]\d{8}$/
          const telReg1 = /^(0\d{2,3})?\d{7,8}$/
          const telReg2 = /^(0\d{2,3}-|\s)?\d{7,8}$/
          if (phoneReg.test(value)) {
          callback()
        } else if (telReg1.test(value)) {
          callback()
        } else if (telReg2.test(value)) {
          callback()
        } else {
          return callback(new Error('请输入正确的电话号码'))
        }
      }
        return {
          ruleForm: {
            name: '',
            desc: '',
            phone:''
          },
          items:[],
          rules: {
            phone:[
              { required: true, message: '请输入手机号', trigger: 'blur' },
              {
                validator: phoneNumber,
                trigger: [ "blur"]
              }
            ],
            name: [
              { required: true, message: '请输入您的名称', trigger: 'blur' },
            ],
            type: [
              { type: 'array', required: true, message: '请至少选择一个活动性质', trigger: 'change' }
            ],
            resource: [
              { required: true, message: '请选择活动资源', trigger: 'change' }
            ],
            desc: [
              { required: true, message: '请简要描述问题', trigger: 'blur' }
            ]
          }
        };
      },
      mounted(){
        this.zxlist()
      },
      methods: {
        zxlist(){
          this.http.apiGet('servilist/informationtype', '').then(res => {
            this.items = res.data.data
          }).catch(error => {

          })
        },
        submitForm(formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              let a = this.ruleForm
              var bodyFormData = new FormData();
              bodyFormData.set('name', this.ruleForm.name);
              bodyFormData.set('iphone',this.ruleForm.phone)
              bodyFormData.set('text',this.ruleForm.desc)
              this.http.apiPost('Feedback/index',bodyFormData).then(res => {
                if(res.code ==1 ){
                  this.$message({
                    message: '留言成功',
                    type: 'success'
                  });
                  this.ruleForm={}
                }
              })
            } else {
              console.log('error submit!!');
              return false;
            }
          });
        }
      }
    }
</script>

<style scoped>
  .zxbox{
    margin-top: 15px;
    /*width: 100%;*/
    /*background: #D7F0FF;*/
    /*margin-top: 20px;*/
    /*padding: 20px 0;*/
    /*position: fixed;*/
    /*bottom: 0px;*/
    /*z-index: 999;*/
  }
  .box{
    /*background: #0b96e5;*/
  }
</style>
