{include file="common/head"/}
<div class="main-container" id="main-container">
    <link rel="stylesheet" href="__STATIC__/Css/nks/index.css"/>
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="row maintop">

                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table id="simple-table" class="table table-striped table-bordered table-hover center">
                                                <tr>
                                                    <th class="center">留言人</th>
                                                    <th class="center">手机号</th>
                                                    <th class="center">内容</th>
                                                    <th class="center">留言时间</th>
                                                </tr>

                                            {volist name="$data" id="v"}

                                            <tr>

                                                <td>{$v.name}</td>
                                                <td>{$v.iphone}</td>
                                                <td>{$v.text}</td>
                                                <td>{$v.create_time}</td>

                                            </tr>

                                            {/volist}
                                            <tr>
                                                <td colspan="16" align="center">
                                                {$page}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div><!-- /.span -->
                            </div><!-- /.row -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->

            </div>
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
</body>
<script type="text/javascript">
    function starttype(id) {
        $.post('{:url("starttype")}', {'id':id}, function (data) {

            if(data==0){
                var val = '<button class="btn btn-minier btn-danger">禁用</button>'
                $('.statype').html(val);
                return false
            }

            if (data==1){
                var val = '<button class="btn btn-minier btn-yellow">开启</button>'
                $('.statype').html(val);
                return false
            }
            }
        )
    }
</script>
</html>


