<template>
    <div>
      <van-nav-bar title="公司简介" :fixed="false" left-text="返回" left-arrow @click-left="onClickLeft()" />
      <div style="overflow-x: hidden;margin: 10px;" v-html="introduction"></div>
    </div>
</template>

<script>
    export default {
        name: "MAbout",
      data(){
        return{
          introduction:""
        }
      },
      methods:{
        
        onClickLeft() {
          this.$router.go(-1);
        }
      },
      mounted() {
        this.http.apiGet('introduction/index','').then(res => {
          this.introduction = res.data.data.introduction
        })
      }
    }
</script>

<style scoped>

</style>
