{include file="common/head"/}

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}
            <div class="page-content">
                <div class="row maintop">
                    <div class="col-xs-12 col-sm-2">
                            <span class="btn btn-xs btn-danger"  id="add">
                                <i class="ace-icon fa fa-plus bigger-110 "></i>
                                添加
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table id="simple-table"
                                           class="table table-striped table-bordered table-hover center">
                                        <thead>
                                        <tr>
                                            <th class="center">公司名称</th>
                                            <th class="center hidden-xs">电脑备注名称</th>
                                            <th class="center hidden-xs">电脑mac</th>
                                            <th class="center visible-lg visible-md">创建时间</th>
                                            <th class="center" style="border-right:1px solid #ddd; ">操作</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {foreach name="$companymaclist" id="v"}
                                        <tr>
                                            <td class="zgl_ad">{$v.c_name}</td>
                                            <td class="hidden-xs">{$v.m_name}</td>
                                            <td class="hidden-xs">{$v.m_mac}</td>
                                            <td class="visible-lg visible-md">{$v.m_createtime}</td>
                                            <td>
                                                <div class="action-buttons">
                                                    <a class="green" href="companymac_edit.html?m_id={$v.m_id}" title="修改">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i> </a>
                                                    <a class="red" href="javascript:;"
                                                       onclick="commac_del(this,'{$v.m_id}')" title="删除">
                                                        <i class="ace-icon fa fa-trash-o bigger-130"></i> </a>
                                                </div>
                                            </td>
                                        </tr>

                                        {/foreach}
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- /.span -->
                        </div><!-- /.row -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}

</div><!-- /.main-container -->

<!-- inline scripts related to this page -->
<script type="text/javascript">
    function del(id) {
        if (id == 1) {
            layer.alert('超级管理员不可删除', {icon: 4});
            return false;
        }
        layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
            layer.close(index);
            window.location.href = "{:url('adminDel')}?a_id=" + id;
        });
    }

    //删除
    function commac_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $.ajax({
                url: "{:url('Companymac/comapnymac_del')}",
                type: "post",
                data: {m_id: id},
                success: function (res) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                }
            })
        });
    }

    $("#add").click(function(){

        var c_id="{$c_id}";
        //允许最大
        var cnm="{$c_compute_number}";
        //实际记录数
        var nownum=$('.zgl_ad').length;
        if (nownum<cnm){
            console.log('开始增加mac地址');
            layer.open({
                type: 2,
                title:'',
                shadeClose: true,
                shade: 0.8,
                area: ['100%', '100%'],
                content: "{:url('Companymac/companymac_add',['c_id'=>$c_id])}",
            });
            return false;
        }else {
            alert('电脑大于最大数量，不能再添加');
            return false;
        }

    })


</script>

</body>
</html>
