<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal"  id="companymacInsert" method="post" >
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >公司名称</label>
                                <div class="col-sm-10 col-xs-12">
                                    <select id="m_cid" name="m_cid" class="col-xs-12 col-md-4" >


                                        <option value="{$alist.c_id}">{$alist.c_name}</option>

                                    </select>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >电脑备注名称</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="m_name" id="m_name" placeholder="输入电脑备注名称" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >电脑mac</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="m_mac" id="m_mac" placeholder="输入电脑mac"  class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-info" id="sub">
                                        <i class="ace-icon fa fa-check bigger-110" ></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
<script>

    $('#sub').click(function () {
        if ('' == $.trim($('#m_name').val())) {
            layer.alert('电脑备注名称不能为空!', {icon: 5}, function (index) {
                layer.close(index);
                $('#m_name').focus();
            });
            return false;
        }
        if ('' == $.trim($('#m_mac').val())) {
            layer.alert('电脑mac不能为空!', {icon: 5}, function (index) {
                layer.close(index);
                $('#m_mac').focus();
            });
            return false;
        }else {

            $.ajax({
                url:"{:url('Companymac/do_addcommac')}",
                type:'post',
                data:$('#companymacInsert').serialize(),
                async:false,
                success:function (res) {
                    console.log(res);
                    //发异步，把数据提交给php
                    layer.msg("增加成功", {time:2000},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.location.reload();
                        window.location.href = document.referrer
                    });
                }

            });

            return false;
        }

    })
</script>

</body>
</html>