<template>
  <van-tabbar v-model="active" inactive-color="#999999" active-color="rgb(12,0,191)">
    <van-tabbar-item v-for="(item,index) in tabbars" :key="index" :to="(item.name)" @click="tabbarsClick(index)">
      <span>{{item.title}}</span>
      <img slot="icon" slot-scope="props" :src="props.active ? item.active : item.normal" />
    </van-tabbar-item>
  </van-tabbar>
</template>

<script>
  export default {
    name: "tabbar",
    data() {
      return {
        active: 0,
        tabbars: [
          {
            name: "/Index",
            title: "首页",
            normal:require("@/assets/tabbar/mobile_hide_index.png"),
            active:require("@/assets/tabbar/mobile_index_index.png"),
          },
          {
            name: "/GoodsMobile",
            title: "服务列表",
            normal:require("@/assets/tabbar/mobile_hide_goods.png"),
            active:require("@/assets/tabbar/mobile_index_goods.png"),
          },
          {
            name: "News",
            title: "资讯中心",
            normal:require("@/assets/tabbar/mobile_hide_news.png"),
            active:require("@/assets/tabbar/mobile_index_news.png"),
          },
          {
            name: "/Mine",
            title: "个人中心",
            normal:require("@/assets/tabbar/mobile_hide_user.png"),
            active:require("@/assets/tabbar/mobile_index_user.png"),
          }
        ]
      };
    },
    methods: {
      tabbarsClick(index){
        this.active = index
      }
    },
    //通过路由跳转判断选中的样式
    created() {
      if (this.$route.name == "Index") {
        this.active = 0;
      }else if (this.$route.name == "GoodsMobile" || this.$route.name == 'Goodsinfo') {
        this.active = 1;
      }else if(this.$route.name == "News" || this.$route.name == "Newsinfo"){
        this.active = 2;
      }else if(this.$route.name == "Mine"){
        this.active = 3;
      }else{
        this.active = 0;//如果没有返回首页
      }
    }
  };
</script>

<style>
  .van-tabbar{
    border-top: 1px solid #F2F2F2;
  }
</style>
