{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        您当前操作
                        <small>
                            <a href="{:url('informlist')}">资讯列表</a>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            查看资讯详情
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row" style="width: 40%;margin: 0 auto">
                    <div style="font-size: 24px;font-weight: bolder;text-align: center;">
                        {$data.main_title}
                    </div>
                    <div style="font-size: 18px;margin-top: 5px;text-align: center;">
                        {$data.subtitle}
                    </div>
                    <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin-top: 5px">
                        <div>
                            时间：{$data.addtime|date="Y-m-d H:i:s",###}
                        </div>
                        <div style="margin-left: 15px;">作者：{$data.increase}</div>
                        <div style="margin-left: 15px;">类别：{$data.name}</div>
                    </div>
                    <div style="margin: 20px auto;text-align: center">
                        <img src="/uploadinformimg/{$data.image}" style="width:200px;height: auto">
                    </div>
                    <div style="margin-top: 10px">
                        {$data.content}
                    </div>
                    <div class="space-4"></div>
                    {if condition="$data.review_type eq 2"}
                        <div class="clearfix form-actions" >
                            <div class="col-md-offset-2 col-md-10" style="text-align: left;">
                                通过
                                拒绝
                            </div>
                        <div>
                    {/if}
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
<script>
    $(function () {
        $('#typeupdate').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });

        function checkForm() {
            if ('' == $.trim($('#titles').val())) {
                layer.alert('用户组名不能为空', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#titles').focus();
                });
                return false;
            }
        }

        function complete(data) {
            if (data.status == 1) {
                layer.alert(data.info, {icon: 6}, function (index) {
                    layer.close(index);
                    window.location.href = data.url;
                });
            } else {
                alert(data.info);
                return false;
            }
        }

    });
</script>
</body>
</html>
