{include file="common/head"/}

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        // window.UMEDITOR_HOME_URL = "/Baidu/";
    </script>
    <style>
        #imgPreview {
            width: 160px;
            height: 180px;
            /*margin: 10px auto 0px auto;*/
            border: 1px solid black;
            text-align: center;
            display: flex;
            flex-direction: row;
        }
        #prompt3 {
            width: 100%;
            height: 180px;
            text-align: center;
            position: relative;
        }
        #imgSpan {
            position: absolute;
            top: 70px;
            left: 40px;
        }
        .filepath {
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        #img3 {
            height: auto;
            width: 100%;
            display: none;
        }
        #del{
            display: none;
            margin-left: -15px;
            top: 5px;
        }
        #del img{
            width: 16px;
            height: 16px;
        }
    </style>

    <!--    Badi umeditor -->


    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        您当前操作
                        <small>
                            <a href="{:url('informlist')}">资讯列表</a>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            添加资讯列表
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" name="informlistedit" id="informlistedit" method="post" action="{:url('informlistedit')}">
                            <input  value="{$name.id}" type="hidden" name="id"/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">标题：</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input id="title" name="title" type="text" placeholder="输入标题" value="{$name.main_title}" class="col-xs-12 col-md-4"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">副标题：</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input id="titles" name="titles" type="text" placeholder="输入副标题" value="{$name.subtitle}" class="col-xs-12 col-md-4"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">排序值：</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input id="titless" name="sort" type="text" placeholder="排序值" value="{$name.sort}" class="col-xs-12 col-md-4"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">主图：</label>
                                <div class="col-sm-10 col-xs-12">

                                    <div id="imgPreview">
                                        <div id="prompt3">
                                             <span id="imgSpan">
                                             点击上传+
                                             </span>
                                            <input type="file" id="file" class="filepath" name="file" onchange="changepic(this)" accept="image/jpg,image/jpeg,image/png,image/PNG">
                                            <!--当vaule值改变时执行changepic函数，规定上传的文件只能是图片-->
                                        </div>
                                        <img src="/uploadinformimg/{$name.image}" id="img3" />
                                        <div id="del" onclick="delimg()">
                                            <img src="__STATIC__/img/del.png" />
                                            <input value="{$name.image}" type="hidden" name="img"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">内容：</label>
                                <div class="col-sm-10 col-xs-12">
                                    <script type="text/plain" id="myEditor" style="width:1000px;height:240px;">
                                        {$name.content}
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">资讯类别：</label>
                                <div class="col-sm-10 col-xs-12">
                                    <!--                                    <input id="titles" name="titles" type="text" placeholder="输入资讯类别" class="col-xs-12 col-md-4"/>-->
                                    <select class="col-xs-12 col-md-4" name="typename">
                                        {volist name="data" id="v" key="key"}
                                                <option value="{$v.id}" {if condition="$v.id eq $name.ic_id"}selected{/if} >{$v.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
<script type="text/javascript" src="/Baidu/umeditor.config.js" charset="utf-8" ></script>
<script type="text/javascript" src="/Baidu/umeditor.min.js" charset="utf-8" ></script>
<script type="text/javascript" src="/Baidu/lang/zh-cn/zh-cn.js"></script>
<script>

    $(function () {
        $('#informlistedit').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });
        function checkForm() {
            if ('' == $.trim($('#titles').val())) {
                layer.alert('副标题不能为空', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#titles').focus();
                });
                return false;
            }else if('' == $.trim($('#title').val())){
                layer.alert('标题不能为空', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#titles').focus();
                });
                return false;
            }

        }

        function complete(data) {
            if (data.status == 1) {
                layer.alert(data.info, {icon: 6}, function (index) {
                    layer.close(index);
                    window.location.href = data.url;
                });
            } else {
                alert(data.info);
                return false;
            }
        }
    });
</script>
<script type="text/javascript">
    var img3 = document.getElementById('img3').src
    if(img3){
        $("#img3").css("display", "block");
        $("#del").css("display", "block");
        $("#prompt3").css("display", "none");

    }
    //实例化编辑器
    var um = UM.getEditor('myEditor');
    um.addListener('blur',function(){
        console.log('这个方法干啥得');
    });
    um.addListener('focus',function(){
        $('#focush2').html('')
    });
    //按钮的操作
    function insertHtml() {
        var value = prompt('插入html代码', '');
        um.execCommand('insertHtml', value)
    }
    function isFocus(){
        alert(um.isFocus())
    }
    function doBlur(){
        um.blur()
    }
    function createEditor() {
        enableBtn();
        um = UM.getEditor('myEditor');
    }
    function getAllHtml() {
        alert(UM.getEditor('myEditor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UM.getEditor('myEditor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UM.getEditor('myEditor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用umeditor')方法可以设置编辑器的内容");
        UM.getEditor('myEditor').setContent('欢迎使用umeditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UM.getEditor('myEditor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UM.getEditor('myEditor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UM.getEditor('myEditor').selection.getRange();
        range.select();
        var txt = UM.getEditor('myEditor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UM.getEditor('myEditor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UM.getEditor('myEditor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UM.getEditor('myEditor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UM.getEditor('myEditor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function changepic() {
        $("#prompt3").css("display", "none");
        var reads = new FileReader();
        f = document.getElementById('file').files[0];
        reads.readAsDataURL(f);
        reads.onload = function(e) {
            document.getElementById('img3').src = this.result;
            $("#img3").css("display", "block");
            $("#del").css("display", "block");
        };
    };
    function delimg() {
        $("#file").val('');
        $("#prompt3").css("display", "block");
        $("#img3").css("display", "none");
        $("#del").css("display", "none");
    }
</script>

</body>
</html>
