{include file="common/head"/}
<div class="main-container" id="main-container">
    <link rel="stylesheet" href="__STATIC__/Css/nks/index.css"/>
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="row maintop">
                        <div class="col-xs-12 col-sm-2" style="display: flex">
                            <a href="{:url('informlistAdd')}">
                                <button class="btn btn-xs btn-success" style="height: 33px">
                                    <i class="ace-icon fa fa-plus bigger-110"></i>
                                    添加资讯
                                </button>
                            </a>
                        </div>
                        <form name="admin_list_sea" class="form-search form-inline" method="post" action="{:url('informlist')}">
                            <div class="col-xs-2 col-sm-2 btn-sespan">
                                <div class="input-group">
                                    <select name="type" class="form-control" style="margin-left: 10px">
                                        <option {if condition="'' eq $type" } selected="selected" value="">请选择服务类型</option>
                                        {volist name="typedata" id="v" key="key"}
                                            <option {if condition="$v['id'] eq $type" } selected="selected" {/if} value="{$v.id}">{$v.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-xs btm-input btn-purple">
                                    搜索
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table id="simple-table" class="table table-striped table-bordered table-hover center">
                                            <thead>
                                                <tr>
                                                    <th class="center">id</th>
                                                    <th class="center">类别</th>
                                                    <th class="center">主标题</th>
                                                    <th class="center">副标题</th>
                                                    <th class="center">增加员</th>

                                                    <th class="center">增加日期</th>
                                                    <th class="center">排序值</th>
                                                    <!--<th class="center">状态</th>-->
                                                    <th class="center">状态</th>
                                                    <th class="center" style="border-right:1px solid #ddd; ">操作</th>
                                                </tr>
                                            </thead>
                                            {volist name="data" id="v" key="key"}
                                                <tbody>
                                                    <tr>
                                                        <td class="center">{$key}</td>
                                                        <td class="center visible-lg visible-md">{$v.name}</td>
                                                        <td class="center visible-lg visible-md">{$v.main_title}</td>
                                                        <td>{$v.subtitle}</td>
                                                        <td>{$v.increase}</td>
                                                        <td>{$v.addtime|date="Y-m-d H:i:s",###}</td>
                                                        <td>{$v.sort}</td>
                                                        <td>
                                                        {if condition="$v.str eq 1"}
                                                        <div class="btn btn-minier" style="background: #90EE90 !important;border-color:#90EE90;cursor: initial">
                                                            显示
                                                        </div>
                                                            {else/}
                                                        <div class="btn btn-minier btn-danger" style="cursor: initial">
                                                            隐藏
                                                        </div>
                                                        {/if}
                                                        </td>
                                                        <!--<td>-->
                                                            <!--{if condition="$v.review_type eq 1"}-->
                                                                <!--<a class="red" href="javascript:;" title="通过">-->
                                                                    <!--<div id="zt{$v.id}">-->
                                                                        <!--<button class="btn btn-minier" style="background: #90EE90 !important;border-color:#90EE90 ">审核通过</button>-->
                                                                    <!--</div>-->
                                                                <!--</a>-->
                                                            <!--{elseif condition="$v.review_type  eq 2"}-->
                                                                <!--<a class="red" href="javascript:;" title="未审核">-->
                                                                    <!--<div>-->
                                                                        <!--<button class="btn btn-minier btn-danger">未审核</button>-->
                                                                    <!--</div>-->
                                                                <!--</a>-->
                                                            <!--{else/}-->
                                                                <!--<a class="red" href="javascript:;" title="已禁用">-->
                                                                    <!--<div>-->
                                                                        <!--<button class="btn btn-minier btn-danger">未通过</button>-->
                                                                    <!--</div>-->
                                                                <!--</a>-->
                                                            <!--{/if}-->
                                                        <!--</td>-->

                                                        <td>
                                                            <a class="green" href="{:url('inform',['id'=>$v.id])}" title="查看">
                                                                <i class="ace-icon fa fa-search bigger-130"></i>
                                                            </a>
                                                            <a class="green" href="{:url('informlistedit',['id'=>$v.id])}" title="修改">
                                                                <i class="ace-icon fa fa-pencil bigger-130"></i> </a>
                                                            <a class="red" href="javascript:;" onclick="return del({$v.id});" title="删除">
                                                                <i class="ace-icon fa fa-trash-o bigger-130"></i> </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            {/volist}
                                            <tr>
                                                 <td colspan="16" align="center">&nbsp;{$page}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div><!-- /.span -->
                            </div><!-- /.row -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->

            </div>
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
</body>
<script>
    //删除列表
    function del(id){
        layer.confirm('确定要删除吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.post('{:url("informlist_del")}',{'id':id},function (data) {
                if(data.status==1){
                    layer.alert("删除成功!");
                    window.location.reload();
                }else{
                    layer.alert(data.info);
                }
            })
        }, function(){
        });

    }
    function selectchange() {
        //获取到选择框
        var vs = $('select  option:selected').val();
        href="{:url('informlist')}"
        window.location.href="informlist?ic_id="+vs
        // $.post('{:url("informlist")}',{'ic_id':vs},function (data) {
        //     console.log(data)
        //     if(data.status==1){
        //         layer.alert("删除成功!");
        //         window.location.reload();
        //     }else{
        //         layer.alert(data.info);
        //     }
        // })
    }
</script>
</html>

