{include file="common/head"/}

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        // window.UMEDITOR_HOME_URL = "/Baidu/";
    </script>
    <style>
        #imgPreview {
            width: 160px;
            height: 180px;
            /*margin: 10px auto 0px auto;*/
            border: 1px solid black;
            text-align: center;
            display: flex;
            flex-direction: row;
        }
        #prompt3 {
            width: 100%;
            height: 180px;
            text-align: center;
            position: relative;
        }
        #imgSpan {
            position: absolute;
            top: 70px;
            left: 40px;
        }
        .filepath {
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        #img3 {
            height: auto;
            width: 100%;
            display: none;
        }
        #del{
            display: none;
            margin-left: -15px;
            top: 5px;
        }
        #del img{
            width: 16px;
            height: 16px;
        }
    </style>

    <!--    Badi umeditor -->


    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}

            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" name="informInsert" id="informInsert" method="post" action="{:url('informs')}">
                            <div style="display: none" class="tex">{$text}</div>
                            <div class="form-group">
                                <!--<label class="col-sm-2 control-label no-padding-right">内容：</label>-->
                                <div class="col-sm-10 col-xs-12" style="width: 100%">
                                    <script type="text/plain" id="myEditor" style="width:100%;height:240px;">
                                    </script>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="clearfix form-actions">
                                <div style="margin:0 auto;text-align:center">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        提交
                                    </button>&nbsp; &nbsp; &nbsp;
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
<script type="text/javascript" src="/Baidu/umeditor.config.js" charset="utf-8" ></script>
<script type="text/javascript" src="/Baidu/umeditor.min.js" charset="utf-8" ></script>
<script type="text/javascript" src="/Baidu/lang/zh-cn/zh-cn.js"></script>
<script>

    $(function () {
        $('#informInsert').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });
        function checkForm() {
            // if ('' == $.trim($('#titles').val())) {
            //     layer.alert('副标题不能为空', {icon: 5}, function (index) {
            //         layer.close(index);
            //         $('#titles').focus();
            //     });
            //     return false;
            // }else if('' == $.trim($('#title').val())){
            //     layer.alert('标题不能为空', {icon: 5}, function (index) {
            //         layer.close(index);
            //         $('#titles').focus();
            //     });
            //     return false;
            // }

        }

        function complete(data) {

            var json = JSON.parse(data)
            console.log(json)
            if (json.code==1){
                layer.alert('提交成功', {icon: 6}, function (index) {
                            layer.close(index);
                });
            }
        }
    });
</script>
<script type="text/javascript">

    //实例化编辑器
    var um = UM.getEditor('myEditor');
    um.setContent($('.tex').html())
    um.addListener('blur',function(){
    });
    um.addListener('focus',function(){
        $('#focush2').html('')
    });
    //按钮的操作
    function insertHtml() {
        var value = prompt('插入html代码', '');
        um.execCommand('insertHtml', value)
    }
    function isFocus(){
        alert(um.isFocus())
    }
    function doBlur(){
        um.blur()
    }
    function createEditor() {
        enableBtn();
        um = UM.getEditor('myEditor');
    }
    function getAllHtml() {
        alert(UM.getEditor('myEditor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UM.getEditor('myEditor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UM.getEditor('myEditor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用umeditor')方法可以设置编辑器的内容");
        UM.getEditor('myEditor').setContent('欢迎使用umeditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UM.getEditor('myEditor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UM.getEditor('myEditor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UM.getEditor('myEditor').selection.getRange();
        range.select();
        var txt = UM.getEditor('myEditor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UM.getEditor('myEditor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UM.getEditor('myEditor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UM.getEditor('myEditor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UM.getEditor('myEditor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function changepic() {
        $("#prompt3").css("display", "none");
        var reads = new FileReader();
        f = document.getElementById('file').files[0];
        reads.readAsDataURL(f);
        reads.onload = function(e) {
            document.getElementById('img3').src = this.result;
            $("#img3").css("display", "block");
            $("#del").css("display", "block");
        };
    };
    function delimg() {
        $("#file").val('');
        $("#prompt3").css("display", "block");
        $("#img3").css("display", "none");
        $("#del").css("display", "none");
    }
</script>

</body>
</html>
