.g_z{
    width:100%;
    height:800px;
    background:#e6f3f9;
}
.g_top{
    width: 100%;
    height: 40px;
}
.g_left{
    width: 300px;
    height: 40px;
    float: left;

}
.g_right{
    width: 600px;
    height: 40px;
    float: left;
}
.g_ta{
    width: 100%;
    text-align: center;
    background:#0e77a7;
    height: auto;

}
.g_ta tr td{
    height: 20px;
    min-width: 50px;
    font-size: 14px;

}
.lb1r_bu {
    height: 24px; /* 高度 */
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
    font-family: Microsoft YaHei; /* 设置字体 */
    /*color: white; !* 字体颜色 *!*/
    font-size: 13px; /* 字体大小 */
}
.g_r_s{
    width: 100px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    webkit-border-radius: 0;
    moz-border-radius: 0;
    khtml-border-radius: 0;
}
.g_r_i{
    width: 140px;
    height: 26px;



}
.g_r_s2{
    width: 100px;
    height: 26px;
    line-height: 26px;
    border-radius: 0;
    webkit-border-radius: 0;
    moz-border-radius: 0;
    khtml-border-radius: 0;
}
.kuang{
    overflow-y:auto;
    overflow-x:auto;
    width:auto;
    height:400px;
    clear: both;
    scrollbar-base-color:#409cd2;
    scrollbar-track-color:#f0ffff;
    scrollbar-highlight-color:#fff;
    scrollbar-shadow-color:#fff;
}
.g_ta tr td{
    min-width: 100px;
}
.page{
    float:right;
    margin-right: 20px;
}
form{
    margin: 0;
}
