.zong{
    width: 100%;
    height: 660px;
    background: #e7f4f7;
}
.z_top{
    width: 100%;
    height: 30px;
}
.t_l{
    width: 300px;
    height: 24px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;


}
.t_z{
    width: 300px;
    height: 24px;
    float: left;
    margin-top: 10px;

}
.t_r{
    width: 440px;
    height: 24px;
    float: left;
    margin-top: 10px;
}

input{
    width: 180px;
    height: 24px;

}
.bu{
    height: 24px; /* 高度 */
    width: 40px;
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
    font-family: Microsoft YaHei; /* 设置字体 */
    /*color: white; !* 字体颜色 *!*/
    font-size: 12px; /* 字体大小 */
    margin-left: 2px ;
}
.sp{
    margin-right: 10px;
}
#i_table{
    width: 100%;
    height: auto;
    clear: both;
    text-align: center;
    margin-top: 10px;
}
.inp{
    width: 15px;
    height: 15px;
}
