.zong{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background: #e6f3f9;
}
.top_table{
    width: 90%;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #ccc;

}
.top_table tr td{
    border: 1px solid #ccc;
    font-size: 14px;
}
input{
    width: 400px;
    height: 20px;
}
.hanzi{
    min-width: 100px;
    text-align: right;
}
.top{
    min-width: 120px;
    height: auto;
    text-align: center;
    font-size: 20px;
}