.zong{
	width: 100%;
	height:800px;
	background: #e7f4f7;


}
.top_z{
	width: 100%;
	height: 100px;
}
.top_sj{
	width: 460px;
	height: 22px;
	margin-left: 22px;
	float: left;
	margin-top:10px;


}
.top_huozhan{
	width: 260px;
	height: 22px;
	margin-top:10px;
	float: left;



}
input{
	width: 160px;
	height:20px;

}
.top_daohuo{
	width: 24%;
	height: 20px;
	margin-top:10px;
	float: left;
	
	margin-left:100px;
}
.head_check{
	width: 12px;
	height: 12px;
}
.head_check2{
	width: 12px;
	height: 12px;
}
.top_er_z{
	width: 100%;
	height: 40px;
	clear: both;
}
.top_yi_z{
	width: 100%;
	height: 40px;

	
}
.top_er_chaxun{
	width: 460px;
	height: 24px;
	float: left;
	margin-top:4px;

}
select{
	width: 120px;
	height: 24px;
	line-height: 24px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	margin: 0;
	padding: 0;
	
}
.chang{
	width: 210px;
	height: 24px;

}

.top_s{
	float:left; 
	margin-right:10px;
}
.top_er_shouhuo{
	width: 460px;
	height: 24px;
	float: left;
	margin-left: 20px;
	margin-top: 4px;
}
.top_er_r{
	width: 240px;
	height: 20px;
	float:left;
	margin-top: 6px;


}
.chaxun{
	height: 24px; /* 高度 */
	width: 60px;
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	/*color: white; !* 字体颜色 *!*/
	font-size: 12px; /* 字体大小 */
}

.table_yi{
	width: 100%;
	height: auto;
	text-align: center;
}
.table_yi tr{
	height: 20px;
	font-size: 14px;
}
.gundong{
     overflow-y:auto;
     overflow-x:auto;
     width:auto;
     height:400px;
    clear: both;
	scrollbar-base-color:#409cd2;
	scrollbar-track-color:#f0ffff;
	scrollbar-highlight-color:#fff;
	scrollbar-shadow-color:#fff;
}
 .g_ta {

    text-align: center;
    background: #0e77a7;
   height: 100px;
    width: 100%;
}
.g_ta tr {
    height: 20px;
    font-size: 14px;
}

.g_ta tr td{
    height: 20px;
    min-width: 100px;
    
}
#tree_wrap2{
	background:#fff;
	height: 400px;
	width: 160px;
	position:absolute ;
	margin-left: 200px;
	border-radius:4px;
	overflow:hidden;
	box-shadow: 0 0  10px  #000;

}
.site{
	width:160px;
	height:24px;
	line-height: 24px;
	border-radius:0;
	webkit-border-radius:0;
	moz-border-radius :0;
}
.chaxunqu{
	margin-left:20px;}
#tree_wrap2{
	display: none;
}
#title_id{
	height: 20px;
	width: 100%;
	text-align: center;
	background: #a9c9e2;
	border-bottom: #808080 2px solid;
	line-height: 20px;
	border-left: 1px #FFFFFF solid;
	border-right: 1px #FFFFFF solid;
	color: #fff;
	padding-left: 5px;
}
.nks_end{
	float: right;
	font-size: 26px;
	height: 20px;
	width: 20px;
	line-height: 18px;
	cursor:pointer

}
#nks_sp{
	display: block;
	font-size: 14px;
	float: left;
	text-align: center;
}
.g_z_d{
	margin-left: 20px;
	width: 100%;
	height: 40px;
	float: left;

}
#title_id2{
	height: 20px;
	width: 100%;
	text-align: center;
	background: #a9c9e2;
	border-bottom: #808080 2px solid;
	line-height: 20px;
	border-left: 1px #FFFFFF solid;
	border-right: 1px #FFFFFF solid;
	color: #fff;
	padding-left: 5px;
}
.nks_end2{
	float: right;
	font-size: 26px;
	height: 20px;
	width: 20px;
	line-height: 18px;
	cursor:pointer

}
#nks_sp2{
	display: block;
	font-size: 14px;
	float: left;
	text-align: center;
}
