{include file="common/head"/}
<div class="main-container" id="main-container">
    <link rel="stylesheet" href="__STATIC__/Css/nks/index.css"/>
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
                <div class="row maintop">
                    <div class="col-xs-12 col-sm-2">
                        <a id="lay">
                            <button class="btn btn-xs btn-danger">
                                <i class="ace-icon fa fa-plus bigger-110"></i>
                                添加二维码
                            </button>
                        </a>
                    </div>

                </div>
                <div class="table-responsive">
                    <table id="simple-table" class="table table-striped table-bordered table-hover center">
                        <thead>
                        <tr>
                            <th class="center">Id</th>
                            <th class="center">二维码</th>
                            <th class="center">添加日期</th>
                            <th class="center">操作</th>
                        </tr>
                        </thead>
                        {volist name='$image' id='v' key='k'}
                        <tr class="trnumber">
                            <td class="center" style="line-height: 50px">{$k}</td>
                            <td class="center">
                                <div style="height: 50px;width: 150px; margin: 0 auto">
                                    <img class="imageqrcode" src="__STATIC__/uploads/{$v.i_image}" style="height:50px">
                                </div>
                            </td>
                            <td class="center" style="line-height: 50px">
                                {$v.i_time}
                            </td>
                            <td class="center">
                                <div class="action-buttons" style="line-height: 50px">
                                    <a class="red" href="javascript:;" onclick="return del({$v.id},this);" title="删除">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i> </a>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
            </div><!-- /.page-content -->


            <div id="ty" style="display: none;">
                <div style="margin: 0 auto;">
                    <input type="hidden" id="sid" name="sid" value="">
                    <div class="imagebox">

                    </div>
                    <div id="demo" style="margin: 0 auto" class="demo">

                    </div>
                </div>
            </div>
            <div id="im" style="display: none;">
                <img style="background-size: cover;" src="" />
            </div>
            <!--图片模态框-->

        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
</body>
<link rel="stylesheet" href="__STATIC__/imageupload/control/css/zyUpload.css" type="text/css">
<script src="__STATIC__/imageupload/core/zyFile.js"></script>
<script src="__STATIC__/imageupload/control/js/zyUpload.js"></script>
<script>

    $('.imageqrcode').click(function () {
        //获得屏幕宽高比 a
        //获得图片宽高比 b
        //如果a>b 定高 高为图片高
        //如果a<b 定宽 宽为图片宽
        var qrimage = this.src;
        var imgSrc = this.src;
        let DocumentWidth = $(document).width()-10;//10为了留边距
        let DocumentHeight=$(document).height()-10;
        $("#im>img").prop("src", qrimage);
        getImageWidth(imgSrc,function(w,h){
            if( DocumentWidth/DocumentHeight > (w/(h+50)) ){
                //这里多加 50 是为了算上模态框的头部高度
                $("#im>img").css('height',DocumentHeight-50);//这里多减 50 是为了 让图片高度小一点，这样可以不出竖直滚条
                layer.open({
                    title:'图片详情',
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area:[w,DocumentHeight] , //宽高
                    content: $("#im")
                });
            }else{
                $("#im>img").css('width',DocumentWidth-50);//这里多减 50 是为了 让图片宽度小一点，这样可以不出水平滚条
                layer.open({
                    title:'图片详情',
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area:[DocumentWidth,h] , //宽高
                    content: $("#im")
                });
            }

        });
    })

    function getImageWidth(url,callback){
        var img = new Image();
        img.src = url;

        // 如果图片被缓存，则直接返回缓存数据
        if(img.complete){
            callback(img.width, img.height);
        }else{
            // 完全加载完毕的事件
            img.onload = function(){
                callback(img.width, img.height);
            }
        }

    }
    $('#lay').click(function () {
        var number  = $(".trnumber").length

        if (number>=3){
            layer.confirm('二维码数量已达上限，请删除后重试', {
                btn: ['确定'] //按钮
            });
            // layer.msg('二维码最多添加3个请删除后重试');
        }else {
            layer.open({
                type: 1,
                title:"图片添加",
                skin: 'layui-layer-rim', //加上边框
                area: ['700px', '550px'], //宽高
                content: $("#ty")
            });
        }


    })

    function del(id,dom) {

        layer.confirm('确定删除当前二维码吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            console.log($(dom).parent().parent().parent())
            // var loading = layer.load(1, {
            //     shade: [0.1,'#fff'] //0.1透明度的白色背景
            // });
            $.post('{:url("delqrcode")}', {'id':id}, function (data) {
                if (data==1){
                    $(dom).parent().parent().parent().remove()
                    // layer.close(loading);
                    layer.closeAll('dialog');
                }else {
                    layer.msg('删除失败');
                }
            })
        }, function(){

        });



    }
</script>
<script type="text/javascript">

    $(function(){
        var sid = $("#sid").val();
        // 初始化插件
        $("#demo").zyUpload({
            width            :   "650px",                 // 宽度
            height           :   "400px",                 // 宽度
            itemWidth        :   "120px",                 // 文件项的宽度
            itemHeight       :   "100px",                 // 文件项的高度
            url              :   "/Imagebanner/qrcodeImage/sid/"+sid,  // 上传文件的路径
            multiple         :   false,                    // 是否可以多个文件上传
            dragDrop         :   true,                    // 是否可以拖动上传文件
            del              :   true,                    // 是否可以删除文件
            finishDel        :   false,  				  // 是否在上传文件完成后删除预览
            /* 外部获得的回调接口 */
            onSelect: function(files, allFiles){                    // 选择文件的回调方法
                // console.info("当前选择了以下文件：");
                console.info(files);
                //判断文件类型是否合法
                // console.info("之前没上传的文件：");
                console.info(allFiles);
            },
            onDelete: function(file, surplusFiles){                     // 删除一个文件的回调方法
                // console.info("当前删除了此文件：");
                console.info(file);
                // console.info("当前剩余的文件：");
                console.info(surplusFiles);
            },
            onSuccess: function(file,responseInfo){                    // 文件上传成功的回调方法
                console.info("此文件上传成功：");
                console.info(file);
            },
            onFailure: function(file){                    // 文件上传失败的回调方法
                console.info("此文件上传失败：");
                console.info(file);
            },
            onComplete: function(responseInfo){           // 上传完成的回调方法
                console.log(121221)
                // console.info("文件上传完成");
                // console.info(responseInfo);
            }
        });
    });
    function deleteImg(that,id){
        layer.msg('你确定要删除此图片吗？', {
            time: 0
            ,btn: ['取消', '确定']
            ,yes: function(index){
                layer.close(index);
            },cancel:function(index){
                layer.close(index);
                $.ajax({
                    url:"{:url('image/deleteImg')}",
                    data:{id:id},
                    success:function(d){
                        $(that).parent().remove();
                        layer.alert('删除成功!', {icon: 6});
                    },
                    error:function(d){
                        layer.alert('删除失败!', {icon: 6});
                    }
                });
            }
        });
    }
</script>
</html>


