{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div style="margin: 20px 0 0 30px"><a href="https://jingweidu.51240.com/">坐标拾取网址</a></div>
        <form  method="post" class="smart-green" action="{:url('editGSadder')}" name = "editGSadder" id ="editGSadder">
            <input id="id" type="hidden" name="id"  value="{$data.id}"/>
            <label><span>手机号 :</span>
                <input id="title" type="text" name="phone"  value="{$data.phone}"/>
                <div class="error-msg"></div>
            </label>
            <label><span>邮箱 :</span>
                 <input id="email" type="email" name="email" value="{$data.email}"/> &nbsp; &nbsp; &nbsp; &nbsp;
                 <div class="error-msg"></div></label>
            <label><span>微信号1 :</span>
                <input id="wechartone" type="text"  name="wechartone" value="{$data.wechartone}"/>
                <div class="error-msg"></div>
            </label>
            <label><span>微信号2 :</span>
                <input id="echarttwo" type="text" name="echarttwo" value="{$data.echarttwo}"/>
                <div class="error-msg"></div>
            </label>
            <label><span>公司地址 :</span>
                <input id="adders" type="text" name="adders" value="{$data.adders}"/>
                <div class="error-msg"></div>
            </label>
            <label><span>经度:</span>
                <input id="jingd" type="text" name="jingd" value="{$data.jingd}"/>
                <div class="error-msg"></div>
            </label>
            <label><span>维度:</span>
                <input id="weidu" type="text" name="weidu" value="{$data.weidu}"/>
                <div class="error-msg"></div>
            </label>
            <label><span>&nbsp;</span><input type="submit" class="button" value="确定" /></label>
        </form>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div><!-- /.main-container -->
<script type="text/javascript">
    $(function () {
        $('#editGSadder').ajaxForm({
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });
        function complete(data) {
            if (data.status == 1) {
                layer.alert(data.info, {icon: 6}, function (index) {
                    layer.close(index);
                    window.location.href = data.url;
                });
            } else {
                alert(data.info);
                return false;
            }
        }
    });
</script>
</body>
<style>
    .smart-green {
        /*margin-left: auto;*/
        margin-right: auto;
        max-width: 500px;
        /*background: #F8F8F8;*/
        padding: 30px 30px 20px 30px;
        font: 12px Arial, Helvetica, sans-serif;
        color: #666;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }
    .smart-green h1 {
        font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
        padding: 20px 0px 20px 40px;
        display: block;
        margin: -30px -30px 10px -30px;
        color: #FFF;
        background: #9DC45F;
        text-shadow: 1px 1px 1px #949494;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
         border-bottom: 1px solid #89AF4C;
    }
    .smart-green h1 > span {
         display: block;
         font-size: 11px;
        color: #FFF;
    }
    .smart-green label {
        display: block;
        margin: 0px 0px 5px;
    }
    .smart-green label > span {
        float: left;
        margin-top: 10px;
        color: #5E5E5E;
    }
    .smart-green input[type="text"], .smart-green input[type="email"],
    .smart-green textarea, .smart-green select {
        color: #555;
        height: 30px;
        line-height: 15px;
        width: 100%;
        padding: 0px 0px 0px 10px;
        margin-top: 2px;
        border: 1px solid #E5E5E5;
        background: #FBFBFB;
        outline: 0;
        -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
        box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
        font: normal 14px/14px Arial, Helvetica, sans-serif;
    }
    .smart-green textarea {
        height: 100px;
        padding-top: 10px;
    }
    .smart-green .button {
        background-color: #9DC45F;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-border-radius: 5px;
        border: none;
        padding: 10px 25px 10px 25px;
        color: #FFF;
        text-shadow: 1px 1px 1px #949494;
    }
    .smart-green .button:hover {
        background-color: #80A24A;
    }
    .error-msg{
        color: red;
        margin-top: 10px;
    }
    .success-msg{
        color: #80A24A;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
</html>