{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        您当前操作
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            添加系统管理员
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" name="editAdmin" id="editAdmin" method="post" action="{:url('adminUpdate')}">
                            <input name="a_id" id="a_id" type="hidden" value="{$info.a_id}"/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="group_id">所属用户组</label>
                                <div class="col-sm-10 col-xs-12">
                                    <select name="group_id" id="group_id" {if condition="$info['a_username'] eq 'admin'"}disabled{/if} class="col-select col-xs-12 col-sm-4">
                                        <option value="">请选择所属用户组</option>
                                        {foreach name="auth_group" id="v"}
                                        <option value="{$v.g_id}" {if condition='$v["g_id"] eq $info.a_gid'}selected {/if}>{$v.g_title}</option>
                                        {/foreach}
                                    </select>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必选</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="username">登录用户名</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="username" id="username" {if condition="$info['a_username'] eq 'admin'"}disabled{/if} value="{$info.a_username}" placeholder="输入登录用户名" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>用户名必须是以字母开头，数字、符号组合</span>
                                </div>
                            </div>



                            <div id="nks_tanyitant"
                                 style="position: absolute; left: 30%; height: auto; width: 100px; background-color: #FFF; display: none;z-index: 999;">

                                <div class="content_wrap" style=" margin-top: 20px; height: 500px;background:#fff;border: 1px solid #ccc; width: 200px;
                        position:absolute ; margin-left: 50px;overflow:hidden; box-shadow: 5px 2px 6px #ccc;-moz-box-shadow: 5px 2px 6px #ccc;
                            -webkit-box-shadow: 5px 2px 6px #ccc; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);">
                                    <div id="title_id" style="height: 20px;width: 100%;text-align: center;background: #438eb9;border-bottom: #808080 2px solid;
                                    line-height: 20px;border-left: 1px #FFFFFF solid;border-right: 1px #FFFFFF solid;color: #fff;
                                    padding-left: 5px;"><span id="nks_sp" style="display: block;
    font-size: 14px;
    float: left;
    text-align: center;">线路图选择</span>
                                        <div class="nks_end" style="float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;" onmouseover="this.style.cursor='pointer'">×</div>
                                    </div>
                                    <ul id="treeDemo" class="ztree" style="border: none;">
                                        <!--<div class="nks_end">×</div>-->
                                    </ul>

                                </div>
                            </div>

                            <div class="space-4"></div>
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-2 control-label no-padding-right" for="group_id">所在地区</label>-->
                                <!--<div class="col-sm-10 col-xs-12">-->
                                    <!--<input readonly="readonly" value="{$in}" type="text" name="receiveid" id="receiveid"-->
                                           <!--placeholder="用户所在地区"-->
                                           <!--class="col-xs-12 col-md-4"/>-->
                                    <!--<span class="lbl">-->
                                        <!--<img onmouseover="this.style.cursor='pointer'"-->
                                             <!--class="dian" width="20px"-->
                                             <!--src="__STATIC__/img/1.png">-->
                                        <!--&lt;!&ndash;&nbsp;&nbsp;<span class="red">*</span>用户名必须是以字母开头，数字、符号组合&ndash;&gt;-->
                                    <!--</span>-->
                                <!--</div>-->


                                <!--<input type="hidden" name="idd" id="id" value="{$info.a_receiveid}"/>-->

                                <!--&lt;!&ndash;<div style="float: left">&ndash;&gt;-->
                                <!--&lt;!&ndash;<img onmouseover="this.style.cursor='pointer'"&ndash;&gt;-->
                                <!--&lt;!&ndash;class="dian" width="20px"&ndash;&gt;-->
                                <!--&lt;!&ndash;src="__STATIC__/img/1.png">&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                            <!--</div>-->






                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="pwd">登录密码</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="password" name="pwd" id="pwd" placeholder="输入登录密码" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>密码必须大于6位，小于15位</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="email">用户邮箱</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="email" id="email" value="{$info.a_email}" placeholder="输入用户邮箱" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>用于密码找回，请认真填写</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="tel">手机号</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="tel" id="tel" value="{$info.a_tel}" placeholder="输入手机号码" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>只能填写数字</span>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="open"> 是否审核： </label>
                                <div class="col-sm-10 col-xs-12" style="padding-top:5px;">
                                    <label>
                                        <input name="open" id="open" {if condition='$info["a_is_open"] eq 1'}checked{/if} value="1" class="ace ace-switch ace-switch-5" type="checkbox">
                                        <span class="lbl">&nbsp;&nbsp;默认关闭</span>
                                    </label>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
<script>
    $(function () {
        $('#editAdmin').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });
        function checkForm() {
            if ('' == $.trim($('#group_id').val())) {
                layer.alert('请选择用户组!', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#group_id').focus();
                });
                return false;
            }
            if ('' == $.trim($('#username').val())) {
                layer.alert('登录用户名不能为空', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#username').focus();
                });
                return false;
            }

            var username = $.trim($('input[name="username"]').val()); //获取INPUT值
            var myReg = /^[\u4e00-\u9fa5]+$/;//验证中文
            if (username.indexOf(" ") >= 0) {
                layer.alert('登录用户名包含了空格，请重新输入', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#username').focus();
                });
                return false;
            }

            // if (myReg.test(username)) {
            //     layer.alert('用户名必须是字母，数字，符号', {icon: 5}, function (index) {
            //         layer.close(index);
            //         $('#username').focus();
            //     });
            //     return false;
            // }

            if ('' == $.trim($('#id').val())) {
                layer.alert('所在地区不能为空', {icon: 6}, function (index) {
                    layer.close(index);
                    $('#pwd').focus();
                });
                return false;
            }

            if ('' == $.trim($('#email').val())) {
                layer.alert('用户邮箱不能为空', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#email').focus();
                });
                return false;
            }

            if ('' == $.trim($('#tel').val())) {
                layer.alert('手机号码不能为空', {icon: 5}, function (index) {
                    layer.close(index);
                    $('#tel').focus();
                });
                return false;
            }
        }

        function complete(data) {
            if (data.status == 1) {
                layer.alert(data.info, {icon: 6}, function (index) {
                    layer.close(index);
                    window.location.href = data.url;
                });
            } else {
                alert(data.msg);
                return false;
            }
        }
    });

</script>


<link type="text/css" href="__STATIC__/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script type="text/javascript" src="__STATIC__/ztree/js/jquery.ztree.core.js"></script>
<!--
树状图
-->
<script type="text/javascript">

    var setting = {
        view: {
            showIcon: false,
        },
        async: {
            enable: true,

        },

        data: {
            key: {
                title: "t"
            },
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",

            }
        },
        callback: {
            beforeClick: beforeClick,
            onClick: zTreeOnClick,
            beforeCollapse: beforeCollapse,
            beforeExpand: beforeExpand,
            onCollapse: onCollapse,
            onExpand: onExpand
        }
    };

    var zNodes = [];

    var log, className = "dark";

    function beforeClick(treeId, treeNode) {
        // if (treeNode.isParent) {
        //     alert("不能作为到货机构 ");
        //     return false;
        // } else {
        //     return true;
        // }
    }

    function beforeCollapse(treeId, treeNode) {
        className = (className === "dark" ? "" : "dark");
        showLog("[ " + getTime() + " beforeCollapse ]&nbsp;&nbsp;&nbsp;&nbsp;" + treeNode.name);
        return (treeNode.collapse !== false);
    }

    function zTreeOnClick(event, treeId, treeNode) {
        // alert(treeNode.tId + ", " + treeNode.name);
        var dizhi = treeNode.du;
        var na = treeNode.name;
        var id = treeNode.id;
        $('#id').val(id);
        $('#receiveid').val(na);
        $('#nks_tuoyun').val(dizhi);

        $.ajax({
            url: "{:url('Receive/exchange')}",
            type: 'post',
            data: {data: na},
            // async: false,
            success: function (res) {
                console.log(res)

                if (res != 'null' && res != '') {
                    // alert(888);
                    var rest = JSON.parse(res);
                    console.log(rest['a_name'])
                    // $('#receiveid').val(rest['a_name']);
                    // $('#chan_name').html(rest['a_engname'])
                }


            }

        })


        $('#nks_tanyitant').css('display', 'none');

    };

    function onCollapse(event, treeId, treeNode) {
        showLog("[ " + getTime() + " onCollapse ]&nbsp;&nbsp;&nbsp;&nbsp;" + treeNode.name);
    }

    function beforeExpand(treeId, treeNode) {
        className = (className === "dark" ? "" : "dark");
        showLog("[ " + getTime() + " beforeExpand ]&nbsp;&nbsp;&nbsp;&nbsp;" + treeNode.name);
        return (treeNode.expand !== false);
    }

    function onExpand(event, treeId, treeNode) {
        showLog("[ " + getTime() + " onExpand ]&nbsp;&nbsp;&nbsp;&nbsp;" + treeNode.name);
    }

    function showLog(str) {
        if (!log) log = $("#log");
        log.append("<li class='" + className + "'>" + str + "</li>");
        if (log.children("li").length > 8) {
            log.get(0).removeChild(log.children("li")[0]);
        }
    }

    function getTime() {
        var now = new Date(),
            h = now.getHours(),
            m = now.getMinutes(),
            s = now.getSeconds(),
            ms = now.getMilliseconds();
        return (h + ":" + m + ":" + s + " " + ms);
    }

    function addBtnProperty(nodes) {
        $.each(nodes, function (i, node) {
            if (node.pid == 0) {
                node.noRemoveBtn = true;
                node.noEditBtn = true;
            }
        })
        return nodes;
    }


    function expandNode(e) {
        console.log("1111");
        var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
            type = e.data.type,
            nodes = zTree.getSelectedNodes();
        if (type.indexOf("All") < 0 && nodes.length == 0) {
            alert("请先选择一个父节点");
        }

        if (type == "expandAll") {
            zTree.expandAll(true);
        } else if (type == "collapseAll") {
            zTree.expandAll(false);
        } else {
            var callbackFlag = $("#callbackTrigger").attr("checked");
            for (var i = 0, l = nodes.length; i < l; i++) {
                zTree.setting.view.fontCss = {};
                if (type == "expand") {
                    zTree.expandNode(nodes[i], true, null, null, callbackFlag);
                } else if (type == "collapse") {
                    zTree.expandNode(nodes[i], false, null, null, callbackFlag);
                } else if (type == "toggle") {
                    zTree.expandNode(nodes[i], null, null, null, callbackFlag);
                } else if (type == "expandSon") {
                    zTree.expandNode(nodes[i], true, true, null, callbackFlag);
                } else if (type == "collapseSon") {
                    zTree.expandNode(nodes[i], false, true, null, callbackFlag);
                }
            }
        }
    }

    // $(this).click(function () {
    //     var op = $(this).val();
    //     alert(op);
    // })
    $(document).ready(function () {


    });
    //ajax异步提交
    $(document).ready(function () {
        //提取数据

        $.ajax({
            url: "{:url('Sys/layer_do_add')}",
            type: 'post',
            data: {},
            success: function (rel) {
                var ass = JSON.parse(rel);
                console.log(ass);
                $.each(ass, function (k, v) {
                    var arr = {
                        id: v.a_id,
                        pId: v.a_pid,
                        name: v.a_name,
                        du: v.a_end_addr,
                        t: '',
                        open: false,
                    };
                    zNodes.push(arr);
                    $.each(v.secondlist, function (k2, v2) {
                        var arr2 = {
                            id: v2.a_id,
                            pId: v2.a_pid,
                            name: v2.a_name,
                            du: v2.a_end_addr,
                            t: '',
                            open: false,
                        };
                        zNodes.push(arr2);
                        $.each(v2.thirdlist, function (k3, v3) {
                            var arr3 = {
                                id: v3.a_id,
                                pId: v3.a_pid,
                                name: v3.a_name,
                                du: v3.a_end_addr,
                                t: '',
                                open: false,
                            };
                            zNodes.push(arr3);
                            $.each(v3.forlist, function (k4, v4) {
                                var arr4 = {
                                    id: v4.a_id,
                                    pId: v4.a_pid,
                                    name: v4.a_name,
                                    du: v4.a_end_addr,
                                    t: '',
                                    open: false,
                                };
                                zNodes.push(arr4);
                            });
                        });

                    });
                });
                //console.log(zNodes);

                //初始化树
                $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                $("#expandBtn").bind("click", {type: "expand"}, expandNode);
                $("#collapseBtn").bind("click", {type: "collapse"}, expandNode);
                $("#toggleBtn").bind("click", {type: "toggle"}, expandNode);
                $("#expandSonBtn").bind("click", {type: "expandSon"}, expandNode);
                $("#collapseSonBtn").bind("click", {type: "collapseSon"}, expandNode);
                $("#expandAllBtn").bind("click", {type: "expandAll"}, expandNode);
                $("#collapseAllBtn").bind("click", {type: "collapseAll"}, expandNode);
            }
        })
    })


</script>


<script>
    $('.dian').click(function () {
        $("#nks_tanyitant").show();

    })
</script>
<script>

    $(document).bind("click", function (e) {
        var target = $(e.target);
        if (target.closest("#nks_tanyitant").length == 0 && target.closest(".dian").length == 0) {
            $("#nks_tanyitant").hide();
        }
        if (target.closest(".nks_end").length != 0) {

            $("#nks_tanyitant").hide();
        }
        $(".nks_end").mousemove(function () {
            $(".nks_end").css('background', 'red');
        })
        $(".nks_end").mouseout(function () {
            $(".nks_end").css('background', '');
        })
    })


</script>
</body>
</html>