{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}
            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">
                        <!--<link rel="stylesheet" href="__STATIC__/Css/updata_log.css">-->

                        <div class="main_content">
                            <div class="grid_c2c">
                                <!-- 主要内容开始 -->
                                <div class="mainbar">
                                    <div class="mainbar_wrapper index_wrapper">
                                        <div class="main_form">
                                            <div style="margin: 10px 20px 20px;font-size: 18px;font-weight: bold;">更新动态</div>
                                            <div class="list" style="padding-left: 20px;">

                                                <div class="dotStyle"></div>
                                                <div class="lineStyle"></div>
                                                <div class="version_opt">
                                                    <span class="code_version_date"></span>
                                                    <span class="version_update"> </span>
                                                    <span style="color:#C63A1E;">目前已经是最新版本</span>
                                                </div>


                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-06-05 14:41:23</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v2.1.2</span><br>
                                                        1、添加柳州站点开票命名问题<br>

                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-05-18 08:59:10</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v2.1.1</span><br>
                                                        1、老数据维护--解决到货后自提送货直送转出查不到数据的问题<br>

                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-05-17 21:00:00</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v2.0.0</span><br>
                                                        1、系统更新--中途到货(附新的查询页和相关打印)<br>

                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-05-17 20:30:00</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v1.5.4</span><br>
                                                        1、页面增加查询提示框<br>
                                                        2、系统优化：加快了收获查询，发车查询的查询速度<br>

                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-05-16 20:00:00</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v1.5.3</span><br>
                                                        1、修复转出里面打印点目的地排行后，打印转出单内容为空的问题<br>

                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-05-15 16:42:00</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v1.5.2</span><br>
                                                        1、修复会员导出TXT放款页面无数据，页面打不开的问题<br>

                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-05-14 15:19:00</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v1.4.9</span><br>
                                                        1、查询页面增加等待提示<br>
                                                        2、优化部分页面交互体验<br>

                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-05-08 11:25:00</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v1.4.8</span><br>
                                                        1、修正修改记录查询无数据的问题<br>

                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-04-29 08:59:00</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v1.4.7</span><br>
                                                        1、修正现金帐录入金额输入问题<br>

                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-04-28 15:41:18</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v1.4.6</span><br>
                                                        1、修改弹窗收支类别重复的问题<br>

                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-04-27 21:36:13</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v1.4.5</span><br>
                                                        1、修改到货清单打印目的地排列问题<br>
                                                        2、调整到货清单打印<br>
                                                        3、修改转出页面，点目的地排序后再打印会出现打印出来的单子，数据都为空的情况<br>
                                                        4、转出查询页面，中转费后新增参转费<br>

                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="code_version_item" data-vid="v1.1" data-tid="74"
                                                     data-desc="600" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-04-25 18:36:21</span>
                                                    </div>
                                                    <div class="code_version_disc">
                                                        <span class="version_id">v1.3.0</span><br>
                                                        1、恢复历史数据查询<br>

                                                    </div>
                                                </div>
                                                <!--<hr>-->
                                                <!--<div class="code_version_item" data-vid="v1.1" data-tid="74"-->
                                                     <!--data-desc="600" >-->
                                                    <!--<div class="dotStyle"></div>-->
                                                    <!--<div class="lineStyle"></div>-->
                                                    <!--<div class="version_opt"><span class="code_version_date">2019-04-23 19:36:03</span>-->
                                                    <!--</div>-->
                                                    <!--<div class="code_version_disc">-->
                                                        <!--<span class="version_id">v1.1.0</span><br>-->
                                                        <!--1、新建基础数据模块（企业、技能、来源）<br>-->
                                                        <!--2、开放员工编辑简历<br>-->
                                                        <!--3、添加次级意向企业<br>-->
                                                        <!--4、增加简历按照录入人等筛选条件-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <hr>
                                                <div class="code_version_item" data-vid="" data-tid="73"
                                                     data-desc="3000" >
                                                    <div class="dotStyle"></div>
                                                    <div class="lineStyle"></div>
                                                    <div class="version_opt"><span class="code_version_date">2019-04-1 4:00:01</span>
                                                    </div>
                                                    <div class="code_version_disc"><span class="version_id">V1.0.0</span><br>
                                                        系统平台上线：<br>
                                                        1.系统V1.0版本上线
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!-- 主要内容结束 -->
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>

