.l_body{
    background:#e7f4f7;
    width:100%;
    height:auto;
}
/*代码开始*/

/*第一个div 查询群*/
.llb_1{
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #e6e6e6;
    height:170px;
    width:95%;
}
.llbl_l,.llbl_r{
    float: left;
    margin-right: 50px;
}
.llbl_r button{
    width:auto;
    height:auto;
    padding: 5px;
    border-radius: 3px;
    background:#eaedf4;
}
.llb_3 table{
    width:95%;
    height:70px;
    text-align: left;
    margin-left: 10px;
}

/*第二个div    中间的四列值*/
.l_lb_list{
    clear: both;
    width:90%;
    min-width: 700px;
    height:30px;
}
.l_lb_list ul{background:grey;width:90%;min-width: 800px;margin-left: 0;}
.l_lb_list ul li{
    list-style: none;
    float: left;
    width:10%;
    min-width:20px;
    text-align: center;
}
#predicttable tr td{
    min-width: 70px;
}
/*第三个div   中间的车次信息*/
.lb_2{
    width:100%;
    height:auto;
    border: 1px solid #e6e6e6;
    margin-top: 10px;
}
.lb_2 ul{
    margin: 10px;
    list-style: none;
}
.lb_2 ul li{
    float:left;
    margin:10px;
}
.lb_2 table tr:first-child{
    background:#1174af;
    color:#fff;
    font-size: 12px;
    /*font-weight: bold;*/
}
.lb_2 table tr:first-child td{
    margin-top: 3px;
    height:20px;
}
.lb_2 table{
    background:#fff;
    margin-left: 10px;
    text-align: center;
    border:1px solid #0D1D3C;
    height:auto;
    width:95%;
}
.lb_2 table tr:nth-child(even){
    background: #e8f9fc;
}
.lb_2 table tr td{
    margin: 80px;
    height:20px;
}

/*第四个div 点击车次信息出现货物信息*/
/*第四个*/
.lb_4{
    width:100%;
    height:270px;
    border: 1px solid #e6e6e6;
    margin-top: 10px;
}
.lb_4 table tr:first-child{
    background:#1174af;
    color:#fff;
    font-size: 12px;
    /*font-weight: bold;*/
}
.lb_4 table tr:first-child td{
    margin-top: 3px;
}
.lb_4 table{
    background:#fff;
    margin-left: 10px;
    text-align: center;
    border:1px solid #0D1D3C;
    height:auto;
    width:95%;
}
.lb_4 table tr:nth-child(even){
    background: #e8f9fc;
}
.lb_4 table tr td{
    /*margin: 80px;*/
    height:20px;
}
/*ztree*/
#title_id,#title_id2{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #a9c9e2;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
    color: #fff;
    padding-left: 5px;
}
.nks_end{
    float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;
}
#nks_sp,#nks_sp2{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}