<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
                <span class="bigger-120">
                    <span class="blue bolder">{:config("sys_name")}</span>
                    O2O管理系统  &copy;  技术支持：
                </span>
        </div>
    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
<!--[if !IE]> -->
<script src="__STATIC__/assets/js/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__STATIC__/assets/js/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='__STATIC__/assets/js/jquery.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__STATIC__/assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='__STATIC__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="__STATIC__/assets/js/bootstrap.min.js"></script>


<script src="__STATIC__/assets/js/jquery.dataTables.min.js"></script>
<script src="__STATIC__/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="__STATIC__/assets/js/dataTables.tableTools.min.js"></script>
<script src="__STATIC__/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="__STATIC__/MyDate/WdatePicker.js"></script>
<script src="__STATIC__/assets/js/moment.min.js"></script>
<script src="__STATIC__/assets/js/daterangepicker.min.js"></script>
<script src="__STATIC__/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="__STATIC__/assets/js/jquery-ui.custom.min.js"></script>
<script src="__STATIC__/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="__STATIC__/assets/js/jquery.easypiechart.min.js"></script>
<script src="__STATIC__/assets/js/jquery.sparkline.min.js"></script>
<!-- ace scripts -->
<script src="__STATIC__/assets/js/ace-elements.min.js"></script>
<script src="__STATIC__/assets/js/ace.min.js"></script>
<script src="__STATIC__/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="__STATIC__/assets/js/jquery.form.js"></script>
<script src="__STATIC__/layer/layer.js"></script>

<script type="text/javascript" src="__STATIC__/swfupload.js"></script>
<!--<script type="text/javascript" src="__STATIC__/artDialog.min.js"></script>-->
<script type="text/javascript">
    $('#colorpicker1').colorpicker();

    $('#simple-colorpicker-1').ace_colorpicker();

</script>