<div id="sidebar" class="sidebar responsive sidebar-fixed sidebar-scroll">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="{if condition="$controllerName eq 'Index'"}active{/if}">
            <a href="{:url('index/index')}">
                <i class="menu-icon fa fa-home"></i>
                <span class="menu-text"> 管理首页 </span>
            </a>

            <b class="arrow"></b>
        </li>
        {volist name="nav" id="vo"}
        <li class="{if condition="$controllerName eq $vo['r_name']"}active open{/if}">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa {$vo.r_css}"></i>
                    <span class="menu-text">
                       {$vo.r_title}
                    </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                {volist name="vo.sub" id="v"}
                <li class="{if condition="session('se') eq $v['r_id']"}active{/if}">
                    <a href="{:url($v['r_name'],array('se'=>$v['r_id']))}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        {$v.r_title}

                        <!--<b class="arrow fa fa-angle-down"></b>-->
                    </a>
                    <!--<b class="arrow"></b>-->
                </li>
                {/volist}
            </ul>
        </li>
        {/volist}
    </ul><!-- /.nav-list -->
    <div class="sidebar-toggle sidebar-collapse" style="position:fixed;bottom:0;" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
        $('.active').parents('li').addClass('open');
    </script>
</div>