<template>
  <div class="index_style">
    <!-- <van-search
      v-model="searchValue"
      show-action
      shape="round"
      placeholder="请输入服务关键词"
      @search="onSearchGoods"
      @cancel="onCancelGoods"
    /> -->
    <van-notice-bar color="#1989fa" background="#ecf9ff" left-icon="info-o">
      我们的服务项目：企业电脑外包维护，电脑维修上门维修，电脑组装配件销售，网络工程综合布线，监控安装及维修，专业数据恢复，服务器局域网组建，打印机传真机维修，中小企业网站建设等多种it服务一体化公司。
    </van-notice-bar>
    <van-swipe :autoplay="3000" height="155">
      <van-swipe-item v-for="(image, index) in bannerImage" :key="index">
        <img height="150" width="100%" :src="image" />
      </van-swipe-item>
    </van-swipe>
    <van-grid :border="false" :column-num="3">
      <van-grid-item @click="RMFW">
        <van-image cover width="30" src="../../../static/mobile_index_goods.png" />
        <span style="padding-top:10px;">热门服务</span>
      </van-grid-item>
      <van-grid-item @click="RDFW">
        <van-image cover width="30" src="../../../static/mobile_index_news.png" />
        <span style="padding-top:10px;">热点新闻</span>
      </van-grid-item>
      <van-grid-item @click="YHXX">
        <van-image cover width="30" src="../../../static/mobile_index_user.png" />
        <span style="padding-top:10px;">用户信息</span>
      </van-grid-item>
    </van-grid>
    <!-- 热门 -->
    <div class="index_hotarea">
      <!-- <div style="width:50%;height:100%;" @click="RMFW">
        <div class="index_flex_style" style="background:rgb(219,237,246);">
          <h4>热门服务</h4>
          <p>点击查看企业热门服务</p>
          <van-image cover width="100%" style="width:168px;height:168px;" src="../../../static/mobile_img_goods.png" />
        </div>
      </div> -->
      <div style="width:47%;height:100%;" class="index_hr_flex">
        <div style="height:47%;" @click="goToInfo()">
          <div class="index_flex_style" style="background:rgb(219,237,246);">
            <h4>公司简介</h4>
            <p>了解公司详细信息</p>
            <van-image
              cover
              width="25%"
              style="left:70%;width:37px;height:37px;"
              src="../../../static/mobile_img_jianjie.png"
            />
          </div>
        </div>
        <div style="height:47%;margin-top:12%;" @click="goToQrcode()">
          <div class="index_flex_style" style="background:rgb(233,249,243);">
            <h4>二维码</h4>
            <p>点击查看联系二维码</p>
            <van-image
              cover
              width="25%"
              style="left:70%;width:37px;height:37px;"
              src="../../../static/mobile_img_erweima.png"
            />
          </div>
        </div>
      </div>
      <div style="width:47%;height:100%;margin-left:6%;" class="index_hr_flex">

        <div style="height:47%;" @click="gridGetQQ()">
          <div class="index_flex_style" style="background:rgb(255,240,240);">
            <h4>QQ</h4>
            <p>在QQ上进行联系</p>
            <van-image
              cover
              width="25%"
              style="left:70%;width:37px;height:37px;"
              src="../../../static/mobile_img_qq.png"
            />
          </div>
        </div>
        <div style="height:47%;margin-top:12%;" @click="phoneCall()" url="tel:13425641853">
          <div class="index_flex_style" style="background:rgb(253,253,167);">
            <h4>电话</h4>
            <p>手机电话沟通</p>
            <van-image
              cover
              width="25%"
              style="left:70%;width:37px;height:37px;"
              src="../../../static/mobile_img_phone.png"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- 新闻 -->
    <div>
      <div style="width:90%;margin:20px auto 0;">
        <h2 style="display:inline-block;margin:0;padding:0;">热门服务</h2>
        <p
          style="float:right;display:inline-block;font-size:12px;color:#0b96e5"
          @click="RMFW()"
        >查看全部服务></p>
      </div>
      <van-card
        :price="item.price"
        :desc="item.introduce"
        :title="item.name"
        :thumb="item.image"
        v-for="(item, index) in goodsList"
        :key="index"
        @click="goodsInfo(item)"
      >
<!--        <template #tags>-->
<!--          <van-tag plain type="danger">new</van-tag>-->
<!--          <van-tag plain type="danger">hot</van-tag>-->
<!--        </template>-->
        <template #bottom>
          <div style="text-align: right">
            <van-button size="small" type="info" :round="false" @click="goodsInfo(item)">详情</van-button>
            <van-button size="small" type="info" :round="false" @click="goodsInfo(item)">下单</van-button>
          </div>
        </template>
      </van-card>
    </div>
<!--     <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=635455412&site=qq&menu=yes"></a> -->
    <div style="width:100%;height:50px;"></div>
    <tabbar></tabbar>
  </div>
</template>

<script>
import tabbar from "@/mobile/tabbar/Tabbar.vue";
import { Dialog  } from "vant";
export default {
  name: "Index",
  components: {
    tabbar: tabbar
  },
  data() {
    return {
      bannerImage: [],
      searchValue: "",
      // 列表
      newsList: [],
      goodsList: [],
    };
  },
  methods: {
    goToQrcode(){
      this.$router.push({ path: "/Qrcode" });
    },
    goToInfo(){
      this.$router.push({ path: "/MAbout" });
    },
    phoneCall(){
      this.http.apiGet('Gsadder/gsadder').then(res => {
        let phone = res.data.phone
        window.location.href = 'tel://'+phone
      })
    },
    gridGetQQ(){
      this.http.apiGet('Gsadder/gsadder').then(res => {
        let qq = res.data.phone // qq字段好像没有
        window.open(`http://wpa.qq.com/msgrd?v=3&uin=635455412&site=qq&menu=yes`);
      })
    },
    goodsBuy(item){
      if( localStorage.getItem("MobileIsLogin") && localStorage.getItem("MobileIsLogin") === 'true' ){
        let userInfo = JSON.parse(localStorage.getItem("userInfo"))
        let bodyFormData = new FormData();
        bodyFormData.set('goods_id',item.id);
        bodyFormData.set('user_id',userInfo.id)
        this.http.apiPost('Browsinghistory/index',bodyFormData).then(res => {
          Dialog({ message: '下单成功' });
        })
      }else{
        Dialog.alert({
          title: '未登录',
          message: '暂未登录,请先登录再进行下单',
        }).then(() => {
          this.$router.push({ path: "/LoginMobile" });
        });
      }
    },
    goodsInfo(item){
      // this.$router.push({path:'/Goodsinfo',query: {goods:item}})
      this.$router.push({
        name:"Goodsinfo",
        params:{
          name:'item',
          goods:item
        }
      });
    },
    showNewsInfo(item) {
      this.$router.push({path:'/Newsinfo',query: {news:item}})
    },
    RMFW(){
      this.$router.push({ path: "/GoodsMobile" });
    },
    RDFW(){
      this.$router.push({ path: "/News" });
    },
    YHXX(){
      this.$router.push({ path: "/Mine" });
    },
    gotoNews() {
      this.$router.push({ path: "/News" });
    },
    // 轮播图
    getBannerImage() {
      this.http.apiGet("image/banner", {}).then(result => {
        console.log(result);
        let images = result.data.data.map(item => {
          return item.images;
        });
        this.bannerImage = images;
      });
    },
    // 获取 新闻列表
    async getNewList() {
      let formdata = new FormData();
      formdata.append("page", 1);
      formdata.append("number", 5);
      let newsList = [];
      await this.http.apiPost("servilist/information", formdata).then(result => {
          newsList = result.data;
        });
      return newsList;
    },
    async getGoodsList() {
      let paramData = {
        page: 1, //获取页码
        number: 5
      };
      let goodslist = [];
      await this.http.apiGet("servilist/index", paramData).then(result => {
        goodslist = result.data.data;
      });
      return goodslist;
    },
    // 查询
    onSearchGoods() {},
    onCancelGoods() {}
  },
  created() {
    this.getBannerImage();
    // this.getNewList().then(list => {
    //   this.newsList = list;
    // });
    this.getGoodsList().then(list => {
      console.log(list,'list')
      this.goodsList = list;
    });
  }
};
</script>

<style scoped>
/*  */
.index_style >>> .van-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_style >>> .van-image__img{
  width: 100%;
  height: auto;
}
.index_style >>> .van-card__title{
  line-height: 22px;
  font-size: 18px;
  height: 28px;
}
.index_style >>> .van-card__price{
  color: red;
  font-weight: 700;
}
.index_style >>> .van-card__price-currency{
  font-size: 20px;
}
/*  */
.index_flex_style >>> .van-image{
  margin-top: 10px;
}
.index_flex_style p {
  padding: 5px 0 0 10px;
  margin: 0;
  font-size: 12px;
  color: gray;
}
.index_flex_style h4 {
  padding: 10px 0 0 10px;
  margin: 0;
}
.index_flex_style {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: red;
  /* display: flex;
  flex-direction: column; */
}
.index_hr_flex {
  display: flex;
  flex-direction: column;
}
.index_hotarea {
  width: 90%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.my-swipe .van-swipe-item {
  color: #fff;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
  background-color: #39a9ed;
}
.index_style >>> .van-card{
  background: #ffffff;
  /*border: 1px solid #e2e2e2;*/
  border-radius: 15px;
  width: 95%;
  margin: 15px auto;
  border: 1px solid #e2e2e2;
  box-shadow: 0 2px 12px 0 rgba(226,226,226,0.3);
  /*box-shadow: 0px 0px 5px #0b96e5;*/
}
.index_style >>> .van-card .van-image{
   /*border: 1px solid #e2e2e2;*/
}
</style>
