<template>
    <div class="qrcode_style">
      <van-nav-bar title="二维码" :fixed="false" left-text="返回" left-arrow @click-left="onClickLeft()" />

      <div style="width:90%;margin:0 auto;">
        <div class="card_style" v-for="(item, key) in qrCode">
          <div class="card_title">客服微信</div>
          <van-image
            cover
            style="margin:0 auto;"
            :src="item.images"
          />
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "Qrcode",
      data(){
        return{
          qrCode:[],
        }
      },
      methods:{

        //二维码
        qrcode(){
          let url = 'image/qrcode'
          this.http.apiGet(url, '').then(res => {
            this.qrCode = res.data.data
            console.log(this.qrCode,'rrr')
          })
        },
        onClickLeft() {
          this.$router.go(-1);
        }
      },
      mounted() {
        this.qrcode()
      }
    }
</script>

<style scoped>

.card_main{
  padding:10px;margin:5px 0;
}
.card_title{
  font-size:16px;padding:10px;
  border-bottom:1px solid #e2e2e2;
}
.card_style{
  width:100%;height:auto;
  margin:50px 0 0px;
  border:1px solid #e2e2e2;
  box-shadow: 0 0 5px #e2e2e2;
}
</style>
