body{
    width:100%;
    background: #263238;
    background-image:url(img/login.png);
}
.big-wrap{
    width:100%;
}
.big-top{
    background:rgba(0,0,0,0.1);
    color:white;
    width:100%;
    height:60px;
    padding-top:10px;
    padding-bottom:10px;
}
.top-left{
    float:left;
    width:400px;
    height:50px;
    margin-left:40px
}
.t_left{
    float:left;
}
.t_middle{
    float:left;
    margin-left:10px;
}
.t_right{
    float:left;
    margin-left:20px;
    margin-top:3px;
}
.top-right{
    float:right;
    width:200px;
    height:50px;
}
.big-middle{
    width:100%;
    height:593px;
    /*中间DIV*/
}
.r_left{
    float:left;
}
.r_right{
    margin-left:10px;
    float:left;
}
.r_right span{
    font-size:14px;
}
.big-left{
    position:absolute;
    left:10%;
    top:90px;
    float:left;
    width:838px;
    height:593px;
    background:url(img/bgline.png) 100px 110px no-repeat;
    background-size:59%;
}
.first-box{
    width:600px;
    height:190px;
    margin-top:40px;
    margin-left:140px;
}
.first-box div{
    float:left;
}
.plane{
    width:140px;
    height:100px;
    margin-top:10px;
}
.flowPath-box{
    width:130px;
    height:100px;
    /*border:1px solid red;*/
}
.flowPath-box1{
    width:130px;
    height:100px;
}
.flowPath-box2{
    margin-top:40px;
}
.flowPath-box3{
    margin-top:95px;
}
.flowPath-box8{
    margin-top:115px;
}
.flowPath{
    width:130px;
    height:30px;
    background:url(img/chatbox.png)50px 0 no-repeat;
    background-size:60%;
}
.flowPath3{
    width:130px;
    height:30px;
    background:url(img/chatbox.png)30px 0 no-repeat;
    background-size:60%;
}
.flowPath3 span{
    color:#128be8;
    font-size:13px;
    display:block;
    margin-left:58px;
    margin-top:4px;
}
.flowPath span{
    color:#128be8;
    font-size:13px;
    display:block;
    margin-left:78px;
    margin-top:4px;
}
.flowPathImg{
    margin-top:6px;
    height:60px;
}
.FPImg{
    margin-left:35px;
}
.FPImg3{
    margin-left:10px;
    transform:rotate(30deg);
    -ms-transform:rotate(30deg); 	/* IE 9 */
    -moz-transform:rotate(30deg); 	/* Firefox */
    -webkit-transform:rotate(30deg); /* Safari 和 Chrome */
    -o-transform:rotate(30deg); 	/* Opera */
}
.FPImg9{
    margin-left:10px;
    transform:rotate(10deg);
    -ms-transform:rotate(10deg); 	/* IE 9 */
    -moz-transform:rotate(10deg); 	/* Firefox */
    -webkit-transform:rotate(10deg); /* Safari 和 Chrome */
    -o-transform:rotate(10deg); 	/* Opera */
}
.second-box{
    width:450px;
    height:150px;
    /*margin-top:40px;*/
    margin-left:100px;
    padding:0;
}
.second-box div{
    float:left;
}
.flowPath4{
    width:130px;
    height:30px;
    background:url(img/chatbox.png)30px 0 no-repeat;
    background-size:60%;
}
.flowPath-box4{
    margin-top:40px;
}
.flowPathImg4{
    transform:rotate(-20deg);
    -ms-transform:rotate(-20deg); 	/* IE 9 */
    -moz-transform:rotate(-20deg); 	/* Firefox */
    -webkit-transform:rotate(-20deg); /* Safari 和 Chrome */
    -o-transform:rotate(-20deg); 	/* Opera */
}
.flowPath4 span{
    color:#128be8;
    font-size:13px;
    display:block;
    margin-left:48px;
    margin-top:4px;
}
.flowPath5{
    width:130px;
    height:30px;
    background:url(img/chatbox.png)30px 0 no-repeat;
    background-size:60%;
}
.flowPath-box5{
    margin-top:20px;
    margin-left:25px;
}
.flowPathImg5{
    transform:rotate(-15deg);
    -ms-transform:rotate(-15deg); 	/* IE 9 */
    -moz-transform:rotate(-15deg); 	/* Firefox */
    -webkit-transform:rotate(-15deg); /* Safari 和 Chrome */
    -o-transform:rotate(-15deg); 	/* Opera */
}
.flowPath5 span{
    color:#128be8;
    font-size:13px;
    display:block;
    margin-left:48px;
    margin-top:4px;
}
.flowPath6{
    width:130px;
    height:30px;
    background:url(img/chatbox.png)30px 0 no-repeat;
    background-size:60%;
}
.flowPath-box6{
    margin-left:26px
}
.flowPathImg6{
    transform:rotate(-10deg);
    -ms-transform:rotate(-10deg); 	/* IE 9 */
    -moz-transform:rotate(-10deg); 	/* Firefox */
    -webkit-transform:rotate(-10deg); /* Safari 和 Chrome */
    -o-transform:rotate(-10deg); 	/* Opera */
}
.flowPath6 span{
    color:#128be8;
    font-size:13px;
    display:block;
    margin-left:48px;
    margin-top:4px;
}
.third-box{
    margin-top:10px;
    width:400px;
    height:200px;
    margin-left:100px;
}
.third-box div{
    float:left;
}
.flowPath7{
    width:130px;
    height:30px;
    background:url(img/chatbox.png)30px 0 no-repeat;
    background-size:60%;
}
.flowPath7 span{
    color:#128be8;
    font-size:13px;
    display:block;
    margin-left:48px;
    margin-top:4px;
}
.flowPath8{
    width:130px;
    height:30px;
    background:url(img/chatbox.png)30px 0 no-repeat;
    background-size:60%;
}
.flowPath8 span{
    color:#128be8;
    font-size:13px;
    display:block;
    margin-left:53px;
    margin-top:4px;
}
.big-right{
    float:left;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}
.form-box{
    /*position:absolute;*/
    /*right:300px;*/
    /*top:200px;*/
    background:#fff;
    border-radius:8px;
    width:320px;
    height:380px;
    overflow:hidden;
    background:rgba(0,0,0,0.1);
}
.form-box input{
    line-height:38px;
}
.form-top{
    width:320px;
    height:auto;
}
.login-font{
    font-size:24px;
    color:#128be8;
    margin:0;
    text-align:center;
}
.input-name{
    text-align:center;
    margin-top:20px;
    height:40px;
}
.input-name2{
    text-align:center;
    margin-top:15px;
    height:45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-type1{
    padding-left:10px;
    width:240px;
    height:38px;
    border:1px solid #e2e2e2;
    border-radius:4px;
}
.input-type2{
    padding-left:10px;
    width:80px;
    height:38px;
    border:1px solid #e2e2e2;
    border-radius:4px;
    float:left;
    margin-right:10px;
    margin-left:34px;
    margin-top:5px;
}
.input-type3{
    width:252px;
    height:40px;
    text-align:center;
    border:none;
    border-radius:4px;
    background:#128be8;
    color:#fff;
}
.big-bottom{
    height:60px;
    width:100%;
    background:rgba(0,0,0,0.1);
    color:white;
    font-size:14px;
    text-align:center;
    clear:both;
    position: fixed;
    bottom: 0px;
}
.big-bottom span {
    display:inline-block;
    margin-top:20px;
}
