#z_container{
    width: 100%;
    height: 1000px;
    background: #e7f4f7;
    border: white 1px solid;
}
#z_banner{
    overflow: hidden;
    min-height: 310px;
    min-width: 310px;
    border: #e7e7e7 1px solid;
    width: 310px;
    height: 310px;
    margin:30px auto;
    text-align: center;
}
#z_banner_in{
    white-space:nowrap;
    margin-top: 15px;
    width: 300px;
    height: 250px;
}
#z_banner_in p{
    text-align: left;
    color: black;
    font-size: 15px;
}
#z_banner_inleft{
    width: 100px;
    height: 220px;
    float: left;
}
#z_banner_inleft label{
    width: 80px;
    height: 31px;
    line-height: 34px;
    text-align: right;
}
#z_banner_inright{
    width: 198px;
    height: 220px;
    float: right;
}
#z_banner_inright input{
    border: #999999 1px solid;
    height: 30px;
    width: 190px;
    line-height: 30px;
    margin-bottom: 6px;
    float: left;
}
#z_banner_end{
    display: inline-block;
    height: 40px;
    width: 300px;
}
#z_body{
    margin:20px;
    width: 99%;
    height: 720px;
    border: #999999 1px solid;
    border-right: white 1px solid;
    border-bottom: white 1px solid;
}
#z_body_top{
    width: 100%;
    height: 360px;
}
#z_body_topin{
    width: 800px;
    height: 300px;
}
#z_body_topinleft{
    float: left;
    width:250px;
    height: 270px;
}
#z_body_topinleft1{
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
    text-align: center;
}
#z_body_topinleft1 label{
    color: black;
    line-height: 60px;
}
#z_body_topinleft2{
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
    text-align: center;
}
#z_body_topinleft2 label{
    color: black;
    line-height: 30px;
}
#z_body_topinleft3{
    width: 250px;
    height: 170px;
    text-align: center;
}
#z_body_topinleft3 label{
    color: black;
    line-height: 170px;
}
#z_body_topinright{
     float: right;
     width: 550px;
     height: 270px;
 }
#z_body_topinright1{
     width: 550px;
    height: 50px;
    line-height: 55px;
}
#z_body_topinright1 input{
    border: #999999 1px solid;
    width: 550px;
    height: 25px;
}
#z_body_topinright2{
    width: 550px;
    height: 40px;
    line-height: 30px;
}
#z_body_topinright2 input{
    border: #999999 1px solid;
    width: 550px;
    height: 25px;
}
#z_body_topinright3{
    width: 550px;
    height: 180px;
}
#z_body_topinright3 textarea{
    border: black 1px solid;
    width: 550px;
    height: 180px;
}
#z_body_topinrightend{
    margin-top: 5px ;
    text-align: center;
    width: 500px;
    height: 30px;
}
#z_body_topin2{
    width: 100%;
}
#z_body_topin2 h3{
    line-height: 50px;
    text-align: center;
}
#z_body_bottom{
    margin: 5px;
    background: #eef2fb;
    border: #999999 1px solid;
    border-right: white 1px solid;
    border-bottom: white 1px solid;
    width: 99%;
    height: 350px;
}
#z_body_bottom table{
    background:#fff;
    text-align: center;
    height: auto;
    width: 100%;
}
#z_body_bottom table tr:first-child{
    background: #1174af;
    color: #fff;
    font-size: 12px;
}
#z_body_bottom table tr:first-child td{
    margin-top: 3px;
    height: 20px;
}
#z_body_bottom table tr:nth-child(even){
    background: #e8f9fc;
}
#z_body_bottom table tr td{
    height: 20px;
}
