#z_container{
    width: 100%;
    height: 100%;
    background: #e7f4f7;
    border: #e7f4f7 1px solid;
}
#z_body{
    width: 99%;
    height: 1000px;
}
#z_banner{
    min-height: 300px;
    min-width: 300px;
    border: #e7f4f7 1px solid;
    width: auto;
    height: 1000px;
    margin: 0 auto;
}
#span{
    font-size: 14px;
    margin-left: 15px;
}
#z_banner_top{
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 120px;
    margin-left: 5px;
    border: #d7d7d7 1px solid;
}
#z_banner_topin{
    margin-left: 10px;
    width: 99%;
    height: 120px;
}
#z_banner_topinleft{
    width: 900px;
    height: 70px;
    min-width: 900px;
}
#z_b_tl{
    white-space:nowrap;
    width: 830px;
    height: 30px;
    min-width: 830px;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}
#z_b_tl label{
    margin-left: 3px;
}
.input{
    height: 30px;
    width: 174px;
    margin-left: 5px;
}
.button{
    width:auto;
    height: 30px;
    line-height: 25px;
    margin-left: 5px;
    border-radius: 3px;
    overflow: hidden;
    background:#eaedf4;
}
#shouhuo{
    width: 174px;
    height: 30px;
}
#daohuo{
    width: 174px;
    height: 30px;
}
#z_b_tr{
    white-space:nowrap;
    width: 870px;
    height: 30px;
    min-width: 870px;
    font-size: 12px;
    line-height: 20px;
    clear: both;
    margin-top: 10px;
}
#z_b_tr label{
    margin-left: 3px;
}
#z_b_tr_in2 select{
    appearance:none;
    font-size: 12px;
    width: 55px;
    height: 30px;
}
#z_banner_topinend{
    margin-left: 55px;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
#z_banner_topinend ul{
    white-space:nowrap;
    width: 100%;
    height: 40px;
    list-style:none;
    font-size: 12px;
    padding:0;
    margin:0;
}
#z_banner_topinend ul li{
    width: 11.1%;
    float:left;
}
#z_banner_end{
    margin: 5px;
    margin-left: 5px;
    margin-right: 10px;
    background: #e7f4f7;
    border: #999999 1px solid;
    border-top: #999999 1px solid;
    border-right: white 1px solid;
    border-bottom: white 1px solid;
    width: 100%;
    height: 750px;
}
#z_banner_end table{
    overflow: hidden;
    background:#fff;
    text-align: center;
    height: auto;
    width: 99%;
    min-width: 1000px;
}
#z_banner_end table tr:first-child{
    background: #1174af;
    color: #fff;
    font-size: 12px;
}
#z_banner_end table tr:first-child td{
    margin-top: 3px;
    height: 30px;
}
#z_banner_end table tr:nth-child(even){
    background: #e8f9fc;
}
#z_banner_end table tr td{
    height: 30px;
    min-width: 160px;
}
#zgl_tanyitan{
    position: absolute;
    display: none;
}
#title_id{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #79afee;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
}
.nks_end{
    cursor:pointer;
    float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;
}
#nks_sp{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}
#zgl_tanyitans{
    position: absolute;
    display: none;
}
#title_ids{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #79afee;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
}
#nks_sps{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}