﻿#z_container{
    width: 100%;
    height: 100%;
    background: #e7f4f7;
    border: #e7f4f7 1px solid;
}
#z_body{
    width: 99%;
    height: 1000px;
}
#z_banner{
    min-height: 300px;
    min-width: 300px;
    border: #e7f4f7 1px solid;
    width: auto;
    height: 1000px;
    margin: 0 auto;
}
#span{
    font-size: 14px;
    margin-left: 15px;
}
#z_banner_top{
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 120px;
    margin-left: 5px;
    border: #d7d7d7 1px solid;
}
#z_banner_topin{
    margin-left: 10px;
    width: 99%;
    height: 120px;
}
#z_banner_topinleft{
    float: left;
    width: 500px;
    height: 80px;
    min-width: 900px;
}
#z_banner_topinleft1{
    float: left;
    width: 10%;
    height: 80px;
}
#z_banner_topinleft2{
    max-width: 750px;
    min-width: 730px;
    float: left;
    width: 70%;
    height: 80px;
}
#z_banner_til2_top{
    margin-top: 5px;
    min-width: 600px;
    width: 99%;
    height: 40px;
}
#z_banner_til2_topin{
    white-space:nowrap;
    float: left;
    width: 250px;
    height: 30px;
    font-size: 12px;
}
#z_banner_til2_topin input{
    width: 174px;
    height:30px;
    margin-left: 5px;
}
#z_banner_til2_topin2{
    white-space:nowrap;
    float: left;
    width: 300px;
    height: 30px;
    font-size: 12px;
}
#z_banner_til2_topin2 input{
    width: 174px;
    height: 30px;
    margin-left: 2px;
}
#z_banner_til2_end{
    clear: both;
    width: 100%;
    min-width: 750px;
    height: 30px;
    line-height: 30px;
}
#z_banner_til2_endin{
    white-space:nowrap;
    float: left;
    width: 215px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
#z_banner_til2_endin select{
    appearance:none;
    width: 104px;
    height: 30px;
}
#z_banner_til2_endin input{
    width: 174px;
    height: 30px;
    margin-left: 5px;
}
#z_banner_til2_endin2 {
    overflow: hidden;
    float: left;
    width: 530px;
    min-width: 530px;;
    height: 30px;
    line-height: 10px;
    font-size: 12px;
}
#z_banner_til2_endin2 label{
    font-size: 12px;
}
#z_banner_til2_endin2 select{
    appearance:none;
    width: 104px;
}
#z_banner_til2_endin2 input{
    width: 174px;
    height: 30px;
}
#z_banner_topinright{
    white-space:nowrap;
    width: 45%;
    margin-top: 30px;
    height: 60px;
    line-height: 30px;
}
#allcheckup{
    width:20px;
}
#bufbalance{
    overflow: hidden;
    width:auto;
    height:auto;
    margin-left: 5px;
    border-radius: 3px;
    background:#eaedf4;
}
#buremove{
    overflow: hidden;
    width:auto;
    height:auto;
    margin-left: 5px;
    border-radius: 3px;
    background:#eaedf4;
}
#bufallremove{
    overflow: hidden;
    width:auto;
    height:auto;
    margin-left: 5px;
    border-radius: 3px;
    background:#eaedf4;
}
#z_banner_topinright button{
    overflow: hidden;
    width:auto;
    height:auto;
    margin-left: 5px;
    border-radius: 3px;
    background:#eaedf4;
}
#z_banner_topinend{
    margin-left: 20px;
    width: 100%;
    height: 40px;
    clear: both;
    line-height: 40px;
}
#z_banner_topinend ul{
    white-space:nowrap;
    width: 1000px;
    height: 40px;
    list-style:none;
    font-size: 12px;
    padding:0;
    margin:0;
}
#z_banner_topinend ul li{
    width: 120px;
    float:left;
    display:block;
}
#z_banner_end{
    margin: 5px;
    margin-left: 5px;
    margin-right: 10px;
    background: #e7f4f7;
    border: #999999 1px solid;
    border-top: #999999 1px solid;
    border-right: white 1px solid;
    border-bottom: white 1px solid;
    width: 100%;
    height: 600px;
}
#z_banner_end table{
    overflow: hidden;
    background:#fff;
    text-align: center;
    height: auto;
    width: 99%;
    min-width: 1000px;
}
#z_banner_end table tr:first-child{
    background: #1174af;
    color: #fff;
    font-size: 12px;
}
#z_banner_end table tr:first-child td{
    margin-top: 3px;
    height: 30px;
}
#z_banner_end table tr:nth-child(even){
    background: #e8f9fc;
}
#z_banner_end table tr td{
    height: 30px;
    min-width: 160px;
}
#z_top{
    margin-left: 5px;
    width: 100%;
    height: 80px;
}
#z_top1{
    overflow: hidden;
    margin-top: 10px;
    width: 98%;
    height: 30px;
}
#z_top1left{
    white-space:nowrap;
    float: left;
    width: 1150px;
    height: 30px;
}
#z_top1leftin span{
    font-size: 12px;
}
#z_top1leftin input{
    width: 174px;
    height: 30px;
    margin-left: 3px;
}
#z_top1leftin select{
    width: 104px;
    height: 30px;
    margin-left: 3px;
}
#z_top1right{
    width: 100px;
    height: 30px;
    margin-left: 5px;
}
#z_top1right button{
    width:auto;
    height:auto;
    line-height: 25px;
    margin-left: 5px;
    border-radius: 3px;
    overflow: hidden;
    background:#eaedf4;
}
#dayin{
    overflow: hidden;
    line-height: 25px;
    margin-left: 3px;
    border-radius: 3px;
    background:#eaedf4;
}
#z_top2{
    margin-top: 10px;
    width: 500px;
    height: 30px;
}
#z_top2 ul{
    white-space:nowrap;
    width:500px;
    height: 30px;
    line-height: 30px;
    list-style:none;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
#z_top2 ul li{
    overflow: hidden;
    width: 120px;
    float:left;
    display:block;
}
#z_banners{
    margin: 5px;
    border: #999999 1px solid;
    border-right: white 1px solid;
    border-bottom: white 1px solid;
    width: 99%;
    height: 500px;
}
#z_banners table{
    background:#fff;
    text-align: center;
    height: auto;
    width: 100%;
}
#z_banners table tr:first-child{
    background: #1174af;
    color: #fff;
    font-size: 12px;
}
#z_banners table tr:first-child td{
    margin-top: 3px;
    height: 30px;
}
#z_banners table tr:nth-child(even){
    background: #e8f9fc;
}
#z_banners table tr td{
    height: 30px;
}
#z_end{
    margin-top: 20px;
    margin-left: 10px;
    width: 98%;
    height: 90px;
}
#z_end_top{
    white-space:nowrap;
    margin-bottom: 10px;
    width: 1100px;
    height: 30px;
}
#z_end_top select{
    appearance:none;
    width: 104px;
}
#z_end_botton{
    white-space:nowrap;
    width: 1100px;
    height: 30px;
}
#z_end_bottonl{
    white-space:nowrap;
    float: left;
    width: 980px;
    height: 30px;
}
#z_end_bottonl span{
    white-space:nowrap;
    max-width: 200px;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
#z_end_bottonl input{
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}
#f_transfer_money{
    width: 174px;
    height: 30px;
}
#kaizhi{
    margin-left: 50px;
}
#f_remark{
    width: 174px;
    height: 30px;
}
#f_balance{
    margin-top: 7px;
    margin-left: 20px;
    display: inline-block;
}
#z_end_bottonr{
    white-space:nowrap;
    float: left;
    width: 100px;
    height: 30px;
    margin-left: 20px;
}
#z_end_bottonr button{
    overflow: hidden;
    margin-top: 5px;
    border-radius: 3px;
    background: #eaedf4;
    width: auto;
    height: auto;
    line-height: 25px;
}
#z_end_top label span{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
}
#z_end_top label input{
    border: #d7d7d7 1px solid;
    width: 174px;
    height: 30px;
}
#zgl_tanyitan{
    position: absolute;
    display: none;
}
#title_id{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #79afee;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
}
.nks_end{
    cursor:pointer;
    float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;
}
#nks_sps{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}
#title_ids{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #79afee;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
}
.nks_ends{
    cursor:pointer;
    float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;
}
#nks_sps{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}





