#z_container{
    width: 100%;
    height: 100%;
    background: #e7f4f7;
    border: #e7f4f7 1px solid;
}
#z_body{
    width: 99%;
    height: 1000px;
}
#z_banner{
    min-height: 300px;
    min-width: 300px;
    border: #e7f4f7 1px solid;
    width: auto;
    height: 1000px;
    margin: 0 auto;
}
/*#span{*/
    /*font-size: 14px;*/
    /*margin-left: 15px;*/
/*}*/
#z_banner_top{
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 90px;
    margin-left: 5px;
    border: #d7d7d7 1px solid;
}
#z_banner_topin{
    margin-left: 10px;
    width: 99%;
    height: 80px;
}
#z_banner_topinleft{
    width: 700px;
    height: 70px;
    min-width: 700px;
}
#z_b_tl{
    white-space:nowrap;
    width: 600px;
    height: 30px;
    min-width: 600px;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 25px;
}
#z_b_tl span{
    font-size: 12px;
}
#z_b_tl input{
    width: 174px;
    height: 30px;
    margin-left: 3px;
}
#z_top1right button{
    width:auto;
    height: 30px;
    line-height: 25px;
    margin-left: 5px;
    border-radius: 3px;
    overflow: hidden;
    background:#eaedf4;
}
#z_b_tr{
    white-space:nowrap;
    width: 700px;
    height: 30px;
    min-width: 700px;
    font-size: 12px;
    line-height: 20px;
    clear: both;
    margin-top: 10px;
}
#z_b_tr span{
    margin-left: 3px;
    font-size: 12px;
}
#z_b_tr input{
    width: 174px;
    height: 30px;
    margin-left: 3px;
}
#z_banner_end{
    margin: 5px;
    margin-left: 5px;
    margin-right: 10px;
    background: #e7f4f7;
    border: #999999 1px solid;
    border-top: #999999 1px solid;
    border-right: white 1px solid;
    border-bottom: white 1px solid;
    width: 100%;
    height: 750px;
}
#z_banner_end table{
    overflow: hidden;
    background:#fff;
    text-align: center;
    height: auto;
    width: 100%;
    min-width: 1000px;
}
#z_banner_end table tr:first-child{
    background: #1174af;
    color: #fff;
    font-size: 12px;
}
#z_banner_end table tr:first-child td{
    margin-top: 3px;
    height: 30px;
}
#z_banner_end table tr:nth-child(even){
    background: #e8f9fc;
}
#z_banner_end table tr td{
    height: 30px;
    min-width: 160px;
}