<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal"  id="companyInsert" method="post" >
                            <div class="space-4"></div>
                            <div class="form-group">
                                <input name="a_id" type="hidden" value="{$chongzhi.a_id}"/>
                                <label class="col-sm-2 control-label no-padding-right" >新密码</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="a_password" id="a_password" placeholder="输入新密码" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-info" id="subs">
                                        <i class="ace-icon fa fa-check bigger-110" ></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
<script>

    $('#subs').click(function () {
        if ('' == $.trim($('#a_password').val())) {
            layer.alert('新密码不能为空!', {icon: 5}, function (index) {
                layer.close(index);
                $('#a_password').focus();
            });
            return false;
        }else {

            $.ajax({
                url:"{:url('Company/company_czhis')}",
                type:'post',
                data:$('#companyInsert').serialize(),
                async:false,
                success:function (res) {
                    console.log(res);
                    //发异步，把数据提交给php
                    layer.msg("重置成功", {time:2000},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.location.reload();
                        window.location.href = document.referrer
                    });
                }

            });

            return false;
        }

    })
</script>

</body>
</html>