{include file="common/head"/}

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}
            <div class="page-content">
                <div class="row maintop">
                    <div class="col-xs-12 col-sm-2">
                        <a href="{:url('Company/company_add')}">
                            <span class="btn btn-xs btn-danger">
                                <i class="ace-icon fa fa-plus bigger-110"></i>
                                添加
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table id="simple-table"
                                           class="table table-striped table-bordered table-hover center">
                                        <thead>
                                        <tr >
                                            <th class="center">公司名称</th>
                                            <th class="center">公司名称英文缩写</th>
                                            <th class="center">管理员用户名</th>
                                            <th class="center">真实姓名</th>
                                            <th class="center hidden-xs">公司负责人</th>
                                            <th class="center hidden-xs">公司电话</th>
                                            <th class="center visible-lg visible-md">公司地址</th>
                                            <th class="center">公司授权电脑数量</th>
                                            <th class="center">创建时间</th>
                                            <th class="center">是否启用mac</th>
                                            <th class="center">状态</th>
                                            <th class="center" style="border-right:1px solid #ddd; ">操作</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {foreach name="$companylist" id="v"}
                                        <tr>
                                            <td>{$v.c_name}</td>
                                            <td>{$v.c_abname}</td>
                                            <td>{$v.a_username}</td>
                                            <td>{$v.a_realname}</td>
                                            <td class="hidden-xs">{$v.c_admin}</td>
                                            <td class="hidden-xs">{$v.c_phone}</td>
                                            <td class="visible-lg visible-md">{$v.c_address}</td>
                                            <td>{$v.c_compute_number}</td>
                                            <td>{$v.c_createtime}</td>
                                            <td> {if condition='$v.c_is_usermac eq 2'}启用{else /}禁用{/if}</td>
                                            <td> {if condition='$v.a_is_open eq 1'}启用{else /} 禁用{/if}</td>
                                            <td style="white-space:nowrap;">
                                                <div class="action-buttons">
                                                    <a class="green" href="company_edit/c_id/{$v.c_id}" title="修改">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i> </a>
                                                    <a class="red" href="javascript:;"
                                                       onclick="com_del(this,'{$v.c_id}')" title="删除">
                                                        <i class="ace-icon fa fa-trash-o bigger-130"></i> </a>
                                                    <a href="{:url('Company/company_czhi',['c_id'=>$v.c_id])}">
                                                        <span class="btn btn-xs btn-danger"><i class="ace-icon fa fa-plus bigger-110"></i>重置</span></a>
                                                    <a href="{:url('Companymac/companymaclist',['c_compute_number'=>$v.c_compute_number,'c_id'=>$v.c_id])}" class="test">
                                                    <span class="btn btn-xs btn-danger">
                                                        mac修改
                                                    </span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {/foreach}
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- /.span -->
                        </div><!-- /.row -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}

</div><!-- /.main-container -->

<!-- inline scripts related to this page -->
<script type="text/javascript">

        $(function() {
            $('.test').click(function () {
                var stat_tt = $(this).parent().parent().prev().prev().html();
                console.log(stat_tt);
                if (stat_tt == " 禁用") {
                    alert("已被禁用");
                    $(this).attr("href", "#");     //阻止链接了
                }
            })
        })

    function del(id) {
        if (id == 1) {
            layer.alert('超级管理员不可删除', {icon: 4});
            return false;
        }
        layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
            layer.close(index);
            window.location.href = "{:url('adminDel')}?a_id=" + id;
        });
    }

    //删除
    function com_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $.ajax({
                url: "{:url('Company/comapny_del')}",
                type: "post",
                data: {c_id: id,},
                success: function (res) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                }
            })
        });
    }

</script>

</body>
</html>
