<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        {foreach name="$list" id="vo"}
                        <form class="form-horizontal"  id="companyUpdate" method="post" >
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >公司名称</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="hidden" value="{$vo.c_id}" name="c_id"/>
                                    <input type="text" name="c_name" id="c_name" placeholder="输入公司名称" class="col-xs-12 col-md-4" value="{$vo.c_name}"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >公司名称英文缩写</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" readonly name="c_abname" id="c_abname" placeholder="输入公司名称英文缩写" class="col-xs-12 col-md-4" value="{$vo.c_abname}"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >管理员用户名</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="hidden" value="{$vo.a_id}" name="a_id"/>
                                    <input type="text" readonly name="a_username" id="a_username" placeholder="输入管理员用户名" class="col-xs-12 col-md-4" value="{$vo.a_username}"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >真实姓名</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="a_realname" id="a_realname" placeholder="输入真实姓名" class="col-xs-12 col-md-4" value="{$vo.a_realname}"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >公司负责人</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="c_admin" id="c_admin" placeholder="输入公司负责人" class="col-xs-12 col-md-4" value="{$vo.c_admin}"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >公司地址</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="c_address" id="c_address" placeholder="输入公司地址" class="col-xs-12 col-md-4" value="{$vo.c_address}"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >公司电话</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="c_phone" id="c_phone" placeholder="输入公司电话" class="col-xs-12 col-md-4" value="{$vo.c_phone}"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">公司授权电脑数量</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="c_compute_number" id="c_compute_number" placeholder="输入公司授权电脑数量" class="col-xs-12 col-md-4" value="{$vo.c_compute_number}"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >是否启用mac</label>
                                <div class="col-sm-10 col-xs-12">
                                    <label>
                                        <input name="c_is_usermac" value="{$vo.c_is_usermac}" class="ace ace-switch ace-switch-5" type="checkbox" id="xiugai">
                                        <span class="lbl" id="kaiqi">&nbsp;&nbsp;默认关闭</span>
                                    </label>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >状态</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="radio" id="sss" checked="checked" name="a_is_open" class="layui-input"
                                           {if condition="$vo.a_is_open eq 1"}checked{/if}
                                           value="1">启用
                                    <input type="radio"  name="a_is_open" class="layui-input"
                                           {if condition="$vo.a_is_open eq 0"}checked{/if}
                                           value="0">禁用
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-info" id="sub">
                                        <i class="ace-icon fa fa-check bigger-110" ></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                        {/foreach}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
<script type="text/javascript">
    $(window).load(function(){
        var sqdn = $('#xiugai').val();
        if(sqdn==2){
            $("#xiugai").attr("checked","checked");
        }else{
            $("#xiugai").removeAttr("checked");
        }
    })
    $('#xiugai').click(function(){
        if($('#xiugai').val()==1){
            $('#xiugai').val("2");
            $('#kaiqi').text("开启");
        }else {
            $('#xiugai').val("1");
            $('#kaiqi').text("默认关闭");
        }
        // console.log($('#xiugai').val());
    })
    $(function () {
        $('#sub').click(function () {
            //发异步，把数据提交给php
            $.ajax({
                url: "{:url('Company/do_updcom')}",
                type: 'post',
                data: $('#companyUpdate').serialize(),
                async: false,
                success: function (res) {
                    console.log(res);
                    //发异步，把数据提交给php
                    layer.msg("修改成功", {time: 2000}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.location.reload();
                        window.location.href = document.referrer;
                    });
                }
            })
            return false;
        })
    })

</script>
</body>
</html>

