<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form autocomplete="off" class="form-horizontal"  id="companyInsert" method="post" >
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >公司名称</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="c_name" id="c_name" placeholder="输入公司名称" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >公司名称英文缩写</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="c_abname" id="c_abname" placeholder="输入公司名称英文缩写" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>用于票号编码,建议使用两位英文字母</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >管理员用户名</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="a_username" id="a_username" placeholder="输入管理员用户名" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>用于登陆的账号,建议使用本人手机号作为登陆账号</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >管理员登录密码</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="password" autocomplete="new-password" name="a_password" id="a_password" placeholder="输入管理员登录密码" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>用于登陆的密码</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >真实姓名</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="a_realname" id="a_realname" placeholder="输入真实姓名" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >公司负责人</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="c_admin" id="c_admin" placeholder="输入公司负责人" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >公司地址</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="c_address" id="c_address" placeholder="输入公司地址" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >公司电话</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="c_phone" id="c_phone" placeholder="输入公司电话" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >是否启用mac</label>
                                <label>
                                    <input name="c_is_usermac"  value="1" class="ace ace-switch ace-switch-5" type="checkbox" id="tianjia">
                                    <span class="lbl" id="kaiqi">&nbsp;&nbsp;默认关闭</span>
                                </label>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group" id="abc" style="display:none">
                                <label class="col-sm-2 control-label no-padding-right">公司授权电脑数量</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="text" name="c_compute_number" id="c_compute_number" placeholder="输入公司授权电脑数量" class="col-xs-12 col-md-4"/>
                                    <span class="lbl">&nbsp;&nbsp;<span class="red">*</span></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" >状态</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input type="radio" checked="checked" name="a_is_open"  class="layui-input" value="1">启用
                                    <input type="radio"  name="a_is_open" class="layui-input" value="0">禁用
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-info" id="sub">
                                        <i class="ace-icon fa fa-check bigger-110" ></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
<script type="text/javascript">
    //判断后台是否有公司英文名缩写重名
    $('#c_abname').blur(function(){
        var sx=$('#c_abname').val();
        var sxlen = $("#c_abname").val().length;
        console.log(sx);
        if (sx!=''){
            $.ajax({
                url:"{:url('Company/company_sx')}",
                type:'post',
                data:{id:sx},
                async:false,
                success:function (result) {
                    var res = JSON.parse(result);
                    console.log(res);
                    if(sxlen > 2){
                        layer.alert('建议使用两位英文字母!', {icon: 5}, function (index) {
                            layer.close(index);
                            $('#c_abname').focus();
                        });
                    }
                    if(res==null){}else {
                        if(res.c_abname==sx){
                            layer.alert('该公司名称英文缩写已占用，建议使用两位英文字母!', {icon: 5}, function (index) {
                                layer.close(index);
                                $('#c_abname').focus();
                            });
                        }
                    }
                }

            });
            return false;
        }

    })
    //判断后台是否有公司重名
    $('#a_username').blur(function(){
        var yhm=$('#a_username').val();
        console.log(yhm);
        if(yhm!=''){
            $.ajax({
                url:"{:url('Company/company_yhm')}",
                type:'post',
                data:{id:yhm},
                async:false,
                success:function (result) {
                    var res = JSON.parse(result);
                    console.log(res);
                    if(res==null){}else {
                        if(res.a_username==yhm){
                            layer.alert('该用户名系统已占用，建议使用本人手机号作为登陆账号!', {icon: 5}, function (index) {
                                layer.close(index);
                                $('#a_username').focus();
                            });
                            $('#a_username').val('');
                        }
                    }
                }

            });
            return false;
        }

    })
    //判断是否开启及其显示
    $('#tianjia').click(function(){
        if($('#tianjia').val()==1){
            $('#tianjia').val("2");
            $('#kaiqi').text("开启");
            $("#abc").show().addClass("show");
        }else {
            $('#tianjia').val("1");
            $('#kaiqi').text("默认关闭");
            $("#abc").hide().removeClass("show");
        }
        // console.log($('#tianjia').val());
    })
    //提示与提交
    $('#sub').click(function () {
        if ('' == $.trim($('#c_name').val())) {
            layer.alert('公司名称不能为空!', {icon: 5}, function (index) {
                layer.close(index);
                $('#c_name').focus();
            });
            return false;
        }
        if ('' == $.trim($('#c_abname').val())) {
            layer.alert('公司名称英文缩写不能为空!', {icon: 5}, function (index) {
                layer.close(index);
                $('#c_abname').focus();
            });
            return false;
        }
        if ('' == $.trim($('#a_username').val())) {
            layer.alert('管理员用户名不能为空!', {icon: 5}, function (index) {
                layer.close(index);
                $('#a_username').focus();
            });
            return false;
        }
        if ('' == $.trim($('#a_password').val())) {
            layer.alert('管理员登录密码不能为空!', {icon: 5}, function (index) {
                layer.close(index);
                $('#a_password').focus();
            });
            return false;
        }
        if ('' == $.trim($('#a_realname').val())) {
            layer.alert('真实姓名不能为空!', {icon: 5}, function (index) {
                layer.close(index);
                $('#a_realname').focus();
            });
            return false;
        }
        if ('' == $.trim($('#c_admin').val())) {
            layer.alert('公司负责人不能为空!', {icon: 5}, function (index) {
                layer.close(index);
                $('#c_admin').focus();
            });
            return false;
        }
        if ('' == $.trim($('#c_address').val())) {
            layer.alert('公司地址不能为空!', {icon: 5}, function (index) {
                layer.close(index);
                $('#c_address').focus();
            });
            return false;
        }
        if ('' == $.trim($('#c_phone').val())) {
            layer.alert('公司电话不能为空!', {icon: 5}, function (index) {
                layer.close(index);
                $('#c_phone').focus();
            });
            return false;
        }else {
            $.ajax({
                url:"{:url('Company/do_addcom')}",
                type:'post',
                data:$('#companyInsert').serialize(),
                async:false,
                success:function (res) {
                    console.log(res);
                    //发异步，把数据提交给php
                    layer.msg("增加成功", {time:2000},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前framef
                        window.location.href = document.referrer
                    });
                }

            });

            return false;
        }

    })
</script>

</body>
</html>