/*总体div*/
.l_body{
    background:#e7f4f7;
    width:100%;
    height:800px;
}
/*按钮样式*/
.lb1r_bu{
    width:auto;
    height:auto;
    padding: 5px;
    border-radius: 3px;
    background:#eaedf4;
}
/*头部查询区*/
.l_b_sel{
    width:80%;
    min-width: 850px;
}
.l_bsel_l{
    float:left;
    margin-left:10px;
}
.l_bsel_c{
    float:left;
    margin-left:10px;
}
.l_bsel_r{
    float:left;
    margin-left:20px;
}
/*头部查询后显示div*/
.l_b_sel_show,.l_b_form_again{
    clear: both;
    overflow-y:auto;
    overflow-x:auto;
    width:auto;
    height:auto;
    margin-left: 10px;
    /*超出出现滚动条*/
}
#up_table tr td,#down_table tr td{
    min-width: 80px;
}
#up_table tr:first-child,#down_table tr:first-child{
    color: #fff;
}
#up_table,#down_table{
    text-align: center;
    background:#0e77a7;
}
/*中间提交表单的内容*/
.l_b_form{
    /*background:red;*/
    margin-left: 10px;
    width:1100px;
    min-width: 1000px;
    max-width: 1100px;
    text-align: right;
}
.l_b_form table tr td{min-width: 65px;}

/*送货页面，也就是第二个   */

/*ztree*/
#title_id{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #a9c9e2;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
    color: #fff;
    padding-left: 5px;
}
.nks_end{
    float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;
}
#nks_sp{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}