.hr_big{
    height: 500px;
}
#hr_table tr td{
    font-size: 12px;
    text-align: right;
    /*border: 1px solid #000;*/
    width: 90px;
    height: 30px;
    /*margin: 10px;*/
}
.hr_over{
    width: auto;
    height: auto;
    overflow: auto;
}
#hr_table tr td input,#hr_table tr td select{
    width: 180px;
    height: 30px;
}
#hr_table{
    margin: 0 auto;
}
body{
    /*font-size: 80px;*/
    font-family: "微软雅黑", "黑体";
}
.hr_fixed{
    width: 80px;
}
/*body样式*/
#all_body{
    width:100%;
    height:850px;
    background:#e7f4f7;
}
#showlist{
    width: 100%;
    margin:0 auto;
}
#showtable tr td{
    min-width: 100px;
    text-align: center;
}