.l_body{
    background:#e7f4f7;
    width:100%;
    height:auto;
}
.lb_1{
    margin-top: 10px;
    border: 1px solid #e6e6e6;
    height:46px;
    width:100%;
}
.lb1_l{
    float:left;
    margin-left:10px;
    /*background:red;*/
}
.lb1_c{
    float:left;
    /*background:grey;*/
    margin-left:20px;
}
.lb1_r{
    float:left;
    /*background:green;*/
    margin-left:20px;
}
.lb1r_bu{
    width:auto;
    height:auto;
    padding: 5px;
    border-radius: 3px;
    background:#eaedf4;
}
#tblMain,#down_table{width:100%;}
#tblMain tr td,#down_table tr td{min-width: 80px;}
/*第二个div*/
.lb_2{
    width:100%;
    height:auto;
    border: 1px solid #e6e6e6;
    margin-top: 10px;
}
.lb_2 ul,.lb_4 ul{
    margin: 10px;
    list-style: none;
}
.lb_2 ul li,.lb_4 ul li{
    float:left;
    /*margin:10px;*/
    text-align: center;
    width:9%;
}
.lb_2 table tr:first-child{
    background:#1174af;
    color:#fff;
    font-size: 12px;
    /*font-weight: bold;*/
}
.lb_2 table tr:first-child td{
    margin-top: 3px;
    height:20px;
}
.lb_2 table{
    background:#fff;
    margin-left: 10px;
    text-align: center;
    border:1px solid #0D1D3C;
    height:auto;
    width:95%;
}
.lb_2 table tr:nth-child(even){
    background: #e8f9fc;
}
.lb_2 table tr td{
    margin: 80px;
    height:20px;
}
/*第三个*/
.lb_3{
    margin-top: 10px;
    border: 1px solid #e6e6e6;
    height:46px;
    width:100%;
}
.lb3_bu{
    width:auto;
    height:auto;
    padding: 5px;
    border-radius: 3px;
    background:#eaedf4;
}
/*第四个*/
.lb_4{
    width:100%;
    height:270px;
    border: 1px solid #e6e6e6;
    margin-top: 10px;
}
.lb_4 table tr:first-child{
    background:#1174af;
    color:#fff;
    font-size: 12px;
    /*font-weight: bold;*/
}
.lb_4 table tr:first-child td{
    margin-top: 3px;
}
.lb_4 table{
    background:#fff;
    margin-left: 10px;
    text-align: center;
    border:1px solid #0D1D3C;
    height:auto;
    width:95%;
}
.lb_4 table tr:nth-child(even){
    background: #e8f9fc;
}
.lb_4 table tr td{
    /*margin: 80px;*/
    height:20px;
}
/*第五个*/
.lb_5{
    width:100%;
    height:50px;
    margin-top: 10px;
}
.lb_5 table{
    margin-left: 10px;
    text-align: center;
    height:50px;
    width:80%;
}
/*第六个*/
.lb_6{
    width:90%;
    /*background:red;*/
}
.lb_6 table{margin-left: 10px;}
.lb_6 table tr td{min-width: 70px;}


/*第二个大页面的*/
/*第一个div*/
.llb_1{
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #e6e6e6;
    height:140px;
    width:95%;
}
.llbl_l,.llbl_r{
    float: left;
    margin-right: 50px;
}
.llbl_r button{
    width:auto;
    height:auto;
    padding: 5px;
    border-radius: 3px;
    background:#eaedf4;
}
.llb_3 table{
    width:95%;
    height:70px;
    text-align: left;
    margin-left: 10px;
}

/*第三个大页面*/
/*jiuyige*/
.lll_body{
    background:#e7f4f7;
    width:100%;
    height:700px;
}
/*ztree样式*/
#title_id,#title_id2{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #a9c9e2;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
    color: #fff;
    padding-left: 5px;
}
.nks_end{
    float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;
}
#nks_sp,#nks_sp2{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}
/*树*/
.nks_end{
    float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;
    cursor:pointer;
}
.nks_sp{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}

.row{
    font-size:10px;
}
.title_id{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #a9c9e2;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
    color: #fff;
    padding-left: 5px;
}