
.g_z{
    width: 100%;
    height: 1000px;
    background: #e6f3f9;

}
.g_c{
    width: 99%;
    margin-left: 20px;
    margin-bottom: 10px;

}
.g_z_l{
    min-width: 620px;
    height: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 8px;


}
.g_z_r{
    width: 50px;
    height: 40px;
    float: left;
    margin-left: 22px;


}
.g_zz{
    width: 100%;
    height: 40px;
    clear: both;

    margin-top: 4px;
}
.g_z_2{
    margin-left: 20px;
    width: 700px;
    height: 80px;
    float: left;
}
.g_z_4{
    float: left;
    width:200px;
    height: 40px;


}
.g_z_4_s{
    width: 100px;
    height: 26px;
    line-height: 26px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
}
.g_z_f{
    width: 80px;
    height: 26px;
    line-height: 26px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
}
.g_z_t{
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.g_z_t tr td{
    font-size: 14px;

}
.g_ta {

    text-align: center;
    background: #0e77a7;
    height: 100px;
    width: 100%;
}

.g_ta tr td{
    min-width: 100px;
    font-size: 14px;
    height: 20px;
    line-height: 20px;

}
.g_ta tr{
    height: 20px;
}
.che{
    max-width: 20px;
}


.gundong{
    overflow-y:auto;
    overflow-x:auto;
    width:auto;
    height:400px;
    clear: both;
    scrollbar-base-color:#409cd2;
    scrollbar-track-color:#f0ffff;
    scrollbar-highlight-color:#fff;
    scrollbar-shadow-color:#fff;
}
.chaxun{
    float: left;

}

.page{
    margin-right: 20px;
    float: right;
}
.tree_wrap{
    background: red;

}
#tree_wrap2{
    background:#fff;
    height: 400px;
    width: 160px;
    position:absolute ;
    margin-left: 200px;
    border-radius:4px;
    overflow:hidden;
    box-shadow: 0 0  10px  #000;

}
.sele{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    width:100px;height:26px;
    link-height:26px;
    margin: 0;
    padding: 0;
}
.g_l{
    width: 400px;height: 26px;
    float: left;
}
.g_cc{
    width: 320px;
    height: 28px;
    float: left;
}
.dian2{
    margin-bottom: 8px;
}
.butt{
    height: 24px; /* 高度 */
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
    font-family: Microsoft YaHei; /* 设置字体 */
    /*color: white; !* 字体颜色 *!*/
    font-size: 12px; /* 字体大小 */
}
#tree_wrap2{
    display: none;
}
/*ztree*/
#title_id,#title_id2{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #a9c9e2;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
    color: #fff;
    padding-left: 5px;
}
.nks_end{
    float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;
}
#nks_sp,#nks_sp2{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}