input{
    padding:0;
}
.change-color{
    background:#fff;
}
.page-content{
    font-size:10px;
    background:#e7f4f7;
    width:100%;
    height:170px;
    /*padding:15px 0 0;*/
}
.document-top{
    background:#e7f4f7;
}
#tree_wrap{
    display:none;position:absolute;left:50px;top:90px;z-index:1000;border-radius:2%;
    margin-top: 20px; height: 500px;border:1px solid #a5b6c8;background:#eef3f7; width: 200px;
    margin-left: 50px;overflow:hidden; box-shadow: 5px 2px 6px #ccc;-moz-box-shadow: 5px 2px 6px #ccc;
    -webkit-box-shadow: 5px 2px 6px #ccc; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
}
#tree_wrap2{
    display:none;
    position:absolute;left:30px;top:72px;z-index:1200;border-radius:2%;
    margin-top: 20px; height: 500px;border:1px solid #a5b6c8;background:#eef3f7; width: 200px;
    margin-left: 50px;overflow:hidden; box-shadow: 5px 2px 6px #ccc;-moz-box-shadow: 5px 2px 6px #ccc;
    -webkit-box-shadow: 5px 2px 6px #ccc; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
}
#tree_wrapc{
    display:none;position:absolute;left:550px;top:71px;z-index:1000;border-radius:2%;
    margin-top: 20px; height: 500px;border:1px solid #a5b6c8;background:#eef3f7; width: 200px;
    margin-left: 50px;overflow:hidden; box-shadow: 5px 2px 6px #ccc;-moz-box-shadow: 5px 2px 6px #ccc;
    -webkit-box-shadow: 5px 2px 6px #ccc; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
}
#fasheng3{
    display:none;position:absolute;left:290px;top:71px;z-index:1000;border-radius:2%;
    margin-top: 20px; height: 500px;border:1px solid #a5b6c8;background:#eef3f7; width: 200px;
    margin-left: 50px;overflow:hidden; box-shadow: 5px 2px 6px #ccc;-moz-box-shadow: 5px 2px 6px #ccc;
    -webkit-box-shadow: 5px 2px 6px #ccc; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
}
#zhuanchu4{
    display:none;position:absolute;left:290px;top:71px;z-index:1000;border-radius:2%;
    margin-top: 20px; height: 500px;border:1px solid #a5b6c8;background:#eef3f7; width: 200px;
    margin-left: 50px;overflow:hidden; box-shadow: 5px 2px 6px #ccc;-moz-box-shadow: 5px 2px 6px #ccc;
    -webkit-box-shadow: 5px 2px 6px #ccc; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
}
.title_id{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #a9c9e2;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
    color: #fff;
    padding-left: 5px;
}
.nks_end{
    float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;
    cursor:pointer;
}
.nks_sp{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}

.row{
    font-size:10px;
}
.seal_query{
    text-align:left;
    margin-left:4%;
    width:55%;
    height:80px;
    min-width:765px;
}
.seal_query input {
    padding:0;
}
.head_check{
    width:13px;
    height:13px;
}
.query_span{
    display:inline-block;
    margin-left:2%;
    margin-bottom:5px;
}
.butt{
    padding: 5px;
    border-radius: 3px;
    background:#eaedf4;
    font-weight:bold;
}
.subb{
    padding: 5px;
    border-radius: 3px;
    background:#eaedf4;
    font-weight:bold;
}
.seal_sum{
    width:95%;
    height:40px;
    margin-top:10px;
    background:#e7f4f7;
}
.seal_sum tr{
    height:20px;
}
.seal_sum tr th,.seal_sum tr td{
    text-align:center;
}
.row{
    overflow:auto;
}
.seal_table{
    width:100%;
    min-width:2000px;
}
.seal_table tr{
     height:25px;
}
.seal_table tr th{
     background:#1174af;
     color:white;
}
.seal_table tr td{
    white-space:nowrap;
}
.seal_table tr:hover{
    background: #82ddeb;
}
.table-responsive{
    background: #e7f4f7;
    overflow:auto;
}
.tr-active{
    background:#82ddeb;
}
#color_tbody ul{
    margin:0;
    padding:0;
}
/*--------------------发货查询中的货车装载的货物详情信息页面----------------*/
.top-div{
    padding:5px 20px;
    width:100%;
    overflow-x:auto;
    background: #e7f4f7;
}
.top-table{
    margin-left:15px;
    margin-top:5px;
    margin-bottom:10px;
    width:100%;
    min-width:880px;
    height:85px;
}
.title-td{
    text-align:right;
}
.second-table{
    width:100%;
    min-width:900px;
    height:45px;
}
.backButt{
    padding: 5px;
    border-radius: 3px;
    background:#eaedf4;
    font-weight:bold;
    min-width:50px;
}
/*---------------------------到货查询--------------------------------*/
.time-div{
    float:left;
}
/*查询区布局*/
.search-td{
    width:220px;line-height: 25px;
    padding-left:28px;
}
.remark-input{
    width:200px;height:23px;
}
/*----------------------------运单冻结和解冻--------------*/
.freeze_table{
    width:100%;
}
.freeze_table tr{
    height:25px;
}
.freeze_table tr th{
    background:#1174af;
    color:white;
}
.freeze_table tr td{
    white-space:nowrap;
}
.freeze_table tr:hover{
    background: #82ddeb;
}
.fsearch-div {
    width:55%;
    height:30px;
    min-width:800px;
    margin:0 auto;
}
.search-left {
    width:47%;
    height:30px;
    float:left;
    min-width:300px;
}
.search-right {
    width:53%;
    height:30px;
    float:left;
}
.text-time {
    float:left;
    height:10px;
    margin-top:5px;
    min-width:50px;
}
.search-freeze {
    border-radius: 3px;
    background:#eaedf4;
    font-weight:bold;
    height:25px;
    padding:0 10px;
}
.bottom-freeze {
    width:80%;
    height:80px;
    position:fixed;
    bottom:60px;
    margin-left:50px;
    z-index:100;
}
.bottom-freeze2 {
    width:80%;
    height:50px;
    position:fixed;
    bottom:60px;
    margin-left:50px;
    z-index:100;
}
.low-left {
    float:left;
    width:960px;
    height:80px;
    margin-right:1%;
}
.low-left2 {
    float:left;
    width:636px;
    height:50px;
}
.low-right {
    float:left;
    width:240px;
    height:80px;
}
.low-right2 {
    float:left;
    width:240px;
    height:50px;
}
.low-right2 {
    float:left;
    width:47%;
    height:80px;
}
.butt2 {
    margin-top:26px;
}
.same-floor {
    width:100%;
    margin-bottom:6px;
    min-width:1000px;
}
.same1-input {
    width:230px;
    height:20px;
    margin-right:40px;
}
.low-span {
    display:inline-block;
}
.low-span1 {
    margin-left:13px;
}
.low-span2 {
    margin-left:13px;
    margin-right:13px;
}
.reason-input {
    width:560px;
    height:20px;
    margin-right:100px;
}
.loss-span {
    display:inline-block;
    width:70px;
}
.thaw {
    margin-top:13px;
}
.thaw-span {
    display:inline-block;
    margin-left:50px;
}
.thaw-span2 {
    display:inline-block;
    width:50px;
    margin-right:10px;
}