input{
    padding:0;
}
.change-color{
    background:#fff;
}
.page-content{
    font-size:10px;
    background:#e7f4f7;
    width:100%;
    height:170px;
    /*padding:15px 0 0;*/
}
.document-top{
    background:#e7f4f7;
}
#tree_wrap{
    display:none;position:absolute;left:30px;top:100px;z-index:1000;border-radius:2%;
    margin-top: 20px; height: 500px;border:1px solid #a5b6c8;background:#eef3f7; width: 200px;
    margin-left: 50px;overflow:hidden; box-shadow: 5px 2px 6px #ccc;-moz-box-shadow: 5px 2px 6px #ccc;
    -webkit-box-shadow: 5px 2px 6px #ccc; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
}
#tree_wrap2{
    display:none;
    position:absolute;left:30px;top:72px;z-index:1200;border-radius:2%;
    margin-top: 20px; height: 500px;border:1px solid #a5b6c8;background:#eef3f7; width: 200px;
    margin-left: 50px;overflow:hidden; box-shadow: 5px 2px 6px #ccc;-moz-box-shadow: 5px 2px 6px #ccc;
    -webkit-box-shadow: 5px 2px 6px #ccc; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
}
.title_id{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #a9c9e2;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
    color: #fff;
    padding-left: 5px;
}
.nks_end{
    float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;
    cursor:pointer;
}
.nks_sp{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}

.row{
    font-size:10px;
}
.seal_query{
    text-align:left;
    margin-left:4%;
    width:55%;
    height:80px;
    min-width:765px;
}
.seal_query input {
    padding:0;
}
.head_check{
    width:13px;
    height:13px;
}
.query_span{
    display:inline-block;
    margin-left:2%;
    margin-bottom:5px;
}
.butt{
    padding: 5px;
    border-radius: 3px;
    background:#eaedf4;
    font-weight:bold;
}
.subb{
    padding: 5px;
    border-radius: 3px;
    background:#eaedf4;
    font-weight:bold;
}
.seal_sum{
    width:95%;
    height:40px;
    margin-top:10px;
    background:#e7f4f7;
}
.seal_sum tr{
    height:20px;
}
.seal_sum tr th,.seal_sum tr td{
    text-align:center;
}
.row{
    overflow:auto;
}
.seal_table{
    width:100%;
    min-width:1200px;
}
.seal_table tr{
     height:25px;
}
.seal_table tr th{
     background:#1174af;
     color:white;
}
.seal_table tr td{
    white-space:nowrap;
}
.seal_table tr:hover{
    background: #82ddeb;
}
.table-responsive{
    background: #e7f4f7;
    height:350px;
    overflow:auto;
}
.tr-active{
    background:#82ddeb;
}
#color_tbody ul{
    margin:0;
    padding:0;
}
