<template>
  <div>
    <van-nav-bar
      title="登录"
      left-text="返回"
      right-text=""
      left-arrow
      @click-left="onClickLeft"
    />
    <van-image
      cover
      width="90px"
      style="left:calc( ( 100% - 90px ) / 2); margin-top:50px;"
      src="../../../static/login.png"
    />
    <div v-show="isLogin" style="width:80%;margin:50px auto 50px;border-radius:5px;">
      <van-form @submit="onLogin">
        <van-field
          v-model="username"
          name="username"
          placeholder="请输入手机号"
          :rules="[{ required: true, message: '请填写手机号' }]"
        />
        <van-field
          v-model="password"
          type="password"
          name="pwd"
          placeholder="密码"
          :rules="[{ required: true, message: '请填写密码' }]"
        />
        <div style="margin: 16px;">
          <van-button round block type="info" native-type="submit">提交</van-button>
        </div>
      </van-form>
    </div>
    <div v-show="!isLogin" style="width:80%;margin:50px auto 50px;border-radius:5px;">
      <van-form @submit="onSubmit">
        <van-field
          v-model="Rusername"
          name="username"
          placeholder="用户名"
          :rules="[{ required: true, message: '请填写用户名' }]"
        />
        <van-field
          v-model="Rphone"
          name="iphone"
          placeholder="手机号"
          :rules="[{ validator, message: '请输入正确手机号' },]"
        />
        <van-field
          v-model="Rpassword"
          type="password"
          name="pwd"
          placeholder="密码"
          :rules="[{ required: true, message: '请填写密码' }]"
        />
        <van-field
          v-model="Rsms"
          center
          clearable
          name="captcha"
          placeholder="请输入短信验证码"
          :rules="[{ required: true, message: '请填写短信验证码' }]"
        >
          <template #button>
            <van-button round size="small" type="primary" @click="phoneGetSms" v-show="show">发送验证码</van-button>
            <van-button
              round
              size="small"
              type="primary"
              :disabled="true"
              v-show="!show"
            >{{count}}S后新发送</van-button>
          </template>
        </van-field>
        <div style="margin: 16px;">
          <van-button round block type="info" native-type="submit">提交</van-button>
        </div>
      </van-form>
    </div>
    <div style="width:100%;text-align:center;">
      <span @click="isLoginStatus(true)">登录</span>
      <span style="padding:10px;">|</span>
      <span @click="isLoginStatus(false)">注册</span>
    </div>
  </div>
</template>

<script>
import { DropdownMenu, DropdownItem, Form, Notify } from "vant";
export default {
  name: "Login",
  data() {
    return {
      isLogin: true, //registe login
      Rusername: "",
      Rpassword: "",
      Rphone: "",
      Rsms: "",
      count: "",
      show: true,
      username: "",
      password: ""
    };
  },
  methods: {
    //验证🐎
    queryYzm(phone) {
      var bodyFormData = new FormData();
      bodyFormData.set("iphone", phone);
      this.http.apiPost("obtainsms/index", bodyFormData).then(res => {
        Notify({
          type: "success",
          message: `${res.msg}`
        });
      });
    },
    //倒计时
    phoneGetSms() {
      if (this.validator(this.Rphone)) {
        this.queryYzm(this.Rphone);
        const TIME_COUNT = 90;
        if (!this.timer) {
          this.count = TIME_COUNT;
          this.show = false;
          this.timer = setInterval(() => {
            if (this.count > 0 && this.count <= TIME_COUNT) {
              this.count--;
            } else {
              this.show = true;
              clearInterval(this.timer);
              this.timer = null;
            }
          }, 1000);
        }
      } else {
        Notify("手机号格式不正确");
        return false;
      }
    },
    isLoginStatus(type) {
      this.isLogin = type;
    },
    validator(val) {
      let phone = /^((13[0-9])|(14[5,7])|(15[0-3,5-9])|(17[0,3,5-8])|(18[0-9])|166|198|199|(147))\d{8}$/;
      return phone.test(val);
    },
    onLogin(values) {
      var bodyFormData = new FormData();
      bodyFormData.set("name", values.username);
      bodyFormData.set("password", values.pwd);
      this.http.apiPost("/login/login", bodyFormData).then(res => {
        if (res.code !== 0) {
          //设置登录缓存
          let user = JSON.stringify(res.data[0])
          localStorage.setItem("MobileIsLogin",true);
          localStorage.setItem("userInfo",user);
          this.$router.push("/Index");
        }else{
          Notify({
            type: "danger",
            message: `${res.msg}`
          });
        }
      });
    },
    onClickLeft(){
      if (this.$route.query.url) {
        this.$router.go(-1)
      } else {
        this.$router.push("/Index");
      }
      // if(window.history.length <= 1){
      //   this.$router.go(-1)
      // }else{
      //   this.$router.push("/Index");
      // }
    },
    onSubmit(values) {
      localStorage.setItem("MobileIsLogin",false);
      localStorage.setItem("userInfo",{});
      var bodyFormData = new FormData();
      bodyFormData.set("name", values.username);
      bodyFormData.set("pwd", values.pwd);
      bodyFormData.set("captcha", values.captcha);
      bodyFormData.set("iphone", values.iphone);
      this.http.apiPost("login/registered", bodyFormData).then(res => {
        if (res.code == 1) {
          // this.isLogin = true;
          //设置登录缓存
          let user = JSON.stringify(res.data)
          localStorage.setItem("MobileIsLogin",true);
          localStorage.setItem("userInfo",user);
          this.$router.push("/Index");
        } else {
          Notify({
            type: "danger",
            message: `${res.msg}`
          });
        }
      });
    }
  },
  created() {
    
      setTimeout(() => {
        console.log('this.$route.query.url',this.$route.query.url)
      }, 100);
  },
  components: {}
};
</script>

<style scoped>
.custom-image {
  margin: 50px auto;
}
</style>
