.l_body{
    background:#e7f4f7;
    width:100%;
    height:auto;
}
/*代码开始*/
/*查询*/
.l_search{
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #e6e6e6;
    height:80px;
    width:95%;
}
.lsearch_l,.lsearch_r{
    float: left;
    margin-right: 50px;
}
.lsearch_r{
    height: 55px;
    margin-top: 25px;
}
/*显示*/
.l_info{
    width:100%;
    height:520px;
    /*background:red;*/
}
.li_center{
    width:740px;
    height:510px;
    margin: 0 auto;
    border: 2px solid #ccc;
    /*background:grey;*/
}
/*添加*/
#centerappend tr td{
    border: 1px solid #000;
}
/*ztree*/
.title_id{
    /*很可能无用*/
    height: 20px;
    width: 100%;
    text-align: center;
    background: #a9c9e2;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
    color: #fff;
    padding-left: 5px;
}
#title_id,#title_id2{
    /*可能有用*/
    height: 20px;
    width: 100%;
    /*text-align: center;*/
    background: #a9c9e2;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
    color: #fff;
    padding-left: 5px;
}