<link rel="shortcut icon" href="__STATIC__/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="__STATIC__/zhandian/css/font.css">
<link rel="stylesheet" href="__STATIC__/zhandian/css/xadmin.css">
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/zhandian/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/zhandian/js/xadmin.js"></script>

</body>
<div><img class="dian" width="20px" src="__STATIC__/img/1.png"></div>
<script>

    $('.dian').click(function () {

        layer.open({
            type: 2,
            title: '站点页面',
            shadeClose: true,
            shade: 0.01,
            area: ['280px', '90%'],
            content: 'layer_add'
        });
    });
    
</script>