<link rel="shortcut icon" href="__STATIC__/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="__STATIC__/zhandian/css/font.css">
<link rel="stylesheet" href="__STATIC__/zhandian/css/xadmin.css">
<!--<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>-->
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/zhandian/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/zhandian/js/xadmin.js"></script>
<!--//头部样式-->
<link rel="icon" href="__STATIC__/icon.png" type="image/png">
<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="__STATIC__/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="__STATIC__/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="__STATIC__/assets/css/colorpicker.min.css" />
<link rel="stylesheet" href="__STATIC__/MyDate/skin/WdatePicker.css" />
<!-- text fonts -->
<link rel="stylesheet" href="__STATIC__/assets/fonts/fonts.googleapis.com.css" />
<link rel="stylesheet" href="__STATIC__/assets/css/daterangepicker.min.css" />
<!-- ace styles -->
<link rel="stylesheet" href="__STATIC__/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

<!--[if lte IE 9]>
<link rel="stylesheet" href="__STATIC__/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
<![endif]-->

<!--[if lte IE 9]>
<link rel="stylesheet" href="__STATIC__/assets/css/ace-ie.min.css" />
<![endif]-->
<!-- ace settings handler -->
<script src="__STATIC__/assets/js/ace-extra.min.js"></script>
<script src="__STATIC__/assets/js/jquery.2.1.1.min.js"></script>
<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

<!--[if lte IE 8]>
<script src="__STATIC__/assets/js/html5shiv.min.js"></script>
<script src="__STATIC__/assets/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="__STATIC__/core/art.dialog.css">
<link rel="stylesheet" href="__STATIC__/assets/css/cltphp.css" />

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-content">
        <div class="main-content-inner">


            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" name="adminInsert" id="adminInsert" method="post" >
                            <div class="form-group">
                                    <input type="hidden" value="{$alist.a_id}" name="a_pid">
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                    <input type="hidden" name="a_id" value="{$list2.a_id}">
                                    <input type="hidden" value="{$clist.c_id}" name="a_company_id">
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">

                                <div class="col-sm-10 col-xs-12">
                                    <label class="col-sm-2 control-label no-padding-right" for="a_name"  style="margin-right: 20px; float: left;">到站中文名</label>
                                    <input type="text" name="a_name" id="a_name" placeholder="输入站点中文名" class="col-xs-12 col-md-4" value="{$list2.a_name}" style="width: 360px; float:left;"/>

                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">

                                <div class="col-sm-10 col-xs-12">
                                    <label class="col-sm-2 control-label no-padding-right" for="a_engname"  style="margin-right: 20px; float: left;">到站英文名</label>
                                    <input type="text" name="a_engname" id="a_engname" placeholder="输入到站英文名" class="col-xs-12 col-md-4" value="{$list2.a_engname}" style="width: 360px; float:left;"/>
                                    <input type="hidden" name="a_createtime" id="a_createtime" placeholder="输入日期" class="col-xs-12 col-md-4" value="{$list2.a_createtime}"/>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">

                                <div class="col-sm-10 col-xs-12">
                                    <label class="col-sm-2 control-label no-padding-right" for="a_end_addr"  style="margin-right: 20px; float: left;">到货的地址</label>
                                    <input type="text" name="a_end_addr" id="a_end_addr" placeholder="输入到货地址" class="col-xs-12 col-md-4" value="{$list2.a_end_addr}" style="width: 360px; float:left;"/>

                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">

                                <div class="col-sm-10 col-xs-12">
                                    <label class="col-sm-2 control-label no-padding-right" for="sort_id"  style="margin-right: 20px; float: left;">地区的排序</label>
                                    <input type="number" name="sort_id" id="sort_id" placeholder="只能输入数字，数字从大到下排列" class="col-xs-12 col-md-4" value="{$list2.sort_id}" style="width: 360px; float:left;"/>

                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">

                                <div class="col-sm-10 col-xs-12">
                                    <label class="col-sm-2 control-label no-padding-right" style="margin-right:20px; float: left;" for="tel">是否自动封单提交</label>
                                    {eq name="$list2.a_autosubmit" value="1"}
                                    <input type="radio" id="tautosubmit" name="a_autosubmit" value="1" checked>
                                    <label for="tautosubmit">下午4点自动提交</label>
                                    <input type="radio" id="fautosubmit" name="a_autosubmit" value="0">
                                    <label for="fautosubmit">不自动提交</label>
                                    {else/}
                                    <input type="radio" id="tautosubmit" name="a_autosubmit" value="1" >
                                    <label for="tautosubmit">下午4点自动提交</label>
                                    <input type="radio" id="fautosubmit" name="a_autosubmit" value="0" checked>
                                    <label for="fautosubmit">不自动提交</label>
                                    {/eq}
                                </div>
                            </div>


                            <div class="space-4"></div>
                            <div style="margin:20px 60px">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-info" id ="submit" >
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div>
<script>


    $('#submit').click(function () {
        $.ajax({
            url:"{:url('Area/area_do_edit')}",
            type:'post',
            data:$('#adminInsert').serialize(),
            async:false,
            success:function (res) {
                console.log(res);
                //发异步，把数据提交给php
                layer.msg("修改成功", {time:2000},function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.location.reload();
                    //关闭当前frame
                    parent.layer.close(index);

                });
            }

        });

        return false;
    })

</script>
<script>

</script>
</body>
</html>