<link rel="shortcut icon" href="__STATIC__/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="__STATIC__/zhandian/css/font.css">
<link rel="stylesheet" href="__STATIC__/zhandian/css/xadmin.css">
<!--<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>-->
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="__STATIC__/zhandian/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/zhandian/js/xadmin.js"></script>
{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}
<style type="text/css">
    tr:hover{
        background: #f2f2f2;
    }
</style>
        </div>
        <div style="width: 100%; height: 50px; margin-top:50px; margin-left: 10px;">

            <div style="float: left; margin: 5px 5px">
                <button style="background: #87b87f" class="layui-btn " onclick="x_admin_show('添加分类','{:url(\'area_top\')}')"><i class="glyphicon glyphicon-plus"></i>添加站点</button></div>
                <div style="float: left;  margin: 10px;">
                    <form  action="{:url('Area/index')}" method="post" id="myform">
                    <span style="float: left; margin-top:5px;"><b>公司列表：</b></span>
                    <select style="width: 180px;height: 30px;float: left;" onchange="submitForm();"name="select">
                        <option value="0">全部公司</option>
                        {foreach name ="$clist" id = "v"}

                        <option {if condition="$v.c_id eq $data"}selected{/if} value="{$v.c_id}">{$v.c_name}</option>
                        {/foreach}
                    </select>
                </form>
                </div>

            </div>

            <table class="layui-table layui-form" style="margin-left:16px; ">
                <thead style="background: #f2f2f2;">
                <tr>
                    <th width="20">
                        <!--<div class=" layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>-->
                        <input type="checkbox" class="layui-unselect layui-form-checkbox" lay-skin="primary" >
                    </th>
                    <th>ID</th>
                    <th>站点名称</th>
                    <th>操作</th>
                </thead>
                <tbody class="x-cate">


                {foreach name="$alist" id="cat"}
                <tr cate-id='{$cat.a_id}' fid='{$cat.a_pid}' >
                    <td>
                        <!--<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$cat.a_id}'><i class="layui-icon">&#xe605;</i></div>-->
                        <input type="checkbox" class="layui-unselect layui-form-checkbox " lay-skin="primary" data-id='{$cat.a_id}' >
                    </td>
                    <td>{$cat.a_id}</td>
                    <td>
                        <i class="layui-icon x-show" status='true'>&#xe623;</i>
                        {$cat.a_name}
                    </td>
                    <td class="td-manage">
                        <button style="background: #6fb3e0" class="layui-btn layui-btn layui-btn-xs"  onclick="x_admin_show('编辑','{:url(\'Area/area_edit\',[\'a_id\'=>$cat.a_id])}')" ><i class="layui-icon">&#xe642;</i>编辑</button>
                        <button class="layui-btn layui-btn-warm layui-btn-xs"  onclick="x_admin_show('添加','{:url(\'Area/area_add\',[\'a_id\'=>$cat.a_id])}')" ><i class="layui-icon">+</i>添加子站点</button>
                        <button  style="background: #d15b47" class="layui-btn-danger layui-btn layui-btn-xs"  onclick="cate_del(this,'{$cat.a_id}')" href="javascript:;" ><i  class="layui-icon">&#xe640;</i>删除</button>
                    </td>
                </tr>
                {foreach name="$cat.secondlist" id="sec"}
                <tr cate-id='{$sec.a_id}' fid='{$sec.a_pid}' >
                    <td>
                        <!--<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$sec.a_id}'><i class="layui-icon">&#xe605;</i></div>-->
                        <input type="checkbox" class="layui-unselect layui-form-checkbox " lay-skin="primary" data-id='{$sec.a_id}' >
                    </td>
                    <td>{$sec.a_id}</td>
                    <td>
                        <i class="layui-icon x-show" status='true' style="margin-left: 20px;">&#xe623;</i>
                        {$sec.a_name}
                    </td>
                    <td class="td-manage">
                        <button style="background: #6fb3e0" class="layui-btn layui-btn layui-btn-xs"  onclick="x_admin_show('编辑','{:url(\'Area/area_edit\',[\'a_id\'=>$sec.a_id])}')" ><i class="layui-icon">&#xe642;</i>编辑</button>
                        <button class="layui-btn layui-btn-warm layui-btn-xs"  onclick="x_admin_show('添加','{:url(\'Area/area_add\',[\'a_id\'=>$sec.a_id])}')" ><i class="layui-icon">+</i>添加子站点</button>
                        <button style="background: #d15b47" class="layui-btn-danger layui-btn layui-btn-xs"  onclick="cate_del(this,'{$sec.a_id}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                    </td>
                </tr>
                {foreach name="$sec.thirdlist" id="thi"}
                <tr cate-id='{$thi.a_id}' fid='{$thi.a_pid}'>
                    <td>
                        <!--<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$thi.a_id}'><i class="layui-icon">&#xe605;</i></div>-->
                        <input type="checkbox" class="layui-unselect layui-form-checkbox " lay-skin="primary" data-id='{$thi.a_id}'>
                    </td>
                    <td>{$thi.a_id}</td>
                    <td>
                        <i class="layui-icon x-show" status='true' style="margin-left: 40px;">&#xe623;</i>
                        {$thi.a_name}
                    </td>
                    <td class="td-manage">
                        <button style="background: #6fb3e0" class="layui-btn layui-btn layui-btn-xs"  onclick="x_admin_show('编辑','{:url(\'Area/area_edit\',[\'a_id\'=>$thi.a_id])}')" ><i class="layui-icon">&#xe642;</i>编辑</button>
                        <button class="layui-btn layui-btn-warm layui-btn-xs"  onclick="x_admin_show('添加','{:url(\'Area/area_add\',[\'a_id\'=>$thi.a_id])}')" ><i class="layui-icon">+</i>添加子站点</button>
                        <button style="background: #d15b47" class="layui-btn-danger layui-btn layui-btn-xs"  onclick="cate_del(this,'{$thi.a_id}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                    </td>
                </tr>
                {foreach name = "$thi.for" id = "f"}
                <tr cate-id='{$f.a_id}' fid='{$f.a_pid}'>
                    <td>
                        <!--<div class="layui-unselect layui-form-checkbox " lay-skin="primary" data-id='{$thi.a_id}'><i class="layui-icon">&#xe605;</i></div>-->
                        <input type="checkbox" class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$f.a_id}' >
                    </td>
                    <td>{$f.a_id}</td>
                    <td>
                        <i class="layui-icon" status='true' style="margin-left: 60px;">|-</i>
                        {$f.a_name}
                    </td>
                    <td class="td-manage">
                        <button style="background: #6fb3e0" class="layui-btn layui-btn layui-btn-xs"  onclick="x_admin_show('编辑','{:url(\'Area/area_edit\',[\'a_id\'=>$f.a_id])}')" ><i class="layui-icon">&#xe642;</i>编辑</button>
                        <button style="background: #d15b47" class="layui-btn-danger layui-btn layui-btn-xs"  onclick="cate_del(this,'{$f.a_id}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                    </td>
                </tr>
                {/foreach}
                {/foreach}
                {/foreach}
                {/foreach}
                </tbody>
            </table>



        </div>

    </div>
{include file="common/foot" /}
</div>

<!-- inline scripts related to this page -->
<script type="text/javascript">

    /*用户-删除*/
    function cate_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.ajax({
                url:"{:url('Area/area_del')}",
                type:'get',
                data:{a_id:id,flag:1},
                success:function(result){
                    console.log(result);
                    var res=JSON.parse(result);

                    if(res.code==2)
                    {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else{
                        layer.confirm('当前站点底下改有子站点，是否全部删除吗？',function(index){
                            $.ajax({
                                url:"{:url('Area/area_del')}",
                                type:'get',
                                data:{a_id:id,flag:2},
                                success:function(res){
                                    var ress=JSON.parse(res);
                                    console.log(ress);
                                    $(obj).parents("tr").remove();
                                    $('tr').each(function(i,v){
                                        for(var k=0;k<ress.alist.length;k++)  //遍历所有tr
                                        {
                                            if($(this).attr('cate-id')==ress.alist[k] || $(this).attr('fid')==ress.alist[k])   //检索被删除tr的子级
                                            {
                                                $(this).remove();   //删除
                                            }
                                        }
                                        for(var i=0;i<ress.childid.length;i++)  //遍历所有tr
                                        {
                                            if($(this).attr('cate-id')==ress.childid[i] || $(this).attr('fid')==ress.childid[i])   //检索被删除tr的子级
                                            {
                                                $(this).remove();   //删除
                                            }
                                        }
                                    });
                                    layer.msg('已删除!',{icon:1,time:1000});
                                }
                            })
                        })
                    }

                }
            });

        });
    }

     function submitForm() {
         var form = document.getElementById("myform");
         form.submit();
     }



</script>
</body>
</html>
