
.nks_bod {
    /*margin-top: 5px;*/
    /*margin-left: 5px;*/

    margin: 5px auto;
    height: 100%;
    /*width: 1200px;*/
    width: 99%;
    border: #000 1px solid;
}

.nks_top {
    width: 100%;
    background: #eeeeee;
    height: 25px;
    border-top: #ffffff 2px solid;
    border-left: #ffffff 2px solid;
    border-right: #ffffff 2px solid;
    border-bottom: #808080 2px solid;
    line-height: 22px;

}

.nks_yuan {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #00bf11;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.nks_fon {
    font-family: '楷体', '微软雅黑';
    font-size: 18px;
    margin-left: 5%;
}

.nks_fons {
    font-family: '微软雅黑';
    font-size: 13px;
    /*margin-left: 15%;*/
    margin-right: 5%;
    float: right;

}

.nks_tab {
    width: 80%;
    /*
    可改变80% 下面的所有的div全部是自适应*/
    height: auto;
    margin: 0 auto;
    /*background: #b4c2cc;!*删除*!*/
    overflow: hidden;
}

.nks_tit {
    width: 100%;
    height: 60px;
    /*background: green;*/
    text-align: center;
    line-height: 60px;
    margin-top: 50px;
}

.nks_title {
    letter-spacing: 12px;
    font-family: '宋体', '微软雅黑';
    font-size: 30px;
}

.nks_tit_top {
    width: 100%;
    height: 20px;
    /*background: #ccc;*/
    /*overflow: hidden;*/
    /*line-height: 20px;*/

}

.nks_table {
    width: 80%;
    height: auto;
    margin: 0 auto;
    /*background: #2a91d8;*/

}

table {
    border: 1px #000 solid;
    margin: 0 auto;
    font-family: '宋体', '微软雅黑';
    font-size: 14px;
    text-align: center;
}

/*td {*/
/*border: 1px #000 solid;*/
/*width: 1100px;*/
/*height: 5px;*/
/*}*/

.nks_inp {
    padding-top: 10px;
    float: left;
    margin-bottom: 10px;
    padding-left: 10px;
}

.nks_sp {
    float: left;
}

.nks_jz {
    width: 40px;
    height: 20px;
    margin-left: 20px;
}

.nks_inp1 {
    padding-top: 10px;
    float: left;
    margin-bottom: 10px;

}

.nks_sp1 {
    float: left;
}

.nks_jz1 {
    width: 60px;
    height: 20px;
    margin-left: 10px;
}
.nks_kuan{
    width: 100px;
}

.nks_inp2 {
    padding-top: 10px;
    float: left;
    margin-bottom: 10px;

}

.nks_sp2 {
    float: left;
}

.nks_jz2 {
    width: 60px;
    height: 20px;
    margin-left: 10px;
    float: left;
}

.nks_borr {
    width: 100%;
    height: 16px;
    background: #eeeeee;
    margin-top: 10px;
    border-top: #e0e9f3 2px solid;
    border-bottom: #e0e9f3 2px solid;
}

.nks_bu {
    font-size: 14px;
    font-family: '宋体', '微软雅黑';
    display: block;

}

.nks_radi {
    margin-left: 20px;
    text-align: center;
}

.yy {
    margin-left: 80px;
}

.tiao {
    width: 30px;
    height: 20px;
}

.nks_ma {
    margin: 0;
    padding: 0;

}

.ca {
    margin-left: 80px;
}

.in1 {
    width: 100%;
    height: 25px;

}

/*
table里面的所有的input*/
.nks_top_1 {
    width: 20%;
    height: 20px;
    float: left;
    /*background: red;*/

}

.maii {
    margin-left: 4%;
}

.op_top {
    padding: 0;
    margin: 0;
    width: 30%;
    height: 25px;
}

.nks_xiala {
    width: 100%;
}

.yyyy {
    border: none;
    width: 100%;
}

.pppp {
    width: 100%;
}

.yyyy {
    margin: 0;
    padding: 0;
}

.yyyy tr {
    margin: 0;
    padding: 0;
}

.yyyy tr td {
    margin: 0;
    padding: 0;
    height: auto;
    border: none;
}

.one {
    width: 100px;
}

.one2 {
    width: 200px;
    text-align: left;

}

.one2 input {
    width: 50%;
    height: 100%;

}

.one3 {
    line-height: 100%;
    width: 100px;
}

.one4 {
    width: 300px;
}

.one4 input {
    width: 49%;
    height: 100%;

}

.one5 {
    width: 20px;
}

.one6 {
    width: 200px;
}

.one6 input {
    width: 100%;
    height: 100%;
}

.one7 {
    width: 100px;
}

.one8 {
    width: 100px;
}

.one8 input {
    width: 100%;
    height: 100%;
}

.one9 {
    width: 100px;
}

.one10 {
    width: 100px;
}

.nks_tan {
    border: none;
}

.nks_le {
    width: 2%;
    float: left;
}

.xin-one{
    width: 100px;
}
.xin-one1{
    width: 200px;
}
.xin-iphon{
    width: 100px;
}
.xin-iphon1{
    width: 400px;
}
.xin-ti{
    width: 100px;
}
input{
    text-align: center;
}
/*#title_id{*/
/*height: 20px;*/
/*width: 100%;*/
/*text-align: center;*/
/*background: #79afee;*/
/*border-bottom: #808080 2px solid;*/
/*line-height: 20px;*/
/*border-left: 1px #FFFFFF solid;*/
/*border-right: 1px #FFFFFF solid;*/
/*}*/
/*.nks_end{*/
/*float: right;*/
/*font-size: 26px;*/
/*height: 20px;*/
/*width: 20px;*/
/*line-height: 18px;*/
/*}*/
/*#nks_sp{*/
/*display: block;*/
/*font-size: 14px;*/
/*float: left;*/
/*text-align: center;*/
/*}*/


#title_id{
    height: 20px;
    width: 100%;
    text-align: center;
    background: #438eb9;
    border-bottom: #808080 2px solid;
    line-height: 20px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
    color: #fff;
    padding-left: 5px;
}
.nks_end{
    float: right;
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 18px;
}
#nks_sp{
    display: block;
    font-size: 14px;
    float: left;
    text-align: center;
}
#but{
    padding: 5px;
    border-radius: 3px;
    background: #eaedf4;
    font-weight: bold;
}









#showinfo{
    width:auto;
    min-width:143px;
    height:auto;
    position:absolute;
    background:yellow;
    z-index:100;
    display:none;
}
#shr{
    position:relative;
}
.whss{
    list-style-type: none;
}
#showinfo2{
    width:auto;
    min-width:143px;
    height:auto;
    position:absolute;
    background:yellow;
    z-index:200;
    display:none;
}
#fhr{
    position:relative;
}

#bors tr td{
    border:1px solid #000;
}




