.hr_big{
    height: 500px;
}
#hr_table tr td{
    font-size: 12px;
    text-align: right;
    /*border: 1px solid #000;*/
    width: 80px;
    height: 20px;
}
.hr_over{
    width: auto;
    height: auto;
    overflow: auto;
}
#hr_table tr td input{
    width: 150px;
    height: 25px;
}
body{
    /*font-size: 80px;*/
    font-family: "微软雅黑", "黑体";
}
.hr_fixed{
    width: 80px;
}
.gundong{
    margin-top: 10px;
    overflow-y:auto;
    overflow-x:auto;
    width:auto;
    height:400px;
    clear: both;
    scrollbar-base-color:#409cd2;
    scrollbar-track-color:#f0ffff;
    scrollbar-highlight-color:#fff;
    scrollbar-shadow-color:#fff;
}
.g_ta {
    text-align: center;
    background: #0e77a7;
    height: 100px;
    width: 100%;
    font-size: 13px;
}
.g_ta tr td{
    min-width: 100px;
    font-size: 14px;
    height: 20px;
    line-height: 20px;

}
#all_body{
    width:100%;
    height:650px;
    background:#e7f4f7;
}
