* {box-sizing: border-box;}
.blur-login {  background: #394557 url('images/meteorshower2.jpg') repeat;}
.login-container {  margin-top: 200px;  }
#login-box, .widget-body, .widget-main {border-radius: 5px; }
.input-icon{border-radius: 3px;}
.btn{border-radius: 3px!important;}
.breadcrumbs{padding-right: 0px;border-bottom:2px solid #79b0ce;}
.admin_sea { height: 30px;}
.lbl{line-height: 30px;}

.rigbg{background-color: #fff;}
.tnav .rigbg a{color: #bb3f2b;font-weight: bold;}
.tnav{list-style: none;margin: 0px;}
.tnav a{text-decoration: none;}
.tnav li{display: inline-block; float: left;text-align: center;padding: 0px 15px;border-right: 1px solid #ddd;}
.tnav li a{display: block;height: 100%;width: 100%;}
.font12 a{color: #000;}

.help-inline{padding-left: 0px;}
.highmsg {color: #F00;}
.middle {line-height: 34px;}
.main-container{padding-top:45px}
.maintop { width: 100%; padding-bottom: 10px;}
.col-select{padding: 5px;height: 34px;}

#dynamic-table .list_order {width: 50px;border: #FC6 solid 1px;padding: 0px 5px;text-align: center;}
#simple-table .input-text-c{width: 50px;border: #FC6 solid 1px;padding: 0px 5px;text-align: center;}
input, textarea, select {border-radius: 3px;}
.rule{width: 120px;}
.rule, .wh50, .wh30,.wh10,.wh20,.wh40,.wh60,.wh70,.wh80,.wh90{border: #CCCCCC solid 1px;height: 30px;}

.ruleadd { height: 30px; margin-bottom: 3px;}
#thumb_pic{width: 129px;}

.page .pagination{margin: 0px;}
.wh10{width: 10px;}
.wh20{width: 20px;}
.wh30{width: 30px;}
.wh40{width: 40px;}
.wh50{width: 50px;}
.wh60{width: 60px;}
.wh70{width: 70px;}
.wh80{width: 80px;}
.wh90{width: 90px;}
@media (min-width: 992px){
    .breadcrumbs-fixed+.page-content {
        padding-top: 50px;
    }
}
@media (max-width: 479px){
    .login-container {  margin-top: 20px;  }
    .main-container{padding-top:90px}
}
@media screen and (max-width: 767px){
    .all-btn { margin-left: 12px;}
    .btn-xs{margin-top: 5px;}
    .btm-input{margin-top: 0px;}
    .btn-sespan{padding-top: 5px;}
    .infobox{width: 100%;}
    #news_titleshort{margin-left: 0px;margin-top: 10px;}
    .collapse_btn{display: block;visibility:inherit;}
    .collapse_btn ul li{float: left;margin: 5px 10px 5px 10px;}
}

.colorimg {float: left;  margin-top: 3px;  margin-left: 5px;}
.thumb_box {
    display: inline-block;
    padding: 8px 0px;
    text-align: center;
}
#banner_pic{width: 120px;}
.glyphicon-ok{color: #69aa46;}
.glyphicon-remove{color:#f00;}
.upimg{width: 100%;text-align: center;height: 180px;padding:5px;margin-bottom:5px;border: 1px solid #ededed;}
.upimg img{max-width: 100%;max-height: 170px;}
.upimgs{margin-bottom: 15px;border: 1px solid #ddd;padding: 5px;}





