<template>
    <div class="mine_style">
      <div class="head_box">
        <div style="width:100%;height:30px;margin-top:20px;">
          <div class="login_out" @click="loginOut()">
            <img width="30" height="30" src="../../../../static/mobile_login_out.png">
          </div>
        </div>
        <div class="photo">
         <img src="../../../../static/login.png">
        </div>
        <div class="username">ID：{{userInfo.id}}</div>
        <div class="userphone">TEL：{{userInfo.iphone}}</div>
      </div>
      <van-grid>
        <van-grid-item icon="todo-list-o" text="二维码" @click="goToQrcode()" />
        <van-grid-item icon="manager-o" text="QQ" @click="gridGetQQ()" />
        <van-grid-item icon="phone-o" text="客服电话" @click="phoneCall()" />
        <van-grid-item icon="location-o" text="公司介绍"  to="/MAbout" />
      </van-grid>
      <!-- 四个块 -->
      <div style="width:90%;height:250px;margin:20px auto;display:flex;align-items:center;justify-content: center;">

        <van-form @submit="onSubmit">
          <van-field
            v-model="formname"
            name="name"
            label="昵称"
            placeholder="请输入昵称"
            :rules="[{ required: true, message: '请填写昵称' }]"
          />
          <van-field
            v-model="formphone"
            name="phone"
            label="手机号"
            placeholder="请输入手机号"
            :rules="[{ required: true, message: '请填写手机号' }]"
          />
          <van-field
            v-model="formdesc"
            name="desc"
            label="简要说明"
            placeholder="请输入说明"
            :rules="[{ required: true, message: '请填写说明' }]"
          />
          <div style="margin: 16px;">
            <van-button round block type="info" native-type="submit">
              联系我们
            </van-button>
          </div>
        </van-form>
      </div>
      <tabbar></tabbar>
    </div>
</template>

<script>
import { DropdownMenu, DropdownItem, Form, Notify, Dialog } from "vant";
    import tabbar from '@/mobile/tabbar/Tabbar.vue'
    export default {
      name: "Mine",
      data(){
        return{
          index:0,
          userInfo:{
            id:'',
            iphone:'13653568923'
          },
          qrCode:[],
          qrImage:require("@/assets/QQ.png"),
          formname:'',
          formphone:'',
          formdesc:'',
        }
      },
      components: {
        'tabbar': tabbar,
      },
      methods:{
        loginOut(){
          Dialog.confirm({
            title: '退出登录',
            message: '确定退出登录吗',
          })
            .then(() => {
              localStorage.setItem("MobileIsLogin",false);
              localStorage.setItem("userInfo",null);
              this.$router.push({ path: "/Index" });
            })
            .catch(() => {
              // on cancel
            });
        },
        onSubmit(){
          var bodyFormData = new FormData();
          bodyFormData.set('name', this.formname);
          bodyFormData.set('iphone',this.formphone)
          bodyFormData.set('text',this.formdesc)
          this.http.apiPost('Feedback/index',bodyFormData).then(res => {
            if(res.code ==1 ){
              Notify({
                type: "success",
                message: '留言成功'
              });
                this.formname='';
                this.formphone='';
                this.formdesc='';
            }else{
              Notify({
                type: "danger",
                message: `${res.msg}`
              });
            }
          })
        },
        goToQrcode(){
          this.$router.push({ path: "/Qrcode" });
        },
        gridGetQQ(){
          // this.qrImage = require("@/assets/QQ.png");
          window.open('http://wpa.qq.com/msgrd?v=3&uin=635455412&site=qq&menu=yes');
        },
        phoneCall(){
          this.http.apiGet('Gsadder/gsadder').then(res => {
            let phone = res.data.phone
            window.location.href = 'tel://'+phone
          })
        },
        gotoJS(){
          this.$router.push({ path:'/MAbout'  })
        },
        //二维码
        qrcode(){
          let url = 'image/qrcode'
          this.http.apiGet(url, '').then(res => {
            this.qrCode = res.data.data
            // console.log(res,'rrr')
          })
        },
      },
      created() {
        if(localStorage.getItem("MobileIsLogin") === 'true'){
          this.userInfo = JSON.parse(localStorage.getItem("userInfo"))
        }else{
          this.$router.push({ path:'/LoginMobile'  })
        }
        this.qrcode()
      },
    }
</script>

<style scoped>
.login_out{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  margin-right: 14px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.mine_style >>> .van-form{
  width:100%;
  overflow: hidden;
  border: 1px solid #e2e2e2;
  /*box-shadow: 0px 2px 5px #0b96e5;*/
  border-radius: 15px;
}
.index_hotarea {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
  .head_box{
    background: rgb(189, 227, 248);
    padding-top: 10px
  }
  .van-nav-bar{
    background: none;
  }
  .van-nav-bar .van-icon{
    color: #FFFFFF;
  }
  .photo{
    width: 90px;
    height: 90px;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 0 auto;
    /*padding-top: 50px;*/
    overflow: hidden;
  }
  .photo img{
    width: 90px;
    height: 90px;
  }
  .username{
    font-family: PingFangSC-Medium;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
  }
  .userphone{
    font-family: Helvetica;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    margin-top: 5px;
    padding-bottom: 35px;
  }

</style>
