<template>
  <div class="news_style">
    <van-sticky>
      <van-dropdown-menu>
        <van-dropdown-item v-model="value" :options="option" @change="onClosed" />
      </van-dropdown-menu>
      <van-search
        v-model="searchValue"
        show-action
        shape="round"
        placeholder="请输入新闻关键词"
        @search="onSearch"
        @cancel="onCancel"
      />
    </van-sticky>
    <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
      <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
        <van-card
          :desc="item.subtitle"
          :title="item.main_title"
          :thumb="item.image"
          v-for="(item, index) in newsList"
          :key="index"
          @click="showNewsInfo(item)"
          centered
        >
<!--          <template #tags>-->
<!--            <van-tag plain type="danger">new</van-tag>-->
<!--          </template>-->
          <!-- <template #footer>
            <van-button size="mini" type="info">详情</van-button>
          </template> -->
        </van-card>
      </van-list>
    </van-pull-refresh>

    <van-empty
      v-show="newsList.length === 0"
      class="custom-image"
      image="https://img.yzcdn.cn/vant/custom-empty-image.png"
      description="啥也没有~"
    />
    <!-- <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=635455412&site=qq&menu=yes"></a> -->
    <tabbar></tabbar>
  </div>
</template>

<script>
import tabbar from "@/mobile/tabbar/Tabbar.vue";
import { DropdownMenu, DropdownItem } from "vant";
export default {
  name: "Newlist",
  data() {
    return {
      // 类型条件
      value: "",
      switch1: false,
      switch2: false,
      option: [
        { text: "全部", value: 0 },
        { text: "新闻", value: 1 },
        { text: "体育", value: 2 }
      ],
      // 输入条件
      searchValue: "",
      // 列表
      newsList: [],
      pageNum: 0,
      pageSize: 5,
      // 列表状态
      loading: false,
      finished: false,
      refreshing: false
    };
  },
  methods: {
    showNewsInfo(item) {
      this.$router.push({path:'/Newsinfo',query: {news:item}})
    },
    // 下拉 关闭
    onClosed() {
      this.newsList = [];
      this.pageNum = 0;
      this.onRefresh();
    },
    // 下拉 确定
    onConfirm() {
      this.$refs.item.toggle();
    },
    // 查询
    onSearch() {
      this.newsList = [];
      this.pageNum = 0;
      this.onRefresh();
    },
    onCancel() {},
    // 获取 列表
    async getList() {
      let type = this.value,
        value = this.searchValue;
      let formdata = new FormData();
      formdata.append('page',this.pageNum);
      formdata.append('number',this.pageSize);
      type ? ( formdata.append('id',type ) ) : "";
      let newsList = [];
      await this.http.apiPost("servilist/information", formdata).then(result => {
        newsList = result.data;
      });
      return newsList;
    },
    // 获取 分类列表
    async getCateList() {
      await this.http.apiGet("servilist/informationtype", {}).then(result => {
        let cateList = result.data.data.map(item=>{
          return {text:item.name, value: item.id, remark: '备注' }
        });
        cateList.unshift({ text: "点击筛选类型", value: 0, remark: "点击筛选类型" });
        this.option = cateList;
        this.value = cateList[0].value; //默认全部
      });
    },
    onLoad() {
      setTimeout(() => {
        if (this.refreshing) {
          this.pageNum = 0;
          this.newsList = [];
          this.refreshing = false;
        }

        // 上拉加载
        this.pageNum++;
        this.getList().then(relist => {
          this.newsList = this.newsList.concat(relist);
          this.loading = false;
          if (relist.length == 0) {
            this.finished = true;
          }
        });
      }, 1000);
    },
    // 下拉刷新——真正的数据请求
    onRefresh() {
      // 清空列表数据
      this.finished = false;

      // 重新加载数据
      // 将 loading 设置为 true，表示处于加载状态
      this.loading = true;
      this.onLoad();
    }
  },
  async created() {
    await this.getCateList();
  },
  components: {
    tabbar: tabbar
  }
};
</script>


<style scoped>
.custom-image {
  margin: 50px auto;
}

.news_style >>> .van-search__content{
  /* border:1px solid #0b96e5; */
}
.news_style >>> .van-dropdown-menu__item{
  /*border:1px solid #0b96e5;*/
  background: rgb(189, 227, 248);
  /* border-radius: 15px; */
  /* box-shadow: 0 0 5px #0b96e5; */
}
.news_style >>> .van-search{
  /* border:1px solid #0b96e5; */
  /*box-shadow: 0 0 5px #0b96e5;*/
  background: rgb(189, 227, 248);
}
.news_style >>> .van-card{
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  width: 95%;
  margin: 15px auto;
  /*box-shadow: 0px 0px 5px #0b96e5*/
}
.news_style >>> .van-card .van-image{
  /*border: 1px solid #0b96e5;*/
}
</style>
