<template>
  <div>
    <van-nav-bar title="咨询详情" :fixed="false" left-text="返回" left-arrow @click-left="onClickLeft()" />
    <div style="width:95%;margin:0 auto;">
      <h2 style="text-align:center;">{{newsinfo.main_title}}</h2>
      <!-- <h6 style="font-size:14px;">原标题:{{newsinfo.subtitle}}</h6> -->
      <p style="font-size:12px;text-align:center;">{{newsinfo.addtime}}</p>
      <p style="font-size:12px;text-align:center;">{{newsinfo.increase}}</p>
      <div v-html="newsinfo.content"></div>
    </div>
    <van-empty
      v-show="newsinfo.length"
      class="custom-image"
      image="https://img.yzcdn.cn/vant/custom-empty-image.png"
      description="啥也没有~"
    />
    <!-- <tabbar></tabbar> -->
  </div>
</template>

<script>
import tabbar from "@/mobile/tabbar/Tabbar.vue";
import { DropdownMenu, DropdownItem, Tabbar, TabbarItem } from "vant";
export default {
  name: "Newsinfo",
  data() {
    return {
      newsinfo: {} //新闻
    };
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    }
  },

  created() {
    setTimeout(() => {
      console.log('www',this.$route.query.news)
      if(this.$route.query.news){
        localStorage.setItem('newsInfo',JSON.stringify(this.$route.query.news))
        this.newsinfo = this.$route.query.news;
      }else{
        let news = JSON.parse(localStorage.getItem('newsInfo'))
        this.newsinfo = news;
      }
    }, 300);
  },
  components: {
    tabbar: tabbar
  }
};
</script>


<style scoped>
.custom-image {
  margin: 50px auto;
}
</style>