{include file="common/head"/}
<div class="main-container" id="main-container">
    <link rel="stylesheet" href="__STATIC__/Css/nks/index.css"/>
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="in_big">
                <table>
                    <tr>
                        <td><a class="shouhuo" href="{:url('Receive/index')}"><img width="90" src="__STATIC__/img/receive.png"></a></td>
                        <td><a class="fengdan" href="{:url('Receive2/index')}"><img width="90" src="__STATIC__/img/fereceive.png"></a></td>
                        <td><a class="fache" href="{:url('Ship/index')}"><img width="90" src="__STATIC__/img/che.png"></a></td>
                        <td><a class="fachechaxun" href="{:url('Ship/shipprint')}"><img width="90" src="__STATIC__/img/receivewi.png"></a></td>
                        <td><a class="wuliu" href="{:url('Receive3/track')}"><img width="90" src="__STATIC__/img/201641172354431.png"></a></td>
                    </tr>
                    <tr>
                        <td><span class="shouhuo">收货录入</span></td>
                        <td><span class="fengdan">封单提交</span></td>
                        <td><span class="fache">发车发货</span></td>
                        <td><span class="fachechaxun">发车查询</span></td>
                        <td><span class="wuliu">物流跟踪</span></td>
                    </tr>
                </table>

            </div>
        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}
</div>
</body>
</html>
<!--让背景变成蓝色-->
<script type="text/javascript">
    resize();
    $(window).resize(function(){
        resize();
    })
    function resize() {
        $("#main-container").css("height",$(window).height()).css("background", "#e7f4f7");
    }
</script>
<script>
    // function last() {

    //     $(".submenu").each(function () {
    //         //var tmp;
    //         // var bb = 'a>li';
    //         $(this).find('a').each(function() {
    //             // alert(22);
    //            var left =  $(this).html();
    //             var rignt = left.split('>');
    //
    //             var dd = rignt[2].split('<');
    //             console.log(dd[0]);
    //             // alert(dd[0]);
    //             dd[0] = dd[0].replace("//s/g", "");
    //             // console.log(dd[0]);
    //             if (dd[0]=='收货录入--自动'){
    //
    //                 $(".shouhuo").css('display','none');
    //             }
    //
    //
    //         });
    //         // var imgs=$(".nav-list li");
    //         // $.each(imgs,function (k,v) {
    //         //     console.log($(v));
    //         // })
    //
    //     });
    //     //遍历该数组可以获取所有值
    //     // for (var i = 0 ; i < key.length; i++) {
    //     //     //todo
    //     // }
    // // }


</script>
<script>
    $(document).ready(function () {
        var imglist=$(".dropdown-toggle");
        var indexlist=new Array();
        $.each(imglist,function (k,v) {
            var textlit=$(v).find("span").text();
            var x=textlit.indexOf('管理');
            var y=textlit.substr(24,2);
            indexlist.push(y);
            // console.log(y);
        })
        indexlist.splice(0,1);//删除第一个空元素
        $.each(indexlist,function (k,v) {
            console.log(v);
            if (v=='收货'){
                $(".shouhuo").css('display','block');
                $(".fengdan").css('display','block');
                $(".wuliu").css('display','block');
            }
            if (v=='发货'){
                $(".fache").css('display','block');
                $(".fachechaxun").css('display','block');
            }
        })
    })
</script>
