<template>
  <div>
    <!-- 联系我们 -->
    <div class="contact" >
      <Head name="/About"></Head>
      <div class="contact_box">
        <div class="tel">
          <div class="tel_top"><img src="../../static/telphone.png" /></div>
          <div class="tel_bot">
            <span>电话</span><br/>
            <span>{{adderlist.phone}}</span>
          </div>
        </div>
        <div class="address">
          <div class="address_top"><img src="../../static/adresses.png" /></div>
          <div class="tel_bot">
            <span>公司地址</span><br/>
            <span>{{adderlist.adders}}</span>
          </div>
        </div>
        <div class="email">
          <div class="email_top"><img src="../../static/email.png" /></div>
          <div class="tel_bot">
            <span>电子邮箱</span><br/>
            <span>{{adderlist.email}}</span>
          </div>
        </div>
        <div class="weixin">
          <div class="weixin_top"><img src="../../static/weixin.png" /></div>
          <div class="tel_bot">
            <span>微信</span><br/>
            <span v-if="adderlist.wechartone">客服1微信号码：{{adderlist.wechartone}}</span><br/>
            <span v-if="adderlist.echarttwo">客服2微信号码：{{adderlist.echarttwo}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="adressbox">
      <p style="font-size: 16px">{{adderlist.adders}}</p>
      <div  class="baidumap" id="allmap"></div>
    </div>
    <Leftwechat></Leftwechat>

    <Bootm></Bootm>
  </div>
</template>

<script>
  import Head from '@/commen/Head.vue';
  import Bootm from '@/commen/Bootm.vue';
  import Zxfw from '@/commen/Zxfw.vue'
  import Leftwechat from "../commen/Leftwechat";
  export default {
    name: 'Contact',
    mixins: [Head,Bootm,Zxfw,Leftwechat],
    components: {
      'Head': Head,
      'Bootm':Bootm,
      "Zxfw":Zxfw,
      "Leftwechat":Leftwechat
    },
    data () {
      return {
        adders:'111',
        adderlist:{}
      }
    },
    mounted () {
      this.queryData()
      // this.baiduMap()
    },
    methods: {
      queryData(){
        let self = this
        self.http.apiGet('Gsadder/gsadder').then(res => {
          self.adderlist = res.data
          self.baiduMap(res.data.jingd,res.data.weidu)
        })
      },
      // 返回
      baiduMap (jingd,weid) {
        var map = new BMap.Map('allmap')
        var point = new BMap.Point(jingd,weid)
        map.centerAndZoom(point, 18)
        var marker = new BMap.Marker(point)  // 创建标注
        map.addOverlay(marker)              // 将标注添加到地图中
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>
<style scoped>
  .title div:first-child{
    margin-bottom: 30px;
    font-weight: bold;
    border-bottom: 3px solid#1494dd;
    /*padding: 50px 0px 10px 0px;*/
    width: 220px;
    margin: 0 auto
  }
  .baidumap{
    /*width: 66.7%;*/
    height: 600px;
  }
  .contact{
    width: 100%;
    /* border: 1px solid #000; */
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
  }
  .font{
    color: #037fc5;
    font-weight: bold;
    font-size: 24px;
  }
  .contact_box{
    width: 70%;
    /* border: 1px solid #f00; */
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-conten:space-between;
  }
  .tel,.address,.email,.weixin{
    flex: 1;
    height: 300px;
    margin: 0 30px 0 30px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
  }
  .tel_top{
    width: 100%;
    height: 120px;
    background: #1297dc;
  }
  .tel_top img{
    width: 40px;
    padding-top: 40px;
  }
  .tel_bot span{
    /* color: #636363; */
    line-height: 20px;
  }
  .tel_bot span:first-child{
    font-size: 18px;
    line-height: 50px;
  }
  .address_top{
    width: 100%;
    height: 120px;
    background: #1271db;
  }
  .address_top img{
    width: 60px;
    padding-top: 35px;
  }
  .email_top{
    width: 100%;
    height: 120px;
    background: #fea757;
  }
  .email_top img{
    width: 45px;
    padding-top: 40px;
  }
  .weixin_top{
    width: 100%;
    height: 120px;
    background: #1297dc;
  }
  .weixin_top img{
    width: 45px;
    padding-top: 40px;
  }
  .fontc{
    width: 85%;
    margin: 0 auto;
  }
  .tel:hover .tel_bot{
    background: #1297dc;
    color: #fff;
  }
  .address:hover .tel_bot{
    background: #1271db;
    color: #fff;
  }
  .email:hover .tel_bot{
    background: #fea757;
    color: #fff;
  }
  .tel_bot{
    height: 100%;
  }
  .weixin:hover .tel_bot {
    background: #1297DC;
    color:#FFFFFF
  }
  .adressbox{
    width: 66.7%;
    /* border: 1px solid #000; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
  }
  .fontbor{
    color: #037fc5;
    font-weight: bold;
    font-size: 24px;
    width: 10%;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: 2px solid #1097d9;
  }
  .photo img{
    width:45px;
    padding-top: 10px;
  }
  .adressbox p{
    font-size: 14px;
    color: #020202;
  }
</style>
