<template>
    <div>
      <Head name="/Goods"></Head>
      <Leftwechat></Leftwechat>
      <div style="min-height: 87.5vh">
        <el-row>
          <el-col :span="12" :lg="12" :md="12" :sm="12" :xs="12" :offset="6" class="goodsP">
            <div class="block">
              <el-image :src="item.image" style="width: 300px;height: 300px;"></el-image>
            </div>
            <div class="Fw_right">
              <el-tooltip class="item" effect="dark" content="标题" placement="top">
                <div class="Fw_title">{{item.name}}</div>
              </el-tooltip>
              <div class="Fw_conten" style="height: 115px">
                {{item.introduce}}
              </div>
              <div class="jg Fw_conten"><i>价格{{item.price}}</i></div>
              <div class="Fw_button Fw_conten">
                <!--                        <el-button type="primary" size="mini">☆  收藏</el-button>-->
                <el-button type="primary" size="mini" @click="Buynow(item)">立即购买</el-button>
              </div>
            </div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" :lg="12" :md="12" :sm="12" :xs="12" :offset="6" class="Tabnav">
            <el-button type="primary" :plain="str!=1" @click="str=1">产品详情</el-button>
            <el-button type="primary" :plain="str!=2" @click="str=2">服务流程</el-button>
            <el-button type="primary" :plain="str!=3" @click="str=3">服务协议</el-button>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12" :lg="12" :md="12" :sm="12" :xs="12" :offset="6" class="Details" v-if="str == 1">
            <div style="min-height:85vh" v-html="item.introduction"></div>
          </el-col>
          <el-col :span="12" :lg="12" :md="12" :sm="12" :xs="12" :offset="6" class="Details" v-if="str == 2">
            <div style="min-height:85vh" v-html="item.process"></div>
          </el-col>
          <el-col :span="12" :lg="12" :md="12" :sm="12" :xs="12" :offset="6" class="Details" v-if="str == 3" >
            <div @click="download(item.word)" class="hove">
              {{item.wordname}}
            </div>
          </el-col>
        </el-row>
      </div>
      <Bootm></Bootm>
    </div>
</template>

<script>
  import Head from '@/commen/Head.vue';
  import Bootm from '@/commen/Bootm.vue';
  import Leftwechat from "../commen/Leftwechat";
    export default {
        name: "GoodsDetails",
        mixins: [Head,Bootm,Leftwechat],
        components: {
          'Head': Head,
          'Bootm':Bootm,
          "Leftwechat":Leftwechat
        },
      data() {
        return {
          src: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
          item:{},
          str:1
        }
      },
      created(){
        setTimeout(()=>{
          if(this.$route.params.code){
            localStorage.setItem('newsInfoWeb',JSON.stringify(this.$route.params.code))
            this.item = this.$route.params.code
          }else{
            let goods = JSON.parse(localStorage.getItem('newsInfoWeb'))
            this.item = goods;
          }
        },300)

      },
      mounted() {

      },
      methods:{
        Buynow(item){
          let WebLoginStr = localStorage.getItem("WebLoginStr")
          if(WebLoginStr){
            let user = JSON.parse(localStorage.getItem("user"))
            var bodyFormData = new FormData();
            bodyFormData.set('goods_id',item.id);
            bodyFormData.set('user_id',user.id)
            this.http.apiPost('Browsinghistory/index',bodyFormData).then(res => {
              this.$message({
                type: 'success',
                message: '购买成功'
              });
            })
          }else{
            this.$confirm('登录后才可购买,是否前往登录页面', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.$router.push({path: '/Login',query:{url:1}})

            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消登录'
              });
            });
          }
        },
        download(item){
          window.open(item)
        }
      }
    }
</script>

<style scoped>
  .demo-image__placeholder{
    display: flex;
  }
  .block{
    width: 300px;
    height: 300px;
    margin: 0 0 10px 0;
  }
  .block img{
    width: 200px;
    height: 200px;
  }
  .goodsP{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .el-divider--vertical{
    height: auto !important;
  }
  .Fw_right{
    margin-left: 20px;
  }
  .Fw_title{
    color: #333;
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
  }
  .Fw_conten{
    font-size: 14px;
    padding: 3px 0;
  }
  .Tabnav{
    background: #f5f5f5 !important;
    height: 48px;
    line-height: 48px;
  }
  .el-button--primary{
    height: 48px !important;
  }
  .Details{
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .hove{
    cursor:pointer;
  }
  .jg{
    color: red;
    font-weight: bolder;
    font-size: 20px;
  }
  .Fw_button{
    margin-top: 18px;
  }
</style>
