<template>
  <div style="background: #f5f7fa">
    <Head name="/Goods"></Head>
    <div style="margin: 0 auto;display: flex;justify-content: center;overflow: hidden">
      <img src="@/assets/banner.jpg" alt="banner图" style="margin: 0 auto">
    </div>
    <!--    内容主体-->
    <div class="conten">
      <el-row>
<!--        <el-col :span="16"  :offset="4" style="background: #FFFFFF;margin-top: 10px;padding: 10px;box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);"  >-->
<!--          <el-card class="box-card">-->
<!--            <div class="tag-group">-->
<!--              <span class="tag-group__title">服务类别:</span>-->
<!--              <el-tag @click="typeClick()">-->
<!--                全部-->
<!--              </el-tag>-->
<!--              <el-tag v-for="(item,key) in items" @click="typeClick(item)">-->
<!--                {{ item.text }}-->
<!--              </el-tag>-->
<!--            </div>-->
<!--          </el-card>-->
<!--        </el-col>-->
        <el-col :span="16"  :offset="4" style="background: #FFFFFF;margin-top: 10px;padding: 10px;box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);" >
          <div class="tag-group">
            <span class="tag-group__title">服务类别:</span>
            <el-tag @click="typeClick()" style="cursor:pointer">
              全部
            </el-tag>
            <el-tag v-for="(item,key) in items" @click="typeClick(item)" style="cursor:pointer">
              {{ item.text }}
            </el-tag>
          </div>
        </el-col>
      </el-row>
      <!--      热门需求-->
      <el-row style="margin-top: 20px">
          <el-col :span="16" :lg="16" :md="24" :sm="24" :xs="24" :offset="4">
            <el-card class="box-card">
              <div class="grid-content bg-purple">
                <div class="list_box" id="BBBB">
                  <div class="Fw_box" v-for="(item,key) in servdate" >
                    <div class="Fw_img">
                      <el-image
                        style="width: auto; height: 100%;margin: 0 auto"
                        :src="item.image"
                      >
                      </el-image>
                      <!--                    :preview-src-list="srcList"-->
                    </div>
                    <div class="Fw_right">
                      <el-tooltip class="item" effect="dark" :content="item.name" placement="top">
                        <div class="Fw_title">{{item.name}}</div>
                      </el-tooltip>
                      <div class="Fw_conten">
                        {{item.introduce}}
                      </div>
                      <div class="jg"><i>扶持通：￥{{item.price}}</i></div>
                      <div class="Fw_button">
                        <el-button type="primary" plain size="mini"  @click="Details(item)">立即购买</el-button>
                        <el-button type="primary" plain size="mini" @click="Details(item)">项目详情</el-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="page"
                :page-sizes="[12,20,30,50]"
                :page-size="number"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
                style="text-align: center"
              >
              </el-pagination>
            </el-card>

          </el-col>

      </el-row>
    </div>
    <Leftwechat></Leftwechat>
    <Bootm></Bootm>
  </div>
</template>

<script>
  import Head from '@/commen/Head.vue';
  import Bootm from '@/commen/Bootm.vue';
  import Zxfw from '@/commen/Zxfw.vue'
  import Leftwechat from "../commen/Leftwechat";
    export default {
        name: "Goods",
        mixins: [Head,Bootm,Zxfw,Leftwechat],
        components: {
          'Head': Head,
          'Bootm':Bootm,
          "Zxfw":Zxfw,
          "Leftwechat":Leftwechat
        },
      data(){
        return{
          servdate:{},
          items:[
            { type: '', label: '标签一' },
            { type: '', label: '标签一' },
            { type: '', label: '标签一' },
            { type: '', label: '标签一' },
            { type: '', label: '标签一' },
          ],
          id:'',
          list:{},
          total:0,
          page:1, //页数
          number:12,   //数量
          dialogVisible: false,
          content:{}
        }
      },
      mounted(){
        this.zxlist()
        this.information()

      },
      methods: {
        Details(item){
            this.$router.push({
              name:"GoodsDetails",
              params:{
                name:'item',
                code:item
              }
            });
        },
        handleClose(done) {
          this.$confirm('确认关闭？')
            .then(_ => {
              done();
            })
            .catch(_ => {});
        },
        zxlist(){
          this.http.apiGet('servilist/getCateList','').then(res => {
            this.items = res.data.data
          }).catch(error => {

          })
        },
        information(){
          let paramData = {
            page: this.page, //获取页码
            number: this.number,
            type:this.id || ""
          };
          this.http.apiGet('servilist/index', paramData).then(res => {
            this.servdate = res.data.data
            this.total = res.data.count
          }).catch(error => {

          })
        },
        typeClick(item){
          if(item){
            this.id = item.value
            this.page = 1
          }else{
            this.id = ""
            this.page = 1
          }
          this.information()
        },
        handleSizeChange(val) {
          console.log(`每页 ${val} 条`);
        },
        handleCurrentChange(val) {
          this.page = val
          this.information()
          console.log(`当前页: ${val}`);
        }
      }
    }
</script>

<style scoped>
  .dialogZX{
    background: #e2e2e2 !important;
  }
  .conten{
    min-height: 78vh;
    margin-bottom: 30px;
  }
  .el-tag--dark{
    margin-left: 10px;
  }
  .el-tag{
    margin-left: 10px;
  }
  .el-tag:hover{
    background: #409EFF !important;
    color: #FFFFFF !important;
  }
  .listClass{
    display: flex;
    border: 1px solid #ccc;
    height: 100px;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
  }
  .listClass:hover{
    border: 1px solid #0b96e5;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
  }
  .title{
    display: flex;
  }
  .conten_box{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .paginationBox{
    width: 100%;
    /*position: absolute;*/
    /*bottom: 20px;*/
  }
  .pagination{
    text-align: center;
  }
  .colbox{
    background: #FFFFFF;margin-top: 10px;padding: 10px;height: 68vh;position: relative
  }
  .el-dialog__header{
    position: absolute;
    top:0
  }

  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  .grid-content {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px;
  }

  .rd_title{
    color: #0b96e5;
  }
  .Fw_box{
    width: 257px;
    height: 400px;
    margin-left: 25px;
    /*display: flex;*/
    /*flex-direction: row;*/
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    padding: 0 10px 0 0;
    margin-top: 20px;
    overflow: hidden;
  }
  .Fw_box:hover{
    border: 1px solid #0b96e5;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
  }
  .Fw_img{
    width: 270px;
    height: 200px;
    overflow: hidden;
    /*border-right: 1px solid #cccccc;*/
  }
  .Fw_right{
    /*width: 280px;*/
    padding-left: 10px;
    padding-top: 10px;
  }
  .Fw_title{
    color: #0563C3;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
  }
  .Fw_moner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Fw_button{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    height: 50px;
  }
  .FW_sc{
    width: 40%;
    text-align: center;
    border: 2px solid #0b96e5;
    color: #0b96e5;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    line-height: 30px;
  }
  .FW_xmxq{
    width: 40%;
    text-align: center;
    background: #0b96e5;
    color: #FFFFFF;
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
    line-height: 30px;
  }
  .Fw_conten{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
    height: 63px;
    margin: 15px 0;
  }
  .list_box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .scj{
    font-size: 14px;
    text-decoration: line-through;
  }
  .jg{
    color: red;
    font-weight: bolder;
  }
  .title_col{
    margin-left: 10px;
    font-size: 24px;
    font-family: '微软雅黑';
    font-weight: bold;
    display: flex;
  }
</style>
