<template>
  <div style="background: #f5f7fa">
    <Head name="/Information"></Head>
    <div style="margin: 0 auto;display: flex;justify-content: center;overflow: hidden">
      <img src="@/assets/banner.jpg" alt="banner图" style="margin: 0 auto">
    </div>
<!--    内容主体-->
    <div class="conten">
        <el-row>
            <el-col :span="16"  :offset="4" style="background: #FFFFFF;margin-top: 10px;padding: 10px;box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);" >
              <div class="tag-group">
                <span class="tag-group__title">新闻类别:</span>
                <el-tag @click="typeClick()">
                  全部
                </el-tag>
                <el-tag v-for="(item,key) in items" @click="typeClick(item.id)">
                  {{ item.name }}
                </el-tag>
              </div>
            </el-col>
            <el-col :span="16"  :offset="4" class="colbox"  >

              <div class="listClass" v-for="(item,key) in list" @click="gotoXq(item)">
                <div>
                  <el-image style="width: 100px; height: 100px" :src="item.image"></el-image>
                </div>
                <div class="conten_box" style="width: 100%">
                    <div class="title" style="display: flex;flex-direction: row;justify-content: space-between">
                      <div>{{item.main_title}}</div>
                      <div style="margin-right: 30px">{{item.addtime}}</div>
<!--                      <div>{{item.auditor}}</div>-->
                    </div>
                    <div>{{item.subtitle}}</div>
                </div>
              </div>
              <div class="paginationBox">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page="number"
                  :page-sizes="[10,20,30,50]"
                  :page-size="number"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="total"
                  style="text-align: center"
                >
                </el-pagination>
              </div>
            </el-col>
        </el-row>

    </div>
    <el-dialog
      title="资讯详情"
      custom-class="dialogZX"
      :visible.sync="dialogVisible"
      width="100"
      :fullscreen="true"
      :before-close="handleClose">
      <el-card class="box-card">
        <div style="text-align: center;font-size: 20px;font-weight: bolder">{{content.main_title}}</div>
        <div style="text-align: center;margin-top: 20px;">添加时间：{{content.addtime}}</div>
        <div v-html="content.content" style="width: 50%;margin: 0 auto;background: #fff"></div>
      </el-card>
    </el-dialog>
<!--    浮动菜单-->
    <Leftwechat></Leftwechat>
<!--    底部导航-->
    <Bootm></Bootm>
  </div>
</template>

<script>
  import Head from '@/commen/Head.vue';
  import Bootm from '@/commen/Bootm.vue';
  import Zxfw from '@/commen/Zxfw.vue'
  import Leftwechat from "../commen/Leftwechat";
  import Zxxq from "../web/zx/Zxxq.vue"
    export default {
        name: "Information",
        mixins: [Head,Bootm,Zxfw,Leftwechat],
        components: {
          'Head': Head,
          'Bootm':Bootm,
          "Zxfw":Zxfw,
          "Leftwechat":Leftwechat,
          Zxxq:Zxxq
        },
        data(){
          return{
            items:[],
            id:'',
            list:{},
            total:0,
            page:1, //页数
            number:10,   //数量
            dialogVisible: false,
            content:{}
          }
        },
      mounted(){
        this.zxlist()
        this.information()
      },
      methods: {
        gotoXq(item){
          // let WebLoginStr = localStorage.getItem("WebLoginStr")
          // if(WebLoginStr){
            this.content = item
            this.$router.push({
              name:"Wnews",
              params:{
                name:'item',
                code:item
              }
            });
          // }else{
          //   this.$confirm('登录后可查看详情,是否前往登录页面', '提示', {
          //     confirmButtonText: '确定',
          //     cancelButtonText: '取消',
          //     type: 'warning'
          //   }).then(() => {
          //     this.$router.push('/Login')
          //   }).catch(() => {
          //     this.$message({
          //       type: 'info',
          //       message: '已取消登录'
          //     });
          //   });
          // }

        },
        handleClose(done) {
          this.$confirm('确认关闭？')
            .then(_ => {
              done();
            })
            .catch(_ => {});
        },
        zxlist(){
          this.http.apiGet('servilist/informationtype', '').then(res => {
            this.items = res.data.data
          }).catch(error => {

          })
        },
        information(){
          var bodyFormData = new FormData();
          bodyFormData.set('id', this.id);
          bodyFormData.set('page',this.page)
          bodyFormData.set('number',this.number)
          this.http.apiPost('servilist/information',bodyFormData).then(res => {
            this.list = res.data
            this.total = res.count
          }).catch(error => {

          })
        },
        typeClick(id){
          if(id){
            this.id = id
          }else{
            this.id = ''
          }
          this.information()
        },
        handleSizeChange(val) {
          console.log(`每页 ${val} 条`);
        },
        handleCurrentChange(val) {
          this.page = val
          this.information()
          console.log(`当前页: ${val}`);
        }
      }
    }
</script>

<style scoped>
  .dialogZX{
    background: #e2e2e2 !important;
  }
  .conten{
    height: 78vh;
  }
  .el-tag--dark{
    margin-left: 10px;
  }
  .el-tag{
    margin-left: 10px;
  }
  .el-tag:hover{
    background: #409EFF !important;
    color: #FFFFFF !important;
  }
  .listClass{
    display: flex;
    border: 1px solid #ccc;
    height: 100px;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
  }
  .listClass:hover{
    border: 1px solid #0b96e5;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
  }
  .title{
    display: flex;
  }
  .conten_box{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .paginationBox{
    width: 100%;
    /*position: absolute;*/
    bottom: 20px;
    margin-top: 10px;
  }
  .pagination{
    text-align: center;
  }
  .colbox{
    background: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 20px;
    min-height: 68vh;
    position: relative;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
  }
  .el-dialog__header{
    position: absolute;
    top:0
  }
</style>
