<template>
  <div style="background: #f5f7fa">
    <Head name="/Introduction"></Head>
    <el-row>
      <el-col :span="12" :lg="12" :md="12" :sm="12" :xs="12" :offset="6" class="intro">
        <div style="min-height:85vh;overflow-x: hidden" v-html="introduction"></div>
      </el-col>
    </el-row>
    <Leftwechat></Leftwechat>
    <Bootm></Bootm>
  </div>
</template>

<script>
    import Head from '@/commen/Head.vue';
    import Bootm from '@/commen/Bootm.vue';
    import Zxfw from '@/commen/Zxfw.vue'
    import Leftwechat from "../commen/Leftwechat";
    export default {
        name: "Introduction",
        mixins: [Head,Bootm,Zxfw,Leftwechat],
        components: {
          'Head': Head,
          'Bootm':Bootm,
          "Zxfw":Zxfw,
          "Leftwechat":Leftwechat
        },
      data(){
        return{
          introduction:""
        }
      },
      mounted() {
        this.http.apiGet('introduction/index','').then(res => {
          this.introduction = res.data.data.introduction
        })
      }
    }
</script>

<style scoped>
  .intro{
    margin-top: 20px;
    margin-bottom:20px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px
  }
</style>
