<template>
  <div class="login-container">
    <el-form ref="form" :rules="rules" :model="form" label-width="70px" class="login-form">
      <h2 class="login-title">{{title}}</h2>
      <el-form-item label="用户名" prop="name" v-if="titlestrom">
        <el-input v-model="form.name" placeholder="请输入用户名"></el-input>
      </el-form-item>
      <el-form-item label="手机号" prop="iphone">
        <el-input v-model="form.iphone" placeholder="请输入手机号"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="pwd">
        <el-input v-model="form.pwd" placeholder="请输入密码" show-password></el-input>
      </el-form-item>
      <el-form-item label="验证码" prop="captcha" v-if="titlestrom">
        <el-input v-model="form.captcha" style="width: 150px" placeholder="请输入验证码"></el-input>
        <el-button type="primary" @click="clickYzm" v-if="show">{{yzm}}</el-button>
        <el-button type="primary" v-if="!show">{{count}}S后新发送</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('form')">登录</el-button>
        <el-button type="primary" @click="zc('form')">注册</el-button>
      </el-form-item>
<!--      <span>未注册过的，将执行注册功能</span>-->
    </el-form>
  </div>
</template>

<script>
  export default {
    name: "Login",

    data() {
      const phoneNumber = (rule, value, callback) => {
        const phoneReg = /^1[3|4|5|7|6|8|9][0-9]\d{8}$/
        const telReg1 = /^(0\d{2,3})?\d{7,8}$/
        const telReg2 = /^(0\d{2,3}-|\s)?\d{7,8}$/
        if (phoneReg.test(value)) {
          callback()
        } else if (telReg1.test(value)) {
          callback()
        } else if (telReg2.test(value)) {
          callback()
        } else {
          return callback(new Error('请输入正确的电话号码'))
        }
      }
      return {
        yzm:"获取验证码",
        form: {
          name: "",
          pwd: "",
          captcha:"",
          iphone:""
        },
        rules: {
          pwd: [
            {required: true, message: "密码不能为空", trigger: 'blur'},
            {min: 3, max: 10, message: "密码3-5位", trigger: 'blur'}
          ],
          captcha:[
            {required: true, message: "验证码不能为空", trigger: 'blur'},
          ],
          iphone:[
            {required: true, message: "手机号不能为空", trigger: 'blur'},
            {
              validator: phoneNumber,
              trigger: [ "blur"]
            }
          ]
        },
        timer: null,
        show: true,
        count: '',
        title:"登录",
        titlestrom:false
      };
    },
    methods: {
      //登录
      submitForm(formName){
        if(this.titlestrom){
          this.$refs[formName].resetFields();
          this.title = "登录"
          this.titlestrom = false
          return false;
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
            let form = this.form
            var bodyFormData = new FormData();
            bodyFormData.set('name',form.iphone);
            bodyFormData.set('password',form.pwd);
            this.http.apiPost('/login/login',bodyFormData).then(res => {
                if(res.code){
                  this.$alert('登录成功将跳转至首页', '提示', {
                    confirmButtonText: '确定',
                    type: 'success'
                  }).then(() => {
                    //设置登录缓存
                    let user = JSON.stringify(res.data[0])
                    localStorage.setItem("WebLoginStr",true);
                    localStorage.setItem("user",user);
                    this.$router.go(-1);
                  }).catch(() => {
                    this.$router.push('/Windex')
                    this.$refs[formName].resetFields();
                  });
                }else{
                  this.$message.error('用户名或密码错误');
                }
            })
          } else {
            return false;
          }
        });
      },
      zc(formName){
        if(!this.titlestrom){
          this.$refs[formName].resetFields();
          this.title = "注册"
          this.titlestrom = true
          return false;
        }
          this.$refs[formName].validate((valid) => {
            if (valid) {
              let form = this.form
              var bodyFormData = new FormData();
              bodyFormData.set('name',form.name);
              bodyFormData.set('pwd',form.pwd);
              bodyFormData.set('captcha',form.captcha);
              bodyFormData.set('iphone',form.iphone);
              this.http.apiPost('login/registered',bodyFormData).then(res => {
                if(res.code == 1){

                    this.$confirm('注册成功是否跳转登录页面', '提示', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                      type: 'success'
                    }).then(() => {
                      this.$refs[formName].resetFields();
                      this.title = "登录"
                      this.titlestrom = false
                    }).catch(() => {
                      this.$refs[formName].resetFields();
                    });
                }
              })
            } else {
              return false;
            }
          });

      },

      //验证码状态
      clickYzm(){
        let phone = this.form.iphone
        const phoneReg = /^1[3|4|5|7|6|8|9][0-9]\d{8}$/
        if (phoneReg.test(phone)) {
          this.queryYzm(phone)
          const TIME_COUNT = 90;
          if (!this.timer) {
            this.count = TIME_COUNT;
            this.show = false;
            this.timer = setInterval(() => {
              if (this.count > 0 && this.count <= TIME_COUNT) {
                this.count--;
              } else {
                this.show = true;
                clearInterval(this.timer);
                this.timer = null;
              }
            }, 1000)
          }
        } else {
          this.$message.error('请输入正确手机号');
        }

      },
      //请求接口
      queryYzm(phone){
        var bodyFormData = new FormData();
        bodyFormData.set('iphone', phone);
        this.http.apiPost('obtainsms/index',bodyFormData).then(res => {
          this.$message({
            message: '获取验证码成功',
            type: 'success'
          });
        })
      },
    }
  }
</script>

<style scoped>
  .login-form {
    width: 350px;
    margin: 160px auto; /* 上下间距160px，左右自动居中*/
    background-color: rgb(255, 255, 255, 0.8); /* 透明背景色 */
    padding: 30px;
    border-radius: 20px; /* 圆角 */
  }

  /* 背景 */
  .login-container {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: url("../../assets/login.png");*/
    background: linear-gradient(top left, white, blue);/*渐变从左上角到右下角*/
    background: -ms-linear-gradient(top left, white, blue);
    background: -webkit-linear-gradient(top left, white, blue);
    background: -moz-linear-gradient(top left, white, blue);
  }

  /* 标题 */
  .login-title {
    color: #303133;
    text-align: center;
  }
</style>
