<template>
    <div style="background: #f5f7fa">
      <Head name="/Windex"></Head>
      <div class="block">
        <el-carousel height="419px">
          <el-carousel-item v-for="(item,key) in bannerlist">
            <el-image :src="item.images" class="Banner"></el-image>
          </el-carousel-item>
        </el-carousel>

      </div>

<!--      热门需求-->
        <el-row>
          <el-col :span="16" :lg="16" :md="24" :sm="24" :xs="24" :offset="4">
            <div class="grid-content bg-purple">
              <div class="title_col Rm">
                <div style="display: flex">
                  <div style="width: 6px;height: 28px;background: #3A91F7"></div>
                  <div style="margin-left: 18px;">热门需求</div>
                </div>
                <div class="Ckgd" @click="FWlb">查看更多 >>></div>
              </div>

              <div class="list_box">
                <div class="Fw_box" v-for="(item,key) in servdate" >
                  <div class="Fw_img">
                    <el-image
                      style="width: auto; height: 100%"
                      :src="item.image"
                      >
                    </el-image>
<!--                    :preview-src-list="srcList"-->
                  </div>
                  <div class="Fw_right">
                    <el-tooltip class="item" effect="dark" :content="item.name" placement="top">
                      <div class="Fw_title">{{item.name}}</div>
                    </el-tooltip>
                    <div class="Fw_conten">
                      {{item.introduce}}
                    </div>
                    <div class="Fw_moner">
                      <div class="jg"><i>扶持通：￥{{item.price}}</i></div>
                    </div>
                    <div class="Fw_button">
                      <el-button type="primary" plain size="mini" @click="xq(item)">立即购买</el-button>
                      <el-button type="primary" plain size="mini" @click="xq(item)">项目详情</el-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </el-col>
        </el-row>
      <!--      联系我们-->
       <el-row>
        <el-col :span="16" :lg="16" :md="24" :sm="24" :xs="24" :offset="4">
          <div class="grid-content bg-purple">
            <div class="title_col">
              <div style="width: 6px;height: 28px;background: #3A91F7"></div>
              <div style="margin-left: 18px">联系我们</div>
            </div>
            <Zxfw></Zxfw>
          </div>
        </el-col>
      </el-row>
<!--        新闻动态-->
<!--        <el-row style="margin-bottom: 20px">-->
<!--          <el-col :span="16" :lg="16" :md="24" :sm="24" :xs="24" :offset="4">-->
<!--            <div class="grid-content bg-purple">-->
<!--              <div class="title_col Rm">-->
<!--                <div style="display: flex">-->
<!--                  <div style="width: 6px;height: 28px;background: #3A91F7"></div>-->
<!--                  <div style="margin-left: 18px;">新闻动态</div>-->
<!--                </div>-->
<!--                <div class="Ckgd" @click="RMXQ">查看更多 >>></div>-->
<!--              </div>-->
<!--            <div>-->
<!--              <div class="cooperation">-->
<!--                <div class="cooperation_img">-->
<!--                  <div class="vertical">-->
<!--                    <div style="width: 170px;height: 83px;cursor:pointer;" v-if="list[0]">-->
<!--                      <img style="width: 170px;height: 83px" :src="list[0].image" @click="gotoXq(list[0])">-->
<!--                    </div>-->
<!--                    <div style="width: 170px;height: 83px;cursor:pointer;" v-if="list[1]">-->
<!--                      <img style="width: 170px;height: 83px;" :src="list[1].image" @click="gotoXq(list[1])"></div>-->
<!--                    <div style="width: 170px;height: 83px;cursor:pointer;" v-if="list[2]">-->
<!--                      <img style="width: 170px;height: 83px" :src="list[2].image" @click="gotoXq(list[2])">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="big_img" v-if="list[3]">-->
<!--                    <div><img style="width: 426px;height: 270px" :src="list[3].image" @click="gotoXq(list[3])"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div style="width: 527px;padding-right: 20px;" class="cursor" v-if="list[4]">-->
<!--                  <div style="font-size: 20px;font-weight: bold;">{{list[4].main_title}}</div>-->
<!--                  <div class="copywriting_time">发表于 {{list[4].addtime}}</div>-->
<!--                  <div class="copywriting">-->
<!--                      {{list[4].subtitle}}-->
<!--                  </div>-->
<!--                  <div class="title_col_log" style="margin-top: 15px;margin-right: 0;" @click="gotoXq(list[4])">查看详情&nbsp;》</div>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="u_list" v-if="list">-->
<!--                <div v-for="(item,key) in list" class="u_Box cursor" @click="gotoXq(item)">-->
<!--                  <el-image-->
<!--                    style="width: 4px; height: 4px;margin: auto 10px"-->
<!--                    :src="imgh"-->
<!--                  ></el-image>-->
<!--                  <div class="u_list_title">-->
<!--                    {{item.subtitle}}-->
<!--                  </div>-->
<!--                  <div class="date">-->
<!--                    {{item.addtime}}-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            </div>-->
<!--          </el-col>-->
<!--        </el-row>-->
      <!--      新闻动态 -->
      <el-row style="margin-bottom: 20px">
        <el-col :span="16" :lg="16" :md="24" :sm="24" :xs="24" :offset="4" class="grid-content elColBox">
          <div class="title_col Rm">
            <div style="display: flex">
              <div style="width: 6px;height: 28px;background: #3A91F7"></div>
              <div style="margin-left: 18px;">新闻动态</div>
            </div>
            <div class="Ckgd" @click="RMXQ">查看更多 >>></div>
          </div>
          <div style="display: flex;justify-content: space-around">
            <el-card class="box-card newImgBox">
              <el-carousel>
                <el-carousel-item v-for="(item,key) in lists">
                  <el-image :src="item.image" @click="gotoXq(item)" style="width: 100%;height: 300px"></el-image>
                </el-carousel-item>
              </el-carousel>
            </el-card>
            <div class="ui-box">
              <ui v-if="list">
                <li v-for="(item,key) in list" @click="gotoXq(item)">{{item.subtitle}}</li>
              </ui>
              <div v-if="!list" style="text-align: center;line-height: 400px;font-size: 30px">暂无数据</div>
            </div>
          </div>
        </el-col>
      </el-row>
      <Leftwechat></Leftwechat>

      <Bootm></Bootm>
    </div>
</template>

<script>
    import Head from '@/commen/Head.vue';
    import Bootm from '@/commen/Bootm.vue';
    import Zxfw from '@/commen/Zxfw.vue'
    import Leftwechat from "../commen/Leftwechat";

    export default {
        name: "Windex",
        mixins: [Head,Bootm,Zxfw,Leftwechat],
        components: {
          'Head': Head,
          'Bootm':Bootm,
          "Zxfw":Zxfw,
          "Leftwechat":Leftwechat
        },
        data(){
          return{
            servdate:{},
            activeName: 'second',
            bannerlist:{
              images:''
            },
            items:[],
            list:{
              image:''
            },
            lists:{
              image:''
            },
            imgh:require('../assets/dian.png')
          }
        },
        mounted(){
          this.banner()
          this.servilist()
          this.zxlist()
          this.information()
          this.informations()
        },
        methods:{
          //首页轮播
          banner(){
            let url = 'image/banner'
            this.http.apiGet(url, '').then(res => {
              this.bannerlist = res.data.data
            }).catch(error => {

            })
          },
          //商品表数据
          servilist(){
            let params ={}
                params.page = 1
                params.number = 8
            this.http.apiGet('servilist/index', params).then(res => {
                 this.servdate = res.data.data
            }).catch(error => {

            })
          },
          //新闻列表
          informations() {
            let formdata = new FormData();
            formdata.append('page',1);
            formdata.append('number',5);
            this.http.apiPost('servilist/information',formdata).then(res => {
              this.lists = res.data
            })
          },
          //新闻列表
          information() {
            var bodyFormData = new FormData();
            bodyFormData.set('page',1)
            bodyFormData.set('number',10)
            this.http.apiGet('servilist/information',bodyFormData).then(res => {
              this.list = res.data.data
            })
          },
          handleClick(tab, event) {
            console.log(tab, event);
          },
          gotoXq(item){
            // let WebLoginStr = localStorage.getItem("WebLoginStr")
            // if(WebLoginStr){
              this.content = item
              this.$router.push({
                name:"Wnews",
                params:{
                  name:'item',
                  code:item
                }
              });
            // }else{
            //   this.$confirm('登录后可查看详情,是否前往登录页面', '提示', {
            //     confirmButtonText: '确定',
            //     cancelButtonText: '取消',
            //     type: 'warning'
            //   }).then(() => {
            //     this.$router.push('/Login')
            //   }).catch(() => {
            //     this.$message({
            //       type: 'info',
            //       message: '已取消登录'
            //     });
            //   });
            // }

          },
          //跳转服务列表
          FWlb(){
            this.$router.push({ path:'/Goods'  })
          },
          RMXQ(){
            this.$router.push({ path:'/Information'})
          },
          //跳转商品详情
          gotoGoodsD(item){
            let WebLoginStr = localStorage.getItem("WebLoginStr")
            if(WebLoginStr){
              let user = JSON.parse(localStorage.getItem("user"))
              var bodyFormData = new FormData();
              bodyFormData.set('goods_id',item.id);
              bodyFormData.set('user_id',user.id)
              this.http.apiPost('Browsinghistory/index',bodyFormData).then(res => {

              })
              this.$router.push({
                name:"GoodsDetails",
                params:{
                  name:'item',
                  code:item
                }
              });
            }else{
              this.$confirm('登录后可查看详情,是否前往登录页面', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
              }).then(() => {
                this.$router.push('/Login')
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: '已取消登录'
                });
              });
            }
          },
          xq(item){
            this.$router.push({
              name:"GoodsDetails",
              params:{
                name:'item',
                code:item
              }
            });
          }
        }
    }
</script>

<style scoped>
  .newImgBox >>> .el-carousel__indicator .el-carousel__button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .ui-box{
    width: 45%;
    height:400px;
    margin-top: 20px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    overflow-y:auto;
  }
  .ui-box li{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    border-bottom:1px solid #e2e2e2;
    cursor:pointer
  }
  .elColBox{
    padding: 30px 0;
  }
  .newImgBox{
    width: 45%;
    margin-top: 20px;
    height:400px;
  }
  .Banner{
    width: auto;
    height: 100% ;
  }
  .title_col_log{
    font-size: 14px;
    color:#639fd3;
    float: right;
    margin-right: 34px;
    cursor:pointer;
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  .grid-content {
    background: #FFFFFF;
    margin-top: 20px;
    border-radius: 6px;
    padding: 10px;
  }
  .rd_title{
    color: #0b96e5;
  }
  .Fw_box{
    width: 257px;
    height: 420px;
    margin-left: 35px;
    /*display: flex;*/
    /*flex-direction: row;*/
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    padding: 0 10px 0 0;
    margin-top: 20px;
    overflow: hidden;
  }
  .Fw_box:hover{
    border: 1px solid #0b96e5;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
  }
  .Fw_img{
    width: 270px;
    height: 200px;
    overflow: hidden;
  }
  .Fw_right{
    width: 90%;
    padding: 20px;
    /*margin-top: 20px;*/
    /*margin-left: 10px;*/
  }
  /*.Fw_right:hover{*/
  /*  background: yellow;*/
  /*  option:0.5*/
  /*}*/
  .Fw_title{
    color: #0563C3;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
  }
  .Fw_moner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Fw_button{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    height: 50px;
  }
  .FW_sc{
    width: 40%;
    text-align: center;
    border: 2px solid #0b96e5;
    color: #0b96e5;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    line-height: 30px;
  }
  .FW_xmxq{
    width: 40%;
    text-align: center;
    background: #0b96e5;
    color: #FFFFFF;
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
    line-height: 30px;
  }
  .Fw_conten{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .list_box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .scj{
    font-size: 14px;
    text-decoration: line-through;
  }
  .jg{
    color: red;
    font-weight: bolder;
  }
  .Rm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .title_col{
    margin-left: 10px;
    font-size: 24px;
    font-family: '微软雅黑';
    font-weight: bold;
    display: flex;
  }
/*  新闻动态*/
  .cooperation{
    display: flex;
    flex-direction: row;
    /*margin-left: 20px;*/
    margin-top: 38px;
  }
  .cooperation_img{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-right: 20px;
    overflow: hidden;
    /*background: red;*/
    margin-left: 20px;
  }
  .vertical{
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .big_img{
    width: 426px;
    height: 270px;
    margin-left: 20px;
    cursor:pointer;
  }
  .copywriting{
    /* letter-spacing: 3px; */
    line-height: 25px;
    font-family: '微软雅黑';
    font-size: 16px;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;

  }
  .copywriting_time{
    font-size: 15px;
    margin-top: 10px;
    color:#999999
  }
  .date{
    font-size: 14px;
    color:#999999;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .ul_list{
    display: flex;
    flex-direction: row;
  }
  .u_list{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*background: red;*/
    width: 100%;
    /*justify-content: space-around;*/
  }
  .u_Box{
    display: flex;
    width: 50%;
    height: 60px;
    line-height: 60px;
    align-items: center;
  }
  .u_list ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 50px;
    cursor:pointer;
    width: 650px;
  }
  .u_list ul{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .u_list_title{
    width: 70%;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

  }
  .Ckgd{
    cursor:pointer;
    font-size: 12px;color: #0b96e5;margin-right: 18px;
  }
  .cursor{
    cursor:pointer
  }
</style>
