<template>
    <div>
      <Head name="/Information"></Head>
      <Leftwechat></Leftwechat>
      <div style="text-align: center;font-size: 20px;font-weight: bolder;margin-top: 60px">{{item.main_title}}</div>
      <div style="text-align: center;margin-top: 20px">添加时间：{{item.addtime}}</div>
      <div v-html="item.content" style="width: 50%;margin: 0 auto;background: #fff;min-height: 85vh"></div>
      <Bootm></Bootm>
    </div>
</template>

<script>
  import Head from '@/commen/Head.vue';
  import Bootm from '@/commen/Bootm.vue';
  import Leftwechat from "../commen/Leftwechat";
    export default {
        name: "Wnews",
      mixins: [Head,Bootm,Leftwechat],
      components: {
        'Head': Head,
        'Bootm':Bootm,
        "Leftwechat":Leftwechat
      },
        data() {
          return {
            item:{},
            str:1
          }
        },
        created(){
          setTimeout(()=>{

            if(this.$route.params.code){
              localStorage.setItem('goodsInfoWeb',JSON.stringify(this.$route.params.code))
              this.item = this.$route.params.code
            }else{
              let news = JSON.parse(localStorage.getItem('goodsInfoWeb'))
              this.item = news;
            }
          },300)
        },
    }
</script>

<style scoped>

</style>
